<div class="row pb-4">
  <div class="col-6">
    
      <h2>Occupations</h2>
      <%= @job1 %><br />
      <%= @job2 %><br />
      <%= @job3 %><br />
      <%= @job4 %><br />
      <%= @job5 %><br />
      <%= @job6 %><br />
      <%= @job7 %><br />
      <%= @job8 %><br />
      <%= @job9 %><br />
      <%= @job10 %><br />
      <%= @job11 %><br />
      <%= @job12 %><br />
    </div>
    <div class="col-6"> 
      <h2>Hobbies and Interests</h2>
      <%= @hobby1 %><br />
      <%= @hobby2 %><br />
      <%= @hobby3 %><br />
      <%= @hobby4 %><br />
      <%= @hobby5 %><br />
      <%= @hobby6 %><br />
      <%= @hobby7 %><br />
      <%= @hobby8 %><br />
      <%= @hobby9 %><br />
      <%= @hobby10 %><br />
      <%= @hobby11 %><br />
      <%= @hobby12 %><br />
    </div>
  </div>
</div>