<div class="row pb-4">
  <div class="col-6">
    
      <h2>Traditional Male Names</h2>
      <%= @name1 %><br />
      <%= @name2 %><br />
      <%= @name3 %><br />
      <%= @name4 %><br />
      <%= @name5 %><br />
      <%= @name6 %><br />
      <%= @name7 %><br />
      <%= @name8 %><br />
      <%= @name9 %><br />
      <%= @name10 %><br />
      <%= @name11 %><br />
      <%= @name12 %><br />
    </div>
    <div class="col-6"> 
      <h2>Traditional Female Names</h2>
      <%= @name13 %><br />
      <%= @name14 %><br />
      <%= @name15 %><br />
      <%= @name16 %><br />
      <%= @name17 %><br />
      <%= @name18 %><br />
      <%= @name19 %><br />
      <%= @name20 %><br />
      <%= @name21 %><br />
      <%= @name22 %><br />
      <%= @name23 %><br />
      <%= @name24 %><br />
    </div>
  </div>
</div>