<h2>All Portals</h2>
<%= link_to "'Merican", modern_ipsum_path %><br />
<%= link_to "Apocalypse", apocalypse_ipsum_path %><br />
<%= link_to "Fantasy", fantasy_ipsum_path %><br />
<%= link_to "Horror", horror_ipsum_path %><br />
Military<br />
<%= link_to "Nature", nature_ipsum_path %><br />
<%= link_to "Science Fiction", scifi_ipsum_path %><br />
<%= link_to "Western", western_ipsum_path %><br />
<br />
<%= link_to "Names", names_gen_path %><br />