<div id="other_background_nocenter" style="overflow-y: auto;">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Goodies</li>
    <li class="breadcrumb-item"><%= link_to 'Generators', generators_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Fantasy Portal</li>
  </ol>
</nav>
<%= render 'shared/alert' %>
	<div class="container trans-bg mt-6 pb-5 pt-2 px-5 rounded">

		<div class="row text-correct mt-4 pb-6 text-align-center">
			<div class="col-3 text-correct mb-6 pb-6">
				<div class="row">
					<div class="col-12 pb-6">
						<%= render 'ipsums/sidebar' %>
					</div>
				</div>
				<div class="row">
					<div class="col-12 pb-6">
						
					</div>
				</div>
			</div>
			<div class="col-9 text-correct mb-6 pb-6">
				<div class="row">
					<div class="col-12">
						<h2>Fantasy Ipsum</h2>
						<%= @fantasy_ipsum %>	
					</div>
				</div>
				<div class="row">
					<div class="col-12 mt-4">
						<h2>Tavern and Inn Names</h2>
						<%= @taverns %>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>