<div id="album_show">
	<div id="banner" class="track_banner">
		<%= render 'layouts/header' %>
	</div>
	
  <div id="breadcrumb">
		Goodies
			<span>/</span>
		Generators
	</div>
	
  <div class="wrapper_skinny">
    <div class="side-box">
      <div class="side-content">
        <div class="ipsum">
          <h2>All Portals Generators</h2>
          <ul>
            <li>Apocalypse</li>
            <li><%= link_to "Fantasy", fantasy_path %></li>
            <li><%= link_to "Horror", horror_path %></li>
            <li><%= link_to "Modern", modern_path %></li>
            <li>Nature</li>
            <li>Science Fiction</li>
          </ul>
          <%= link_to "Names", names_gen_path %><br />
          <%= link_to "Ipsums", ipsum_path %>
        </div>
      </div>
    </div>
</div>