
<div class="buy_links">
  <ul class="cf">
    <li class="cf"><% if @track.buy_url? %><%= link_to image_tag('icons/buy-icon.jpg'), @track.buy_url %><% end %></li>
    <li class="cf"><% if @track.amazon_url? %><%= link_to image_tag('icons/amazon-icon.jpg'), @track.amazon_url, width: 16 %><% end %></li>
    <li class="cf"><% if @track.bn_url? %><%= link_to image_tag('icons/bn-icon.jpg'), @track.bn_url %><% end %></li>
    <li class="cf"><% if @track.audible_url? %><%= link_to image_tag('icons/audible-icon.jpg'), @track.audible_url %><% end %></li>
    <li class="cf"><% if @track.apple_url? %><%= link_to image_tag('icons/ibooks-icon.jpg'), @track.apple_url %><% end %></li>
    <li class="cf"><% if @track.kobo_url? %><%= link_to image_tag('icons/kobo-icon.jpg'), @track.kobo_url %><% end %></li>
    <li class="cf"><% if @track.blurb_url? %><%= link_to image_tag('icons/blurb-icon.jpg'), @track.blurb_url %><% end %></li>
    <li class="cf"><% if @track.smashwords_url? %><%= link_to image_tag('icons/smashwords-icon.jpg'), @track.smashwords_url %><% end %></li>
  </ul>
</div>