<%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<div class="field">
    <%= f.label :title, class: "title" %><br />
    <%= f.text_field :title, :autofocus => true, required: true %>
  </div>

  <div class="field">
    <%= f.label :description, class: "title" %><br />
    <%= f.text_area :description, autofocus: true %>
  </div>
  
  <div class="field">
    <div class="title">Need to make a new anthology for this?&nbsp;</div><%= link_to "Click here.", new_album_path, class: "title" %><br />
    <%= f.collection_select(:album_id, current_user.albums, :id, :title, prompt: 'Select Anthology if there is one.') %><br />
  </div>
  
  <div class="field">
    <%= f.label "Read by:", class: "title" %><br />
    <%= f.text_field :vocals, autofocus: true %>
  </div>

  <div class="field">
  <div class="title"><i> Add up to two genres. *Separate genres with commas. Example: 
  "young adult, paranormal romance"</i></div>
  <%= f.text_field :tag_list, required: true, value: @track.tag_list.join(", ") %>
  </div>
  
  <div class="field">
    <%= f.radio_button :explicit, 'standard' %> 
    <%= label :explicit_standard, 'Not explicit' %>
    <%= f.radio_button :explicit, 'explicit' %>
    <%= label :explicit_explicit, 'Explicit content' %>
  </div>
  
  <div class="field">
    <%= f.label "Track image", class: "title"  %><br />
    <%=  f.file_field :avatar %>
  </div>
  
  <div class="field">
    <%= f.label "Audio file", class: "title"  %><br />
    <%=  f.file_field :audio %>
  </div>
  
	<div class="field">
    <%= f.label :buy_url, class: "title" %><br />
    <%= f.text_field :buy_url, :autofocus => true %>
  </div>
  
	<div class="field">
    <%= f.label :amazon_url, class: "title" %><br />
    <%= f.text_field :amazon_url, :autofocus => true %>
  </div>
  
	<div class="field">
    <%= f.label :bn_url, class: "title" %><br />
    <%= f.text_field :bn_url, :autofocus => true %>
  </div>
  
	<div class="field">
    <%= f.label :kobo_url, class: "title" %><br />
    <%= f.text_field :kobo_url, :autofocus => true %>
  </div>
  
	<div class="field">
    <%= f.label :audible_url, class: "title" %><br />
    <%= f.text_field :audible_url, :autofocus => true %>
  </div>
  
	<div class="field">
    <%= f.label :blurb_url, class: "title" %><br />
    <%= f.text_field :blurb_url, :autofocus => true %>
  </div>
  
	<div class="field">
    <%= f.label :smashwords_url, class: "title" %><br />
    <%= f.text_field :smashwords_url, :autofocus => true %>
  </div>
  
	<div class="field">
    <%= f.label :apple_url, class: "title" %><br />
    <%= f.text_field :apple_url, :autofocus => true %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "button button_highlight button_block" %>
  </div>
<% end %>