<div class="container full-form-container mt-2">
    <div class="row justify-content-center bg-white p-3 p-sm-4 rounded">
      <div class="col-11">
        <fieldset> 
        <div class="text-center mb-1">
            <%= image_tag("yarnn-icon-red.png", width: 90) %>
            <h2 class="site-blue">Create/Edit New Track</h2>
        </div>
        <p>Tracks are the key feature of this site, so it helps to have high-quality audio. You can also set your track under a pseudonym, include a link to a related product (Amazon, iTunes, etc.), 
and upload a virtual product of your own into our marketplace. People will also be able to favorite your track to add it to their official 
station, so make sure it's a good one!<br><br>
<%= link_to "See our post here on how to get the right audio quality.", wiki_path(24), class: "title site-blue" %> (You should strive for a volume of 
-16 LUFS.)</p>

	<hr class="colorgraph">
  <%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2 class="errors"><%= pluralize(@track.errors.count, "error") %> prohibited your track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |message| %>
        <li class= "errors"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h2 class="site-blue">Creator Info</h2>
  <div class="form-group">
    <h4 class="site-blue">Pseudonym or Real Name?</h4>
    <small class="form-text text-muted"><i>Ignore this if you want to use your real name.</i></small>
    <%= f.collection_select(:pseudonym_id, current_user.pseudonyms, :id, :name, { :include_blank => 'Select pseudonym, if any.' }, {class: "form-control mt-2"}) %>
    <small id="albumHelp" class="form-text text-muted">Need to make a new pseudonym for this? <%= link_to "Click here.", new_pseudonym_path %>
     Note: this will open the pseudonym form and you will lose progress here. 
     You can also skip this step, add a pseudonym later, then edit your album to include the pseudonym.
    </small>
  </div>
  
  <hr class="colorgraph">
  <h2 class="site-blue">Track Details</h2>
  <div class="form-group">
    <h4 class="site-blue">Title</h4>
    <%= f.text_field :title, required: true, class: "form-control input-lg", placeholder: "Title" %>
  </div>
  
  <div class="form-group">
    <h4 class="site-blue">Description</h4>
    <%= f.rich_text_area :body, rows: 15 %>
  </div>

  <div class="form-group">
    <h4 class="site-blue">Description</h4>
    <%= f.text_area :description, class: "form-control", placeholder: "Track description..." %>
  </div>
  
  <div class="form-group">
    <h4 class="site-blue">Album</h4>
    <%= f.collection_select(:album_id, current_user.albums, :id, :title, { prompt: 'Select an album, if any.' }, {class: "form-control"}) %>
    <small id="albumHelp" class="form-text text-muted">Need to make a new album for this? <%= link_to "Click here.", new_album_path %></small>
  </div>
  
  <div class="form-group">
    <h4 class="site-blue">Vocals</h4>
    <%= f.text_field :vocals, class: "form-control", placeholder: "Read by..." %>
    <small id="titleHelp" class="form-text text-muted">Whose voice is featured on this track?</small>
  </div>
  
  <div class="form-group">
    <h4 class="site-blue">Voice Actor Link</h4>
    <%= f.text_field :voice_site, class: "form-control", placeholder: "Actor site" %>
    <small id="titleHelp" class="form-text text-muted">Link to voice actor site so other users can find them.</small>
  </div>
  
  <div class="form-group">
    <h4 class="site-blue">Genres</h4>
    <%= f.text_field :tag_list, class: "form-control", placeholder: "Genres" %>
    <small id="titleHelp" class="form-text text-muted">Enter up to two genres; separate with commas. (error will reference "Tag list" for this)</small>
  </div>

    
    <div class="form-group">
      <h4 class="site-blue">Is this track explicit?</h4>
    </div>
    <div class="row">
      <div class="col-6 justify-content-center">
          <%= f.radio_button :explicit, 'standard' %> 
          <%= label :explicit_standard, 'Not explicit', class: "text-secondary" %>
      </div>
      <div class="col-6 justify-content-center">
          <%= f.radio_button :explicit, 'explicit' %>
          <%= label :explicit_explicit, 'Explicit content', class: "text-secondary" %>
      </div>
    </div>

  
  <hr class="colorgraph">
  <h2 class="site-blue">Track Image</h2>
  
  <div class="row">
    <div class="col-12 justify-content-center">
      <%=  f.file_field :image, class: "form-control-file site-blue" %>
      <small id="imageHelp" class="form-text text-secondary">For best results, use an image that's the same height and width.</small>
    </div>
  </div>
  
  <hr class="colorgraph">
  <h2 class="site-blue">Audio File Info</h2>
  <div class="row">
    <div class="col-12 justify-content-center">
      <%= f.label "Audio File", class: "text-secondary" %><br/>
      <%=  f.file_field :audio, class: "form-control-file site-blue" %>
      <div class="small" style="color: #fc0000;"><i>*Must be in mp3, wav, or ogg format</i></div>
    </div>
  </div>
  
  <hr class="colorgraph">
  <h2 class="site-blue">Linked Products</h2>
  <p>If you link products to this track, users who like the track will know exactly where to go to get more of what they want: your content.</p></p>
  <div class="form-group">
    <h4 class="site-blue">Our Marketplace</h4>
    <%= f.collection_select(:listing_id, current_user.listings, :id, :title, { prompt: 'Select product listing, if any.' }, {class: "form-control"}) %>
    <small id="albumHelp" class="form-text text-muted">Need to upload a new product listing to our marketplace for this? <%= link_to "Click here.", new_listing_path %></small>
  </div>
  
	<div class="form-group">
	  <h4 class="site-blue">External Link</h4>
    <%= f.text_field :buy_url, class: "form-control", placeholder: "Purchase Link" %>
    <small id="albumHelp" class="form-text text-muted">Is there another related product you can link this track with? Perhaps a physical product your audience might be interested in?</small>
  </div>
  
  <hr class="colorgraph">
	<div class="row justify-content-center">
		<div class="col-xs-12 col-sm-12 col-md-6">
		  <h3><%= f.button "Submit Track", class: "btn btn-lg btn-outline-secondary btn-block mb-2", data: {disable_with: "<i class= 'fa fa-spinner fa-spin'></i> Submitting..." } %></h3>
		</div>
	</div>

      <% end %>
      </fieldset>
    </div>
  </div>
</div>