<% content_for :head do %>
<!-- Facebook -->
  <meta property="og:title" content="<%= @track.title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <% if @track.image? %>
      <meta property="og:image:url" content="<%= @track.image.url %>" />
  <% end %>
  <meta property="og:image:height" content="600" />
  <meta property="og:image:width" content="600" />
  <meta property="og:description" content="<%= truncate(@track.description, length: 250) %>" />
  <meta property="og:site_name" content="Yarnn.FM" />
  <meta property="fb:app_id" content="395394867776017" />
  
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@totaldanarchy">
  <meta name="twitter:title" content="<%= @track.title %>">
  <meta name="twitter:description" content="<%= truncate(@track.description, length: 250) %>">
  <meta name="twitter:creator" content="<%= @track.user.username %>">
  <% if @track.image? %>
      <meta name="twitter:image:src" content="<%= @track.image.url %>">
  <% end %>
<% end %>

<div id="other_background_nocenter" style="overflow-y: auto;">
<title><%= @track.title %> | 
    <% if @track.pseudonym_id? %>
  	  <%= @track.pseudonym.name %>
  	<% else %>
  	  <%= @track.user.name %>
  	<% end %>
</title>
<div class="row mt-2">
  <div class="col-sm-12">
     <div id="divInfo" class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true" class="float-right">&times;</span></button>
          <small>
            <p class="mb-0">If the audio playlist doesn't show up automatically, try refreshing the page.</p>
          </small>
    </div>
  </div>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mr-3">
    <li class="breadcrumb-item"><i class="fas fa-user-astronaut site-blue mx-2" title="user"></i><%= link_to @track.user.username, user_path(@track.user) %></li>
    <% if @track.album_id? %>
    <li class="breadcrumb-item">
  	    <i class="fas fa-compact-disc site-blue mx-2" title="album"></i><%= link_to @track.album.title, album_path(@track.album_id) %>
  	</li>
  	<% end %>
    <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-headphones site-blue mx-2" title="track"></i><%= @track.title %></li>
    
    <% if @track.user == current_user %>
    <li class="breadcrumb-item site-red">
        <%= link_to edit_track_path(@track) do %>
    	    <small><i class="fas fa-cog site-red mx-2"></i>Edit Track</small>
        <% end %>
        <%= link_to track_path(@track), method: :delete, data: { confirm: "Are you sure?" } do %>
            <small><i class="fa fa-trash mx-2 site-red" title="delete"></i>Delete</small>
        <% end %>
    </li>
    <% end %>
  </ol>
</nav>
<%= render 'shared/alert' %>
<section>
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-md-4 col-sm-6 ">
                <div class="bg-white px-3 mt-md-3 mt-1 mb-md-3 mb-0 text-muted crown-border rounded">
                	<div class="row py-2 mb-3 bg-light border-bottom">
                        <div class="col-12">
                            <h3 class="site-red text-center text-lg-left" style="display:inline-block"><%= @track.title %>
                            <% if (user_signed_in? && current_user.role == "admin") %>
                                <div class="small ml-3 text-secondary" style="display:inline-block">#<%= @track.id %></div>
                            <% end %>
                            <%= @track.duration %> 
                                <% if @track.user == current_user %>
    							    <%= link_to edit_track_path(@track) do %>
    								    <i class="fas fa-cog site-red ml-2" style="font-size: 18px;"></i>
    							    <% end %>
    						    <% end %>
                            </h3>
                    		<div class="row">
                        		<div class="col-lg-6 col-md-12 text-center text-lg-left">
                            		<% if @track.user.image? %>
        								<%= image_tag(@track.user.image.url, style: "width: 20px !important; display: inline-block;  border: none; vertical-align:middle;", title: @track.user.username) %>
        							<% else %>
        								<%= image_tag('default_track.jpg', style: "width: 20px !important; display: inline-block; border: none; vertical-align:middle;", title: @track.user.username) %>
        							<% end %>
        							
        							<% if @track.pseudonym_id? %>
        								<p class="ml-1 site-red" style="display:inline-block;"><%= link_to @track.pseudonym.name, user_path(@track.user) %></p>
        							<% else %>
        								<p class="ml-1 site-red" style="display:inline-block;"><%= link_to @track.user.name, user_path(@track.user) %></p>
        							<% end %>
    							</div>
    							<div class="col-lg-6 col-md-12 text-center text-lg-right mb-lg-0 mb-2">
        							<% if user_signed_in? && current_user != @track.user %>
                                      <%= render 'follow_form' %>
                                    <% end %>
    							</div>
							</div>
                        
                            <div class="ribbon_box">
                            	<% if @track.album_id? %>
	                          		<% if @track.album.serial == "serial" %>
	                            		<div class="ribbon"><span>SERIAL</span></div>
	                          		<% end %>
                          		<% end %>
                    			<%= image_tag @track.image.url(:thumb), title: @track.title, class: "image-full" %>
                    		</div>
                    		
                    		<div class="row">
                            	<div class="col-12">
                                	<div class="row p-2">
                                	    <div class="col-12">
                                	    	<%= @track.description %>
        								</div>
                                	</div>
                            	</div>
                            </div>
                		</div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-6">
                <div class="bg-white px-3 mt-md-3 mt-1 mb-2 text-muted crown-border rounded">
                    <div class="row py-2 bg-light border-bottom">
                    	<div class="col-6 small">
                    		<div class="row">
                    			<div class="col-6">
                    				<% if @track.album_id? %>
										<b><i>Album:</i></b> <%= link_to @track.album.title, album_path(@track.album_id), class: "site-red" %>
								    <% else %>
								        <b><i>Album:</i></b> <span class="site-red">none</span>
									<% end %>	
                    			</div>
                    			<div class="col-6">
                    				<% if @track.vocals? %>
										<b><i>Voiced by:</i></b> 
										<% if @track.voice_site? %>
										    <small><i class="fas fa-globe site-blue" title="website"></i> <%= link_to @track.vocals, @track.voice_site %></small>
										<% else %>
										    <%= @track.vocals %>
										<% end %>
									<% else %>
									    <b><i>Voiced by:</i></b> unlisted
									<% end %>
                    			</div>
                    		</div>
                    	</div>
                    	<div class="col-2">
                    		<%= render 'tracks/index_favorites', :track => @track %>
                    		<i class="fas fa-comments text-muted ml-3"></i>
                            <span class="ml-2 site-red"><%= @track.comments.count %></span>
                    	</div>
                    	<div class="col-4 text-right">
                    		<% @track.tags.map(&:name).each do |tag| %>
                			  	<div class="btn btn-outline-danger btn-sm mr-3">
                				  <%= link_to tag, tag_path(tag) %>
                				</div>
            			  <% end %>
                    	</div>
                    </div>
                    <% if @track.listing_id? %>
                    <div class="row py-2 bg-light border-bottom">
                    	
                    	<div class="col-4">
                    			
							<h2 class="site-red"><%= link_to @listing.title, listing_path(@track.listing_id) %></h2>
							<span class="small"><%= @listing.filetype %></span>		
							<div class="star-rating" data-score=<%= @listing.avg_rating %> ></div>
									
							<h2><%= number_to_currency(@listing.price) %></h2>
		
	  						<% unless @listing.user == current_user %>
							<% if @purchased.empty? %>
								<br>
								<%= render 'listings/listing_transaction_form', transaction: @transaction %><br>
								<%= link_to "Buy It Now", new_listing_transaction_path(@listing), data: { no_turbolink: true }, class: "button button_blue button_block", style: "color: #fff; width: 30%" %>
							<% else %>
								<br>
								<%= link_to "Download", purchases_path, class: "button button_blue button_block", style: "color: #fff; width: 30%" %>
							<% end %>
						<% end %>
                    	</div>
                    	<div class="col-5">
                    		<h3>Description:</h3>
                    		<%= @listing.description %>
                    	</div>
                    	<div class="col-3">
                    		<%= link_to listing_path(@track.listing_id) do %>
								<%= image_tag @listing.image.url(:thumb), title: @listing.title, class: "image-full" %>
							<% end %>
                    	</div>
                    </div>
                
                <% end %>
                </div>
                
				<div class="row">
                    <div class="col-12">
                        <div>
                            <div class="blog_wrapper rounded crown-border">
                		      <div class="row p-4">
                		        <div class="col-12 mb-2">
                  		      <% if user_signed_in? %>
                                <%= render "comments/form" %>
                                <% if @user_flag.try(:any?) %>
                                    <small><i class="fas fa-flag site-red mx-2"></i>You reported this.</small>
                                <% else %>
                                    <%= render "tracks/flag_form" %>
                                <% end %>
                              <% else %>
                                <small><em>You must be <b><%= link_to "logged in", new_user_session_path %></b> to comment.</em></small>
                              <% end %>
                            </div>
                            <div class="col-12">
                              <%= render 'comments/comments', :commentable => @track %>
                            </div>
                          </div>
                        </div>
                        </div>
                    </div>
          
                </div>
              
            </div>
        </div>
    </div>
<%= render 'track_play' %>
</section>
</div>


<script>
  $('.star-rating').raty({
    path: 'https://s3-us-west-2.amazonaws.com/yarnn/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>