<div id="album_show">
	<div id="banner" class="track_banner">
	  <%= render 'layouts/header' %>
	</div>

  <%= render 'shared/alert' %>
	
	<div id="breadcrumb">
	  <%= link_to @track.user.username, user_path(@track.user) %>
	    <span>/</span>
	  <% if @track.pseudonym_id? %>
	  	<%= @track.pseudonym.name %>
	  <% else %>
	  	<%= @track.user.name %>
	  <% end %>
			<span>/</span>
		<% if @track.album_id? %>
			<%= link_to @track.album.title, album_path(@track.album_id) %>
			  <span>/</span>
		<% end %>
			<%= @track.title %>
	</div>
  	
  <div class="container">
    <div class="wrapper-side-left" style="width: 25%">
	    <div class="main_avatar">
	    
	  	  <%= image_tag(@track.image.url(:thumb), class: "image", title: @track.title) %>
	  	  
	      <div class="side-box">
	        <div class="side-content">
	          <h2>Genres</h2>
	          <p class="track_count"><% @track.tag_list.map.each do |tag| %><span style="margin-right: .5rem"><i><%= link_to tag, tag_path(tag) %></span></i><% end %></p>
	        </div>
	      </div>
	      <% if @track.listing_id? %>
	      
	      <div class="side-box">
	        <div class="side-content">
									<%= link_to listing_path(@track.listing_id) do %>
										<%= image_tag(@listing.image.url, class: "image", title: @listing.title) %>
									<% end %>
									
									<div class="listing_overview">
									  <p class="listing_type"><%= @listing.filetype %></p>
										<h2><%= link_to truncate(@listing.title, length: 24, separator: ' '), listing_path(@track.listing_id) %></h2>
										
										<div class="star-rating" data-score=<%= @listing.avg_rating %> ></div>
										
										<br>
										
										<% if @listing.user.image? %>
						          <%= image_tag(@listing.user.image.url, style: "width: 20px !important; display: inline-block;  border: none; vertical-align:middle;", title: @listing.user.username) %>
						        <% else %>
						          <%= image_tag('default_track.jpg', style: "width: 20px !important; display: inline-block; border: none; vertical-align:middle;", title: @listing.user.username) %>
						        <% end %>
										
										<% if @listing.pseudonym_id? %>
											<p class="listing_info" style="display:inline-block;"><%= link_to @listing.pseudonym.name, user_path(@listing.user) %></p>
										<% else %>
											<p class="listing_info" style="display:inline-block;"><%= link_to @listing.user.name, user_path(@listing.user) %></p>
										<% end %>
										<br>
										<h2 style="text-align:center"><%= number_to_currency(@listing.price) %></h2>
										<%= link_to "Buy It Now", new_listing_transaction_path(@listing), data: { no_turbolink: true }, class: "button button_blue button_block", style: "color: #fff" %>

									</div>
	        </div>
	      </div>
	      <% end %>
	    </div>
		</div>
  
		<div class="wrapper-med-right" style="width: 70%; clear: right">
		    <div class="side-box" style="width: 96%">
		      <div class="side-content">
		      	<div class="icons">
		        	<h2><%= @track.title %>
										<% if @track.user == current_user %>
										  <%= link_to edit_track_path(@track) do %>
											  <%= image_tag'icons/gear.svg', width: 12 %>
										  <% end %>
										<% end %></h2>
							<p class="track_count">
							<%= link_to @track.user.username, user_path(@track.user) %> /
								<% if @track.pseudonym_id? %>
									<%= @track.pseudonym.name %> 
								<% else %>
									<%= @track.user.name %></p>
								<% end %>
		        	<br>
		        	<p class="track_count"><%= @track.description %></p>
		        	<br>
						<% if @track.album_id? %>
							<p class="track_count"><b><i>Album:</i></b> <%= link_to @track.album.title, album_path(@track.album_id) %>
						<% end %>
						<% if @track.vocals? %>
							<p class="track_count"><b><i>Voiced by:</i></b> <%= @track.vocals %></p>
						<% end %>

            </div>
		        <div class="icons">
		        	<div id="favorites_<%= @track.id %>"><%= render 'favorites' %></div><%= render 'track_stats' %>
            </div>
		      </div>
		    </div>
		    
        <div class="side-box" style="width: 96%">
		      <div class="side-content">
		        <% if user_signed_in? %>
              <%= render "comments/form" %>
            <% else %>
              <div class="small" style="color: #fc0000;"><em><strong>You must be logged in to comment.</strong></em></div>
            <% end %>
            <%= render 'comments/comments', :commentable => @track %>
          </div>
        </div>
	</div>
	<%= render 'track_play' %>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3-us-west-2.amazonaws.com/yarnn/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>