<div id="other_background" style="overflow-y: auto;">
  
  <div class="container wide-form-container">
    <div class="row justify-content-center trans-bg-light p-3 mt-3 mb-md-3 p-sm-4 mt-sm-5 rounded">
      <div class="col-11">
        <fieldset> 
        <%= image_tag("yarnn-icon.png", size: "120x90") %>
        <h2 class="site-blue">Create New Blog Post</h2>
        <p style="color: white;">You are about to create a new blog post. By default it will be saved as a draft. Be sure to published
        it when you're ready.<br/>
  
	<hr class="colorgraph">
  <%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h2 class="site-blue">Blog Details</h2>
  <div class="form-group">
    <%= f.text_field :title, :autofocus => true, required: true, class: "form-control input-lg", placeholder: "Title" %>
  </div>

  <div class="form-group">
    <%= f.trix_editor :content, autofocus: true, required: true, class: "form-control text-justify-left", placeholder: "Lorum ipsum..." %>
  </div>
  
    <div class="row">
      <div class="col-6 justify-content-center">
          <%= f.radio_button :published_status, 'published' %> 
          <%= label :published_status_published, 'Published', class: "text-secondary" %>
      </div>
      <div class="col-6 justify-content-center">
          <%= f.radio_button :published_status, 'draft' %> 
          <%= label :published_status_draft, 'Draft', class: "text-secondary" %>
      </div>
    </div>

  
  <hr class="colorgraph">
  <h2 class="site-blue">Blog Image</h2>
  
  <div class="row">
    <div class="col-12 justify-content-center">
      <%=  f.file_field :image, class: "form-control-file text-secondary" %>
    </div>
  </div>
  
  <hr class="colorgraph">
	<div class="row justify-content-center">
		<div class="col-xs-12 col-sm-12 col-md-6">
		  <h3><%= f.submit "Submit Post", class: "btn btn-lg btn-outline-secondary btn-block mb-2" %></h3>
		</div>
	</div>

      <% end %>
      </fieldset>
    </div>
  </div>
</div>