<div id="blog_show">
	<div id="banner" class="track_banner">
	  <%= render 'layouts/header' %>
	</div>
	
  <%= render 'shared/alert' %>
  
  <div class="wrapper_skinny_left">
    <%= render 'users/avatar' %>
    <%= render 'users/followers' %>
    <%= render 'users/following' %>
  </div>

  <div class="wrapper_wide_right_right">
    
    <div class="blog_wrapper">
      <h1><%= @blog.title %></h1>
      <div class="blog_info">
        <div class="blog_info_user_avatar">
          <%= image_tag @blog.user.image.url(:thumb), width: 40 %>
        </div>
        <div class="blog_info_user_name"><%= link_to @blog.user.name, user_path(@blog.user) %></div>
        <div class="blog_info_user_stats">- 
          <%= pluralize( @blog.user.followers.count, 'follower' ) %> / 
          <%= pluralize( @blog.user.tracks.count, 'track' ) %> / 
          <%= pluralize( @blog.user.albums.count, 'album' ) %></div>
        <br />
        <div class="blog_info_date">
          <%= time_ago_in_words(@blog.created_at) %> ago
          <% if @blog.user == current_user %>
            <br /><%= link_to "edit post", edit_blog_path(@blog) %>
          <% end %>
            
        </div>
      </div>
      
      <div class="blog_content">
        <%= @blog.content.html_safe %>
      </div>
    </div>
    
        <div class="comment_wrapper">
		      <div class="side-content">
		        <% if user_signed_in? %>
              <%= render "comments/form" %>
            <% else %>
              <div class="small" style="color: #fc0000;"><em><strong>You must be logged in to comment.</strong></em></div>
            <% end %>
            <%= render 'comments/comments', :commentable => @blog %>
          </div>
        </div>
  </div>
  
</div>