<% content_for :head do %>
  <!-- Facebook -->
  <meta property="og:title" content="<%= @blog.title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <% if @blog.image? %>
  <meta property="og:image:url" content="<%= @blog.image.url %>" />
  <% end %>
  <meta property="og:description" content="<%= truncate(strip_tags(@blog.body.to_s), length: 250)%>" />
  <meta property="og:site_name" content="Yarnn.FM" />
  <meta property="fb:app_id" content="395394867776017" />
  
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@totaldanarchy">
  <meta name="twitter:title" content="<%= @blog.title %>">
  <meta name="twitter:description" content="<%= truncate(strip_tags(@blog.body.to_s), length: 250)%>">
  <meta name="twitter:creator" content="<%= @blog.user.username %>">
  <% if @blog.image? %>
  <meta name="twitter:image:src" content="<%= @blog.image.url %>">
  <% end %>
<% end %>

<body class="bg-white">
<%= render 'shared/alert' %>

  <!-- Page Header -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <% if @blog.image? %>
              <%= image_tag @blog.image.url, class: "mt-4 mb-2 p-2 border image-full" %>
            <% end %>
          <div class="post-heading mt-2">
            <h1><%= @blog.title %></h1>
          </div>
          
          <div class="row mt-2">
            <div class="col-3 col-md-2 align-center">
              <% if @blog.user.image? %>
								<%= image_tag @blog.user.image.url(:thumb), class: "image-full" %>
							<% else %>
								<%= image_tag('default_track.jpg', class: "image-full") %>
							<% end %>
            </div>
            <div class="col-9 col-md-10">
              <div class="row mb-2">
                    <div class="col-12">
                      <small><i>Posted by</i></small> <%= link_to @blog.user.name, user_path(@blog.user), class: "mx-1" %>
      						    <small><i>- <%= time_ago_in_words(@blog.created_at) %> ago</i>
      						    
      						    <% if @blog.user == current_user %>
                        <i class="fas fa-cog site-red mr-1 ml-3"></i><%= link_to "edit", edit_blog_path(@blog) %>
                      <% end %>
                      </small>
                    </div>
              </div><!-- end row -->
              <div class="row mb-4">
                <div class="col-12">
                  <ul class="nav text-uppercase mb-2">
      								<li class="site-blue small mr-3">
      									<i class="fas fa-headphones site-blue" title="tracks"></i> Tracks (<%= @blog.user.tracks.count %>)
      								</li>
      								<li class="site-blue small mr-3">
      									<i class="fas fa-compact-disc site-blue" title="albums"></i> Albums (<%= @blog.user.albums.count %>)
      								</li>
      								<li class="site-blue small mr-3">
      									<i class="fas fa-pen-nib site-blue" title="blog posts"></i> Blog Posts (<%= @blog.user.blogs.count %>)
      								</li>
      						</ul>
      						<ul class="nav">
      								<li class="mr-3">
      								  <%= link_to like_blog_path(@blog), method: :put, remote: true do %><i class="far fa-thumbs-up site-red" title="upvotes"></i><% end %> <div id="upvote" style="display: inline;"><%= @blog.get_upvotes.size %></div>
      								</li>
      								<li class="mr-3">
      								  <%= link_to dislike_blog_path(@blog), method: :put, remote: true do %><i class="far fa-thumbs-down site-red" title="downvotes"></i><% end %> <div id="downvote" style="display: inline;"><%= @blog.get_downvotes.size %></div>
      								</li>
      								<li class="mr-3">
      								  <small>
      								  <% if @user_flag.try(:any?) %>
                            <i class="fas fa-flag site-red ml-3 mr-2"></i>You reported this.
                        <% else %>
                            <%= render "blogs/flag_form" %>
                        <% end %>
                        </small>
      								</li>
      						</ul>
  
                </div>
              </div><!-- end row -->
            </div>
          </div>
            
        </div><!-- end column -->
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <%= @blog.body %>
          <hr class="colorgraph my-3">
          <div class="row">
            <div class="col-12 mb-2">
    	        <% if user_signed_in? %>
                <%= render "comments/form" %>
              <% else %>
                <small><em>You must be <b><%= link_to "logged in", new_user_session_path %></b> to comment.</em></small>
              <% end %>
            </div>
            <div class="col-12">
              <%= render 'comments/comments', :commentable => @blog %>
            </div>
          </div><!-- end row -->
        </div>
        
      </div>
      
    </div>
  </article>
  
</body>