  <div id="breadcrumb">
		Goodies
			<span>/</span>
		<%= link_to 'Generators', generators_path %>
			<span>/</span>
		Ipsum
	</div>

  <div class="wrapper_skinny">
    <div class="side-box">
      <div class="side-content">
        <div class="ipsum">
          <h2>Here Are Some Names</h2>
          <%= @name1 %><br />
          <%= @name2 %><br />
          <%= @name3 %><br />
          <%= @name4 %><br />
          <%= @name5 %><br />
          <%= @name6 %><br />
          <%= @name7 %><br />
          <%= @name8 %><br />
          <%= @name9 %><br />
          <%= @name10 %><br />
          <%= @name11 %><br />
          <%= @name12 %><br /><br />
          
          <%= @name13 %><br />
          <%= @name14 %><br />
          <%= @name15 %><br />
          <%= @name16 %><br />
          <%= @name17 %><br />
          <%= @name18 %><br />
          <%= @name19 %><br />
          <%= @name20 %><br />
          <%= @name21 %><br />
          <%= @name22 %><br />
          <%= @name23 %><br />
          <%= @name24 %><br />
        </div>
      </div>
    </div>
  </div>