<div id="album_show">
	<div id="banner" class="track_banner">
	  <%= render 'layouts/header' %>
	</div>

    <div class="form_wrapper_skinny">
      <div id="form">
      <h2>Create an Account</h2>
      <br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        
      	<div class="field">
          <%= f.label :username, class: "title" %><br />
          <%= f.text_field :username, :autofocus => true, required: true %>
        </div>

      	<div class="field">
          <div class="tooltip" style="float:right">more info
            <span class="tooltiptext">You should use your real name here. You'll be able to add pseudonyms when you upload content, and you 
            can manage them all through just one account!</span>
          </div>
          <%= f.label :name, class: "title" %><br />
          <%= f.text_field :name, :autofocus => true, required: true %>
        </div>
  
        <div class="field">
          <%= f.label :email, class: "title" %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        
        <div class="field">
          <div class="tooltip" style="float:right">more info
            <span class="tooltiptext">Is this a publisher account? If you plan to only upload your own materials, choose normal. If you choose 
            to have a separate publisher account from a personal one, be aware that you will need two separate Stripe accounts in order to sell 
            in the marketplace with both.</span>
          </div>
          <%= f.radio_button :publisher_type, 'normal' %> 
          <%= label :publisher_type_normal, 'Normal Account' %>
          <%= f.radio_button :publisher_type, 'publisher' %>
          <%= label :publisher_type_publisher, 'Publisher Account' %>
        </div>
  
        <div class="field">
          <%= f.label :password, class: "title" %>
          <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
  
        <div class="field">
          <%= f.label :password_confirmation, class: "title" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
  
        <div class="actions">
          <%= f.submit "Sign up", class: "button button_highlight button_block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>