<div id="other_background" style="overflow-y: auto;">
  
  <div class="container full-form-container">
    <div class="row justify-content-center trans-bg p-3 my-3 p-sm-4 my-sm-5 rounded">
      <div class="col-11">
        <fieldset> 
        <%= image_tag("yarnn-icon.png", size: "120x90") %>
				<hr class="colorgraph">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        
          <div class="form-group">
            <%= f.label :username, class: "text-secondary" %><br />
            <%= f.text_field :username, :autofocus => true, required: true, class: "form-control input-lg", placeholder: "Username" %>
          </div>
          
          <div class="form-group">
            <div class="tooler float-left"><i class="fas fa-question-circle site-blue"></i>
                <span class="toolertext">You should use your real name here. You'll be able to add pseudonyms when you upload content, and you 
            can manage them all through just one account!</span>
            </div>
            <%= f.label :name, class: "text-secondary" %><br />
            <%= f.text_field :name, :autofocus => true, required: true, class: "form-control input-lg mt-2", placeholder: "Real Name" %>
          </div>
        
          <div class="form-group">
            <%= f.label :email, class: "text-secondary" %><br />
            <%= f.email_field :email, class: "form-control input-lg", placeholder: "Email Address" %>
          </div>
    
          <div class="form-group">
            <%= f.label :password, class: "text-secondary" %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Password" %>
          </div>
          
          <div class="form-group">
            <%= f.label :password_confirmation, class: "text-secondary" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-lg", placeholder: "Password Confirmation" %>
          </div>
    
          <div class="row">
            <div class="col-4 justify-content-center">
  					  <div class="tooler float-left site-blue"><i class="fas fa-question-circle site-blue"></i>
                <span class="toolertext">Is this a publisher account? If you plan to only upload your own materials, choose normal. If you choose 
                to have a separate publisher account from a personal one, be aware that you will need two separate Stripe accounts in order to sell 
                in the marketplace with both.</span>
              </div>
  				  </div>
            <div class="col-4 justify-content-center">
              <%= f.radio_button :publisher_type, 'normal' %> 
              <%= label :publisher_type_normal, 'Normal', class: 'text-secondary' %>
    				</div>
    				<div class="col-4 justify-content-center">
  					  <%= f.radio_button :publisher_type, 'publisher' %>
              <%= label :publisher_type_publisher, 'Publisher', class: 'text-secondary' %>
  				  </div>
          </div>
          <div class="row mt-4">
            <div class="col-4 justify-content-center">
              <%= recaptcha_tags %>
            </div>
          </div>
          
          <hr class="colorgraph">
  				<div class="row">
  					<div class="col-xs-12 col-sm-12 col-md-6">
  					  <h3><%= f.button "Register", class: "btn btn-lg btn-outline-secondary btn-block mb-2", data: {disable_with: "<i class= 'fa fa-spinner fa-spin'></i> Registering..." } %></h3>
  					</div>
  					<div class="col-xs-12 col-sm-12 col-md-6">
  					  <h3><%= link_to "Sign In", new_user_session_path, :class => "btn btn-lg btn-outline-secondary btn-block mb-2" %></h3>
  					</div>
  				</div>

        <% end %>
        </fieldset>
      </div>
    </div>
  </div>
</div>