<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
<title>Audio Player Example</title>


<!-- must have -->
<%= stylesheet_link_tag    'player/audio7_html5.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= javascript_include_tag 'player/jquery.mousewheel.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'player/jquery.touchSwipe.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'player/audio7_html5.js', 'data-turbolinks-track': 'reload' %>
<!-- must have -->

<script>
	jQuery(function() {
		jQuery("#lbg_audio7_html5_1").audio7_html5({
			skin:"blackControllers",
			initialVolume:0.6,
			autoPlay:false,
			loop:true,
			shuffle:false,
			sticky:true,
			playerBg:"#98b9b7",
			bufferEmptyColor:"#929292",
			bufferFullColor:"#FFFFFF",
			seekbarColor:"#246f69",
			volumeOffColor:"#FFFFFF",
			volumeOnColor:"#246f69",
			timerColor:"#333333",
			songTitleColor:"#dc2020",
			songAuthorColor:"#333333",
			googleTrakingOn:false,
			googleTrakingCode:"",
			showVinylRecord:false,
			showRewindBut:true,
			showNextPrevBut:true,
			showShuffleBut:true,
			showDownloadBut:false,
			showBuyBut:true,
			showLyricsBut:false,
			buyButTitle:"Buy Now",
			lyricsButTitle:"Lyrics",
			buyButTarget:"_blank",
			lyricsButTarget:"_blank",
			showFacebookBut:false,
			facebookAppID:"",
			facebookShareTitle:"Apollo - HTML5 Audio Player",
			facebookShareDescription:"A top-notch sticky full width HTML5 Audio Player compatible with all major browsers and mobile devices.",
			showTwitterBut:false,
			showPopupBut:true,
			showAuthor:true,
			showTitle:true,
			showPlaylistBut:true,
			showPlaylist:true,
			showPlaylistOnInit:false,
			playlistTopPos:0,
			playlistBgColor:"#c6d2d0",
			playlistRecordBgOffColor:"#0c6a64",
			playlistRecordBgOnColor:"#222222",
			playlistRecordBottomBorderOffColor:"#aacbd1",
			playlistRecordBottomBorderOnColor:"#c4d1aa",
			playlistRecordTextOffColor:"#cccccc",
			playlistRecordTextOnColor:"#ffffff",
			categoryRecordBgOffColor:"#191919",
			categoryRecordBgOnColor:"#f12233",
			categoryRecordBottomBorderOffColor:"#2f2f2f",
			categoryRecordBottomBorderOnColor:"#2f2f2f",
			categoryRecordTextOffColor:"#4c4c4c",
			categoryRecordTextOnColor:"#ffffff",
			numberOfThumbsPerScreen:5,
			playlistPadding:15,
			showCategories:false,
			firstCateg:"",
			selectedCategBg:"#dedede",
			selectedCategOffColor:"#333333",
			selectedCategOnColor:"#f12233",
			selectedCategMarginBottom:12,
			showSearchArea:true,
			searchAreaBg:"#dedede",
			searchInputText:"search...",
			searchInputBg:"#68a29e",
			searchInputBorderColor:"#dedede",
			searchInputTextColor:"#cccccc",
			searchAuthor:true,
			continuouslyPlayOnAllPages:false,
			showPlaylistNumber:true,
			pathToDownloadFile:"",
			popupWidth:1100,
			popupHeight:500,
			barsColor:"#ffffff"
		});
	});
</script>

</head>

<body bgcolor="#999999">
	    <div class="audio7_html5">
        	<audio id="lbg_audio7_html5_1" preload="metadata">
        	<div class="xaudioplaylist">
        	  <% @tracks.each do |track| %>
			      <ul>
              <li class="xtitle"><%= link_to track.title, track_path(track) %><% if track.explicit == "explicit" %> (explicit)<% end %></li>
              <li class="xauthor"><% if track.pseudonym_id? %>
                                      <%= track.pseudonym.name %>
                                    <% else %>
                                      <%= track.user.name %> 
                                    <% end %></li>
              <li class="ximage"><%= track.image.url(:thumb) %></li>
              <li class="xbuy"><% if track.listing_id? %>
                                  <%= listing_path(track.listing_id) %>
                                <% else %>
                                  <%= listings_path %>
                                <% end %></li>
              <li class="xlyrics">https://codecanyon.net/item/html5-radio-players-wordpress-plugins-bundle/19939049?ref=LambertGroup</li>
              <li class="xcategory">ALL CATEGORIES;Classic;Jazz</li>
              <li class="xsources_mp3"><%= track.audio.url %></li>
              <li class="xsources_ogg"><%= track.audio.url %></li>
            </ul>
            <% end %>
          </div>
            No HTML5 audio playback capabilities for this browser. Use <a href="https://www.google.com/intl/en/chrome/browser/">Chrome Browser!</a>
            </audio>
        </div>
        <br style="clear:both;">
</body>
</html>
