<h2>Create New Listing</h2>

<p>Use this form to create a new listing to sell in our marketplace. Your listing must be a virtual product (downloadable), as we don't capture 
shipping information. Once your listing is live, you can link it to any of your tracks so people who like your tracks can know where to buy the 
associated product. Ebooks, audio files, and videos are all typical products.</p><br>

<div class="small" style="color: #fc0000;"><i>By adding listings to the marketplace, you agree to abide by copyright laws associated with the content
you sell. Copyright violations may result in permanent removal of your account.</i></div><br>

<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited your listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
     <div class="tooltip" style="float:right">more info
      <span class="tooltiptext">
        Pseudonyms added here will be available to you when you go to add new tracks, listings, topics, and blogs.
        You can also skip this step, add a pseudonym later, then edit your album to include the pseudonym.
      </span>
    </div>
    <div class="title">Do you want to add a new pseudonym?&nbsp;</div><%= link_to "Click Here", new_pseudonym_path, class: "title", style: "color: #00b8ac" %><br />
    <%= f.collection_select(:pseudonym_id, current_user.pseudonyms, :id, :name, prompt: 'Select a pseudonym if you want to use one. Ignore this to use your real name.') %><br />
  </div>
  
	<div class="field">
    <%= f.label :title, class: "title" %><br />
    <%= f.text_field :title, :autofocus => true, required: true %>
  </div>

  <div class="field">
    <%= f.label :description, class: "title" %><br />
    <%= f.text_area :description, cols: 87, rows: 4, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :publisher, class: "title" %><br />
    <%= f.text_field :publisher, autofocus: true %>
  </div>
  
  <div class="field">
     <div class="tooltip" style="float:right">more info
      <span class="tooltiptext">
        If you have both a 10-digit and a 13-digit ISBN, enter the 13 digit one here. If you do not have one, leave this field blank.<br>
        <%= link_to "Visit this website if you need to obtain an ISBN.", "https://www.myidentifiers.com/Get-your-isbn-now", class: "title", style: "color: #00b8ac" %>
      </span>
    </div>
    <%= f.label "ISBN", class: "title" %><br />
    <%= f.text_field :isbn, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :year, class: "title" %><br />
    <%= f.text_field :year, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :language, class: "title" %><br />
    <%= f.text_field :language, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label "Select File Type", class: "title" %><br><br>
    <%= f.radio_button :filetype, 'ebook' %> 
    <%= label :filetype_ebook, 'Ebook' %>
    <%= f.radio_button :filetype, 'audio' %>
    <%= label :filetype_audio, 'Audio' %>
    <%= f.radio_button :filetype, 'video' %>
    <%= label :filetype_video, 'Video' %>
  </div>

  <div class="field">
    <div class="tooltip" style="float:right">more info
      <span class="tooltiptext">
        Select two genres that best represent your work. Double-check your spelling; if you 
        misspell the intended genre, your work will not show up where it needs to be so others can easily find it. The genres function in the same way tags do. 
        If you would like to place your product in more than two genres, consider getting a pro account.
      </span>
    </div>
  <i class="title", style="margin-left: .5rem; font-size: .8rem;">Add up to two genres. *Separate genres with commas. Example: 
  "young adult, paranormal romance"</i><br>
  <%= f.text_field :tag_list, required: true, value: @listing.tag_list.join(", "), placeholder: "Genres" %>
  </div>
  
  <div class="field">
    <%= f.label "Cover image", class: "title"  %><br>
    <%=  f.file_field :image %>
  </div>
  
  <div class="field">
  <%= f.label "Product File", class: "title" %><i class="title", style="margin-left: .5rem; font-size: .8rem;">Must be a zip file.</i><br>
    <%=  f.file_field :file %>
  </div>
  
  <div class="field">
    <i class="title", style="margin-left: .5rem; font-size: .8rem;">Do not include the dollar sign. All currency is USD until further notice.</i><br>
    <%= f.text_field :price, autofocus: true, placeholder: "Price" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "button button_highlight button_block" %>
  </div>
<% end %>