<ul class="list-group list-group-flush">
  <li class="list-group-item"><%= link_to "Action", genre_path("action") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/apocalypse.png', width: 25, title: "apocalypse", class: "mr-2") %><%= link_to "Apocalypse", genre_path("apocalypse") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/business.png', width: 25, title: "business", class: "mr-2") %><%= link_to "Business", genre_path("business") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/childrens.png', width: 25, title: "childrens", class: "mr-2") %><%= link_to "Children's", genre_path("childrens") %></li>
  <li class="list-group-item"><%= link_to "Classics", genre_path("classics") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/comedy.png', width: 25, title: "comedy", class: "mr-2") %><%= link_to "Comedy", genre_path("comedy") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/crime.png', width: 25, title: "crime", class: "mr-2") %><%= link_to "Crime", genre_path("crime") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/erotica.png', width: 25, title: "erotica", class: "mr-2") %><%= link_to "Erotica", genre_path("erotica") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/fantasy.png', width: 25, title: "fantasy", class: "mr-2") %><%= link_to "Fantasy", genre_path("fantasy") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/financial.png', width: 25, title: "financial", class: "mr-2") %><%= link_to "Financial", genre_path("financial") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/history.png', width: 25, title: "history", class: "mr-2") %><%= link_to "History", genre_path("history") %></li>
  <li class="list-group-item"><%= link_to "Historical Fiction", genre_path("historical fiction") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/horror.png', width: 25, title: "horror", class: "mr-2") %><%= link_to "Horror", genre_path("horror") %></li>
  <li class="list-group-item"><%= link_to "Inspirational", genre_path("inspirational") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/lgbtq.png', width: 25, title: "lgbtq", class: "mr-2") %><%= link_to "LGBTQ", genre_path("lgbtq") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/memoir.png', width: 25, title: "memoir", class: "mr-2") %><%= link_to "Memoir", genre_path("memoir") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/military.png', width: 25, title: "military", class: "mr-2") %><%= link_to "Military", genre_path("military") %></li>
  <li class="list-group-item"><%= link_to "Mystery", genre_path("mystery") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/noir.png', width: 25, title: "noir", class: "mr-2") %><%= link_to "Noir", genre_path("noir") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/nonfiction.png', width: 25, title: "nonfiction", class: "mr-2") %><%= link_to "Nonfiction", genre_path("nonfiction") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/paranormal.png', width: 25, title: "paranormal", class: "mr-2") %><%= link_to "Paranormal", genre_path("paranormal") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/philosophy.png', width: 25, title: "philosophy", class: "mr-2") %><%= link_to "Philosophy", genre_path("philosophy") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/poetry.png', width: 25, title: "poetry", class: "mr-2") %><%= link_to "Poetry", genre_path("poetry") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/religion.png', width: 25, title: "religion", class: "mr-2") %><%= link_to "Religion", genre_path("religion") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/romance.png', width: 25, title: "romance", class: "mr-2") %><%= link_to "Romance", genre_path("romance") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/science_fiction.png', width: 25, title: "science fiction", class: "mr-2") %><%= link_to "Science Fiction", genre_path("science fiction") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/self-help.png', width: 25, title: "self-help", class: "mr-2") %><%= link_to "Self Help", genre_path("self-help") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/spy_thriller.png', width: 25, title: "spy thriller", class: "mr-2") %><%= link_to "Spy Thriller", genre_path("spy thriller") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/steampunk.png', width: 25, title: "steampunk", class: "mr-2") %><%= link_to "Steampunk", genre_path("steampunk") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/thriller.png', width: 25, title: "thriller", class: "mr-2") %><%= link_to "Thriller", genre_path("thriller") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/true_crime.png', width: 25, title: "true crime", class: "mr-2") %><%= link_to "True Crime", genre_path("true crime") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/western.png', width: 25, title: "western", class: "mr-2") %><%= link_to "Western", genre_path("western") %></li>
  <li class="list-group-item"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/womens.png', width: 25, title: "women's", class: "mr-2") %><%= link_to "Women's", genre_path("womens") %></li>
  <li class="list-group-item"><%= link_to "Young Adult", genre_path("young adult") %></li>
</ul>