<h3 class="site-blue">Reviews</h3>
<i class="fas fa-highlighter site-blue mr-2" title="reviews"></i><%= pluralize(@reviews.length, "Review") %><br><br>
<% @reviews.each do |review| %>
  <div class="row p-2">
    
    <div class="col-2">
	  	<% if review.user.image? %>
				<%= image_tag review.user.image.url(:thumb), width: 60 %>
			<% else %>
				<%= image_tag('default_track.jpg', style: "width: 60px") %>
			<% end %>	
    </div>
    
    <div class="col-10">
      <small><strong><%= link_to review.user.username, user_path(review.user) %></strong> - <i><%= time_ago_in_words(review.created_at) %> ago</i> </small><br />
      <div class="star-rating" data-score= <%= review.rating %> ></div>
      <%= simple_format(review.content) %>
    </div>
    <div class="grayline mx-auto" style="width: 94%;"></div>
  </div>
<% end %>

<script>
  $('.star-rating').raty({
    path: 'https://s3-us-west-2.amazonaws.com/yarnn/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>