<body style="background-color: #e4e0e0;">
  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-lg-9">
        
        <div id="carouselExampleIndicators2" class="carousel slide my-4" data-ride="carousel">
          <div class="carousel-inner shadow-sm rounded" role="listbox">
            <div class="carousel-item active">
              <%= link_to genre_path("poetry") do %>
								<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/banners/market-under-banner.jpg', class: 'd-block img-fluid', alt: "Under Banner") %>
							<% end %>
            </div>
          </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-lg-12 bg-white rounded mx-auto">
            <div class="row p-2">
                <div class="col-12">
                  <h4 class="site-blue">Latest Topics in <%= @genre %></h4>
                </div>
              
              <% if @topics.any? %>
                
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col"><small>Subject</small></th>
                      <th scope="col"><small>Last Post by</small></th>
                      <th scope="col"><small>When</small></th>
                      <th scope="col"><small class="float-right">Replies</small></th>
                    </tr>
                  </thead>
                  <tbody>
                      <% @topics.each do |topic| %>
                      
                        <tr>
                          <th scope="row"><small><%= link_to topic.title, topic_path(topic) %></small></th>
                          <td><small><%= link_to topic.user.username, user_path(topic.user) %></small></td>
                          <td><small><%= time_ago_in_words(topic.created_at) %> ago</small></td>
                          <td><small class="float-right"><i class="fas fa-comments site-blue" title="comments"></i>
                              <span class="ml-1 text-secondary"><%= topic.comments.count %></span></small>
                          </td>
                        </tr>
                      
                      <% end %>
                  </tbody>
                </table>
                
              <% else %>
                <div class="col-12">
                  <small class><i>There are no topics yet for this genre. Would you like to <b><%= link_to "create one", tag_path(@genre.downcase) %></b>?</i></small>
                </div>
                
              <% end %>
              
            </div>
          </div>
        </div>
        

        <div class="row">
				<% @listings.each do |listing| %>
          <div class="col-6 col-lg-3 mb-4">
            <div class="card h-100">
              <%= link_to listing do %>
								<%= image_tag listing.image.url(:thumb), title: listing.title, class: "card-img-top" %>
							<% end %>
              <div class="card-body">
                <h5 class="card-title">
                  
                  <%= link_to listing.title, listing_path(listing), class: "site-red" %>
                </h5>
                <% if listing.pseudonym_id? %>
    							<small><%= link_to listing.pseudonym.name, user_path(listing.user) %></small>
    						<% else %>
    							<small><%= link_to listing.user.name, user_path(listing.user) %></small>
    						<% end %>
                <h4><%= number_to_currency(listing.price) %></h4>
                <div class="small"><%= listing.filetype %></div>
              </div>
              <div class="card-footer">
                <div id="stars">
									<div class="star-rating" data-score=<%= listing.avg_rating %> style="max-width: 10%;"></div>
								</div>
              </div>
            </div>
          </div>  
        <% end %>
        
        </div>
       <%= paginate @listings %>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->
      
      <div class="col-lg-3">
        <div class="card mt-4">
          <div class="card-header bg-secondary">
            <h2 class="text-white">Genres</h2>
          </div>
        <%= render 'listings/genre_list' %>
      </div>
      </div>
      <!-- /.col-lg-3 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</body>
<script>
  $('.star-rating').raty({
    path: 'https://s3-us-west-2.amazonaws.com/yarnn/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>