<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-5 px-3 mt-3 mb-5">
			         <table class="table table-hover table-striped table-dark">
                      <thead>
                        <tr>
                          <th scope="col">
                              <div class="row">
                                  <div class="col-10">
                                      <h3 class="text-muted">Notable Genres</h3>
                                  </div>
                                  <div class="col-2">
                                       <a href="#" data-toggle="collapse" data-target="#genre-table"><i class="fas fa-bars site-red"></i></a>
                                  </div>
                              </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="collapse-show" id="genre-table">
                        <tr>
                          <td><%= link_to "Action Adventure", genre_path("action-adventure") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Apocalypse", genre_path("apocalypse") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Children's", genre_path("childrens") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Crime", genre_path("crime") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Erotica", genre_path("erotica") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Fantasy", genre_path("fantasy") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Historical Fiction", genre_path("historical-fiction") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Horror", genre_path("horror") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "International Thriller", genre_path("international-thriller") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "LGBTQ", genre_path("lgbtq") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Military", genre_path("military") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Mystery", genre_path("mystery") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Nonfiction", genre_path("nonfiction") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Biography", genre_path("biography") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Business", genre_path("business") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Inspirational", genre_path("inspirational") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Memoir", genre_path("memoir") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Self-help", genre_path("self-help") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "True Crime", genre_path("true-crime") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Paranormal", genre_path("paranormal") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Poetry", genre_path("poetry") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Romance", genre_path("romance") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Science Fiction", genre_path("science-fiction") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Speculative Fiction", genre_path("speculative-fiction") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Thriller", genre_path("thriller") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Western", genre_path("western") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Women's", genre_path("womens") %></td>
                        </tr>
                        <tr>
                          <td><%= link_to "Young Adult", genre_path("young-adult") %></td>
                        </tr>
                      </tbody>
                    </table>
            </div>
            <div class="col-md-9 col-sm-7">
                <div class="bg-white px-3 mt-3 mb-5 text-muted crown-border container-shadow">
                    <div class="row py-2 bg-light border-bottom">
                        <div class="col-12">
                            <h3 class="text-muted">Latest Products</h3>
                        </div>
                    </div>
                </div>
            
				<div class="row mb-5">
				<% @listings.each do |listing| %>
                    <div class="col-lg-3 col-md-6">
                        <div>
                            <div class="trans-bg-2 p-2 m-2 text-correct">
    
                                <div class="text-center">
                                    <%= link_to listing do %>
										<%= image_tag listing.image.url(:thumb), title: listing.title, class: "image-full border-dark" %>
									<% end %>
                                </div>
                                
                                <div class="text-left p-2 mt-2">
                                    <div class="small"><%= listing.filetype %></div>
                                    <h3><%= link_to truncate(listing.title, length: 24, separator: ' '), listing_path(listing), class: "site-red" %></h3>
                                    
                                    <div class="row">
                                    	<div class="col-12 site-red small">
                                    		<% if listing.user.image? %>
    											<%= image_tag(listing.user.image.url, style: "width: 20px !important; display: inline-block;  border: none; vertical-align:middle;", title: listing.user.username) %>
    										<% else %>
    											<%= image_tag('default_track.jpg', style: "width: 20px !important; display: inline-block; border: none; vertical-align:middle;", title: listing.user.username) %>
    										<% end %>
    																		
    										<% if listing.pseudonym_id? %>
    											<p class="ml-1" style="display:inline-block;"><%= link_to listing.pseudonym.name, user_path(listing.user) %></p>
    										<% else %>
    											<p class="ml-1" style="display:inline-block;"><%= link_to listing.user.name, user_path(listing.user) %></p>
    										<% end %>
                                    	</div>
                                    </div>
                                    <div class="grayline-dark"></div>
                                	<div class="row">
                                	    <div class="col-12">
                            			<div id="stars">
											<div class="star-rating" data-score=<%= listing.avg_rating %> style="max-width: 10%;"></div>
										</div>
										</div>
                                	</div>
                                	<div class="row">
                                	    <div class="col-12">
										<span class="product-price">
    	                                  <%= number_to_currency(listing.price) %>
    	                                </span>
    	                                </div>
                                	</div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
              
            </div>
        </div>
    </div>
</section>

<script>
  $('.star-rating').raty({
    path: 'https://s3-us-west-2.amazonaws.com/yarnn/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>