<div id="album_show">
	<div id="banner" class="track_banner">
	  <%= render 'layouts/header' %>
	</div>
  <% if user_signed_in? %>
    <%= render 'layouts/subheader' %>
  <% end %>
  <%= render 'shared/alert' %>
	<div id="breadcrumb">
	  <%= link_to @listing.user.username, user_path(@listing.user) %>
	    <span>/</span>
	  <% if @listing.pseudonym_id? %>
	  	<%= @listing.pseudonym.name %>
	  <% else %>
	  	<%= @listing.user.name %>
	  <% end %>
			<span>/</span>
		<%= @listing.title %>
	</div>
  	
  <div class="container">
    <div class="wrapper-side-left" style="width: 25%">
  		<div class="main_avatar">
  			<%= image_tag(@listing.image.url, class: "image", title: @listing.title) %>
	
	      <div class="side-box">
	        <div class="side-content">
	          <h2>Genres</h2>
	          <p class="track_count"><% @listing.tag_list.map.each do |tag| %><span style="margin-right: .5rem"><i><%= link_to tag, tag_path(tag) %></span></i><% end %></p>
	        </div>
	      </div>
	      <div class="side-box">
	        <div class="side-content">
	          <h2>Associated Tracks</h2> 
	          <% if @tracks.any? %>
		    			<% @tracks.each do |track| %>
		    			<p class="track_count">
	              <%= link_to track.title, track_path(track) %><% if track.explicit == "explicit" %> (explicit)<% end %><br>
	            </p>
	            <% end %>
	          <% else %>
	          	<p class="track_count">There are no associated tracks with this listing.</p>
	          <% end %>
	        </div>
	      </div>
	    </div>
		</div>
  
		<div class="wrapper-med-right" style="width: 70%; clear: right">
		    <div class="side-box" style="width: 96%">
		      <div class="side-content">
		        <div class="icons">
		        	<h2><%= @listing.title %>
										<% if @listing.user == current_user %>
										  <%= link_to edit_listing_path(@listing) do %>
											  <%= image_tag'icons/gear.svg', width: 12 %>
										  <% end %>
										<% end %></h2>
							<p class="track_count">
							<%= link_to @listing.user.username, user_path(@listing.user) %> /
								<% if @listing.pseudonym_id? %>
									<%= @listing.pseudonym.name %> 
								<% else %>
									<%= @listing.user.name %></p>
								<% end %>
		        	<div class="star-rating" data-score= <%= @avg_rating %> ></div> 
		        	<br>
		        	<p class="track_count"><%= simple_format(@listing.description) %></p>
		        	<br>
						<% if @listing.publisher? %>
							<p class="track_count"><b><i>Publisher:</i></b> <%= @listing.publisher %></p>
						<% end %>
						<% if @listing.isbn? %>
							<p class="track_count"><b><i>ISBN:</i></b> <%= @listing.isbn %></p>
						<% end %>
						<% if @listing.year? %>
							<p class="track_count"><b><i>Year:</i></b> <%= @listing.year %></p>
						<% end %>
						<p class="track_count"><b><i>Format:</i></b> <%= @listing.filetype %></p>
						<% unless @listing.user == current_user %>
							<% if @purchased.empty? %>
								<br>
								<%= render 'listing_transaction_form', transaction: @transaction %><br>
								<%= link_to "Buy It Now", new_listing_transaction_path(@listing), data: { no_turbolink: true }, class: "button button_blue button_block", style: "color: #fff; width: 30%" %>
							<% else %>
								<br>
								<%= link_to "Download", purchases_path, class: "button button_blue button_block", style: "color: #fff; width: 30%" %>
							<% end %>
						<% end %>
            </div>
		      </div>
		    </div>

        <div class="side-box" style="width: 96%">
		      <div class="side-content">
		        <% if user_signed_in? %>
		        	<% if current_user.reviewed?(@listing) %>
		        		<%= link_to "Edit your review", edit_listing_review_path(@listing, @user_review) %>
		        	<% else %>
              	<%= link_to "Leave a Review", new_listing_review_path(@listing) %>
              <% end %>
            <% else %>
              <div class="small" style="color: #fc0000;"><i><b>You must be logged in to review this product.</b></i></div>
            <% end %>
            <%= render 'reviews' %>
          </div>
        </div>
		  </div>
			<% if @tracks.any? %>
				<%= render 'audio' %>
			<% end %>
 	</div>
</div>