<% content_for :head do %>
<!-- Facebook -->
  <meta property="og:title" content="<%= @listing.title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <% if @listing.image? %>
  <meta property="og:image:url" content="<%= @listing.image.url %>" />
  <% end %>
  <meta property="og:image:height" content="900" />
  <meta property="og:image:width" content="600" />
  <meta property="og:description" content="<%= truncate(@listing.description, length: 250) %>" />
  <meta property="og:site_name" content="Yarnn.FM" />
  <meta property="fb:app_id" content="395394867776017" />
  
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@totaldanarchy">
  <meta name="twitter:title" content="<%= @listing.title %>">
  <meta name="twitter:description" content="<%= truncate(@listing.description, length: 250) %>">
  <meta name="twitter:creator" content="<%= @listing.user.username %>">
  <% if @listing.image? %>
  <meta name="twitter:image:src" content="<%= @listing.image.url %>">
  <% end %>
<% end %>
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg padding-y-sm">
	<div class="container">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb mt-3">
			  <% @listing.tags.map(&:name).each do |tag| %>
			  	<div class="btn btn-outline-danger btn-sm mr-3">
				  <%= link_to tag, tag_path(tag) %>
				</div>
			  <% end %>
		  </ol>
		</nav>
		<div class="row">
			<div class="col-xl-9 col-md-8 col-sm-12">
<%= render 'shared/alert' %>

<main class="card">
	<div class="row no-gutters">
		<aside class="col-sm-4 border-right">
			<article class="gallery-wrap">
				<div class="img-big-wrap p-4">
  					<%= image_tag(@listing.image.url, class: "image-full rounded", title: @listing.title) %>
				</div> <!-- slider-product.// -->

			</article> <!-- gallery-wrap .end// -->
		</aside>
		<aside class="col-sm-8">
			<article class="card-body">
<!-- short-info-wrap -->
	<h2 class="title mb-1"><%= @listing.title %></h2>
	<% if @listing.user == current_user %>
		<small>
	        <%= link_to edit_listing_path(@listing) do %>
	    	    <i class="fas fa-cog site-red" style="font-size: 16px;"></i> Edit
	        <% end %>
	        <%= link_to listing_path(@listing), method: :delete, data: { confirm: "Are you sure?" } do %>
	            <i class="fa fa-trash ml-2" title="delete"></i>&nbsp;Delete
	        <% end %>
	    </small><br />
    <% end %>
    <% unless @listing.user == current_user %>
		<% if @listing.pseudonym_id? %>
			<%= @listing.pseudonym.name %> (@<%= @listing.user.username %>)
		<% else %>
			<%= link_to @listing.user.name, user_path(@listing.user) %> (@<%= @listing.user.username %>)
		<% end %>
	<% end %>

<div class="my-2">
	<var class="price h4 site-blue">
		<span class="currency">US <%= number_to_currency(@listing.price) %></span>
	</var>
</div> <!-- price-detail-wrap .// -->
<dl>
  <dt>Description</dt>
  <dd><p><%= truncate(@listing.description, length: 200) %></p>
  	<% if @user_flag.try(:any?) %>
        <small><i class="fas fa-flag site-red mr-2"></i>You reported this.</small>
    <% else %>
        <%= render "listings/flag_form" %>
    <% end %>
  </dd>
</dl>
<hr>
<dl class="row">
  <dt class="col-sm-4">Format</dt>
  <dd class="col-sm-8"><%= @listing.filetype %></dd>

  <dt class="col-sm-4">Publisher</dt>
  <dd class="col-sm-8"><% if @listing.publisher? %>
												<%= @listing.publisher %>
											 <% end %> </dd>

  <dt class="col-sm-4">ISBN</dt>
  <dd class="col-sm-8"><% if @listing.isbn? %>
												<%= @listing.isbn %>
											 <% end %> </dd>
  <dt class="col-sm-4">Year</dt>
  <dd class="col-sm-8"><% if @listing.year? %>
												<%= @listing.year %>
											 <% end %> </dd>
	<dt class="col-sm-4"><div class="star-rating" data-score= <%= @avg_rating %></div></dt>
  	<dd class="col-sm-8"><%= pluralize(@listing.reviews.count, "review") %></dd>
</dl>
<hr>
	<div class="row">
		<div class="col-12">
			<h4 class="mb-1"><i class="fas fa-headphones site-blue mr-2 mb-3"></i>Associated Tracks (<%= @tracks_count %>)</h4>
		</div>
			<% if @tracks.any? %>

				<% @tracks.each do |track| %>
					<div class="col-1">
						<%= image_tag(track.image.url(:thumb), class: "rounded mb-1 ml-3", width: 30, title: track.title) %>
					</div>
					<div class="col-7">
						<h5 class="ml-4">
							<%= link_to track.title, track_path(track) %><% if track.explicit == "explicit" %> (explicit)<% end %>
						</h5>
					</div>
					<div class="col-4">
						<small>
						<i class="fas fa-broadcast-tower site-red mr-1" title="stations"></i>
      					in <%= track.favorites.count %> stations
      					</small>
      				</div>
				<% end %>
				<small style="float-right"><%= link_to_previous_page @tracks, '<< Previous' %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to_next_page @tracks, 'Next >>' %></small>

			<% else %>
			<div class= "col-12">
				<small>There are no associated tracks with this listing.</small>
			</div>
			<% end %>  <!-- item-property .// -->

	</div> <!-- row.// -->
	<hr>
	<div class="row">
		<div class= "col-12">
		<% if user_signed_in? %>
			<% unless @listing.user == current_user %>
				<% if @purchased.empty? %>
					<%= render 'listing_transaction_form', transaction: @transaction %>
				<% else %>
					<div class="btn btn-primary">
					  <%= link_to 'Download', purchases_path, :class => "btn text-white" %>
					</div>
				<% end %>
			<% end %>
		<% else %>
			<div class="btn btn-primary">
			  <%= link_to 'Login to Purchase', new_user_session_path, :class => "btn text-white" %>
			</div><br />
			<small><i class="site-red">You must be logged in so the product will appear in your downloads.</i></small>
		<% end %>
		</div>
	</div>
<!-- short-info-wrap .// -->
</article> <!-- card-body.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
</main> <!-- card.// -->

<!-- PRODUCT DETAIL -->
<article class="card mt-3">
	<div class="card-body">
		<h4>Description</h4>
			<p><%= simple_format(@listing.description) %></p>
	</div> <!-- card-body.// -->
</article> <!-- card.// -->

<!-- PRODUCT DETAIL -->
<article class="card mt-3">
	<div class="card-body">
			<% if user_signed_in? %>
		     <% if current_user.reviewed?(@listing) %>
		        <%= link_to "Edit your review", edit_listing_review_path(@listing, @user_review) %>
		     <% else %>
	           	<%= render 'reviews/form' %>
         <% end %>
      <% else %>
         <div class="small mb-2" style="color: #fc0000;"><i><b>You must be logged in to review this product.</b></i></div>
      <% end %>
      <%= render 'reviews' %>
	</div> <!-- card-body.// -->
</article> <!-- card.// -->

<!-- PRODUCT DETAIL .// -->

</div> <!-- col // -->
<aside class="col-xl-3 col-md-4 col-sm-12">
<div class="card">
	<div class="card-header">
		<h4 class="site-blue">
		@<%= link_to @listing.user.username, user_path(@listing.user) %>
		</h4>
	</div>
	<div class="card-body small">
		 <div class="ribbon_box">
	      <% if @listing.user.publisher_type == "publisher" %>
	        <div class="ribbon"><span>PUBLISHER</span></div>
	      <% end %>
	        <% if @listing.user.image? %>
	          <%= image_tag(@listing.user.image.url(:thumb), class: "image-full", title: @listing.user.username) %>
	        <% else %>
	          <%= image_tag('default_track.jpg', class: "image-full", title: @listing.user.username) %>
	        <% end %>
	    </div>
		 <hr>
		 <i class="fas fa-headphones site-blue" title="tracks"></i> Tracks (<%= @listing.user.tracks.count %>)
		 <hr>
		 <i class="fas fa-compact-disc site-blue" title="albums"></i> Albums (<%= @listing.user.albums.count %>)
		 <hr>
		 <i class="fas fa-shopping-cart site-blue" title="listings"></i> Products (<%= @listing.user.listings.count %>)
		 <hr>
		 <i class="fas fa-user-astronaut site-blue"></i> Followers (<%= @listing.user.followers.count %>)
		 	<% if user_signed_in? && current_user != @listing.user %>
		 	<hr>
	          <%= render 'follow_form' %>
	        <% end %>

	</div> <!-- card-body.// -->
</div> <!-- card.// -->
<div class="card mt-3">
	<div class="card-header">
	    <h5 class="site-blue">You May Like</h5>
	</div>
	<div class="card-body row">
<div class="col-md-12 col-sm-4">
	<figure class="item border-bottom mb-3">
			<h5 class="mb-1"><i class="fas fa-shopping-cart site-blue mr-2"></i><%= @random_listing.filetype %></h5>
			<%= image_tag(@random_listing.image.url, class: "image-full rounded mb-2", title: @random_listing.title) %>
			<figcaption class="info-wrap">
				<h4 class="mb-0"><%= link_to @random_listing.title, listing_path(@random_listing) %></h4>
				<small>
				<% if @random_listing.pseudonym_id? %>
					<%= link_to @random_listing.pseudonym.name, user_path(@random_listing.user) %>
				<% else %>
					<%= link_to @random_listing.user.name, user_path(@random_listing.user) %>
				<% end %>
				</small><br />
				<%= number_to_currency(@random_listing.price) %>
				<div class="star-rating" data-score= <%= @rand_avg_rating %></div>
			</figcaption>
	</figure> <!-- card-product // -->
</div> <!-- col.// -->
<div class="col-md-12 col-sm-4">
<figure class="item border-bottom mb-3">
	<h5 class="mb-1"><i class="fas fa-headphones site-blue mr-2"></i>Track</h5>
		<%= image_tag(@random_track.image.url(:thumb), class: "image-full rounded mb-2", title: @random_track.title) %>
		<figcaption class="info-wrap">
			<h4 class="mb-0"><%= link_to @random_track.title, track_path(@random_track) %><% if @random_track.explicit == "explicit" %> (explicit)<% end %></h4>
			<small>
			<% if @random_track.pseudonym_id? %>
				<%= link_to @random_track.pseudonym.name, user_path(@random_track.user) %>
			<% else %>
				<%= link_to @random_track.user.name, user_path(@random_track.user) %>
			<% end %>
			</small><br />
			<small><i class="fas fa-broadcast-tower site-red mr-2" title="stations"></i>
	      	in <%= pluralize( @random_track.favorites.count, 'Station' ) %></small><br/>
		</figcaption>
</figure> <!-- card-product // -->
</div> <!-- col.// -->
<div class="col-md-12 col-sm-4">
<figure class="item border-bottom mb-3">
	<h4 class="mb-1"><i class="fas fa-compact-disc site-blue mr-2"></i>Album</h4>
  <% if @random_album %>
    <div class="ribbon_box">
        <% if @random_album&.serial == "serial" %>
          <div class="ribbon"><span>SERIAL</span></div>
        <% end %>
        <%= image_tag(@random_album&.image&.url(:thumb), class: "image-full rounded mb-2", title: @random_album&.title) %>
    </div>

		<figcaption class="info-wrap">
			<h5 class="mb-0"><%= link_to @random_album&.title, album_path(@random_album) %></h5>
			<small>
			<% if @random_album.pseudonym_id? %>
				<%= link_to @random_album&.pseudonym.name, user_path(@random_album&.user) %>
			<% else %>
				<%= link_to @random_album&.user.name, user_path(@random_album&.user) %>
			<% end %>
			</small><br />
			<small><i class="fas fa-headphones site-blue mr-2"></i>
            <%= pluralize( @random_album&.tracks.count, 'Track' ) %></small>
		</figcaption>
  <% end %>
</figure> <!-- card-product // -->
</div> <!-- col.// -->
	</div> <!-- card-body.// -->
</div> <!-- card.// -->
</aside> <!-- col // -->
</div> <!-- row.// -->



</div><!-- container // -->
<% if @tracks.exists? %>
	<%= render 'audio' %>
<% end %>
</section>
<!-- ========================= SECTION CONTENT .END// ========================= -->
</body>
<script>
  $('.star-rating').raty({
    path: 'https://s3-us-west-2.amazonaws.com/yarnn/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
