<h3 class="site-blue">Comments</h3>
<% @comments.each do |comment| %>
  <div class="row p-2">
    
    <div class="col-2">
	  	<% if comment.user.image? %>
				<%= image_tag comment.user.image.url(:thumb), width: 40 %>
			<% else %>
				<%= image_tag('default_track.jpg', style: "width: 40px") %>
			<% end %>	
    </div>
    
    <div class="col-10">
      <small><strong><%= link_to comment.user.username, user_path(comment.user) %></strong> - <i><%= time_ago_in_words(comment.created_at) %> ago</i> </small><br />
      <%= simple_format(comment.content) %>
    </div>
    
  </div>
  <div class="lightline mx-auto"></div>
<% end %>