<h4 class="site-blue">Comments </h4>
<% @comments.each do |comment| %>
<div class="lightline mx-auto"></div>
  <div class="row p-2">
    
    <div class="col-2">
	  	<% if comment.user.image? %>
				<%= image_tag comment.user.image.url(:thumb), class:"image-full rounded" %>
			<% else %>
				<%= image_tag('default_track.jpg', class: "image-full rounded") %>
			<% end %>	
    </div>
    
    <div class="col-10">
      <h5 style= "display: inline-block"><%= link_to comment.user.username, user_path(comment.user) %></h5> <small>- <i><%= time_ago_in_words(comment.created_at) %> ago</i> </small>
      <% if (user_signed_in? && current_user.role == "admin") %>
        <div class="small ml-3 text-secondary" style="display:inline-block">#<%= comment.id %></div>
      <% end %>
          <br />
      	<ul class="nav mb-2">
      	  <% if @commentable = @blog %>
						<li class="mr-3">
						  <%= link_to like_blog_comment_path(@blog, comment), method: :put, remote: true do %><i class="far fa-thumbs-up site-red" title="upvotes"></i><% end %> <div id="upvote-<%= comment.id %>" style="display: inline;"><%= comment.get_upvotes.size %></div>
						</li>
						<li class="mr-3">
						  <%= link_to dislike_blog_comment_path(@blog, comment), method: :put, remote: true do %><i class="far fa-thumbs-down site-red" title="downvotes"></i><% end %> <div id="downvote-<%= comment.id %>" style="display: inline;"><%= comment.get_downvotes.size %></div>
						</li>
					<% elsif @commentable = @track %>
					  <li class="mr-3">
						  <%= link_to like_track_comment_path(@track, comment), method: :put, remote: true do %><i class="far fa-thumbs-up site-red" title="upvotes"></i><% end %> <div id="upvote-<%= comment.id %>" style="display: inline;"><%= comment.get_upvotes.size %></div>
						</li>
						<li class="mr-3">
						  <%= link_to dislike_track_comment_path(@track, comment), method: :put, remote: true do %><i class="far fa-thumbs-down site-red" title="downvotes"></i><% end %> <div id="downvote-<%= comment.id %>" style="display: inline;"><%= comment.get_downvotes.size %></div>
						</li>
					<% else %>
					  <li class="mr-3">
						  <%= link_to like_topic_comment_path(@topic, comment), method: :put, remote: true do %><i class="far fa-thumbs-up site-red" title="upvotes"></i><% end %> <div id="upvote-<%= comment.id %>" style="display: inline;"><%= comment.get_upvotes.size %></div>
						</li>
						<li class="mr-3">
						  <%= link_to dislike_topic_comment_path(@topic, comment), method: :put, remote: true do %><i class="far fa-thumbs-down site-red" title="downvotes"></i><% end %> <div id="downvote-<%= comment.id %>" style="display: inline;"><%= comment.get_downvotes.size %></div>
						</li>
					<% end %>
				</ul>
      <%= simple_format(comment.content) %>
      <% if comment.youtube? %>
      	<div class="video-container mb-1">
      		<iframe width="853" height="480" src="https://www.youtube.com/embed/<%= comment.youtube %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>" frameborder="0" allowfullscreen></iframe>
      	</div>
      <% end %>
       <div class="comment-content">
			    <% if comment.notations.any? %>
			      <%= render 'notations/notations', comment: comment %>
			    <% end %>
			    
			      <h6 class="float-right">
			      <% if @commentable = @track %>
			        <%= link_to "reply to this comment", new_track_comment_notation_path(@track, comment) %>
			      <% elsif @commentable = @blog %>
			        <%= link_to "reply to this comment", new_blog_comment_notation_path(@blog, comment) %>
			      <% else %>
			        <%= link_to "reply to this comment", new_topic_comment_notation_path(@topic, comment) %>
			      <% end %>
			      </h6>
			    
			  </div>
			  
    </div>
    
  </div>
<% end %>