<% if @feed_items.any? %>
    <% @feed_items.each do |item| %>
      <% if lookup_context.template_exists?(item.eventable_type, "dashboards/types", true) %>
        <div class="row py-4 px-3">
          <div class="col-3 col-md-2">
            <% if item.user.image? %>
              <%= image_tag User.find(item.user_id).image.url(:thumb), class: "image-full rounded", title: item.user.username %>
            <% else %>
              <%= image_tag('default_track.jpg',  class: "image-full rounded", title: item.user.username) %>
            <% end %>
          </div>
          <div class="col-9 col-md-10">
            <%= render partial: "dashboards/types/#{item.eventable_type}", locals: {item: item} %>
          </div>
        </div>
        <div class="grayline mx-auto" style="width: 94%;"></div>
      <% end %>
      
    <% end %>
    <div class = "pagination-container mt-2">
      <%= paginate @feed_items %>
    </div>
<% else %>
    There is no activity in your feed. You should <%= link_to "follow someone", users_path %> or perhaps join a discussion.
<% end %>