<div id="content-wrap">
  <div class="left-column">
    <div class="title-box">
      Private messages with <%= @conversation.with(current_user).username %>
    </div>
    
    <div class="avatar-show">
      <%= 
        if @conversation.with(current_user).image?
          link_to user_path(@conversation.with(current_user)) do
            image_tag @conversation.with(current_user).image, width: 65, alt: 'user avatar'
          end
        else
          link_to user_path(@conversation.with(current_user)) do
            image_tag 'default_avatar.jpg', width: 65, alt: 'default user avatar'
          end
        end
      %>      
    </div>
    
      <div class="details-show">
          <h4 style="display:inline;"><%= link_to @conversation.with(current_user).username, user_path(@conversation.with(current_user)) %></h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= (@conversation.with(current_user).bio.truncate(100)) if @conversation.with(current_user).bio %><br />
      </div>
    
    <div class="content-show">
      <div id="conversation-body">
        <%= render @conversation.messages %>
      </div><br />
      <%= form_for @message do |f| %>
        <%= hidden_field_tag 'conversation_id', @conversation.id %>
        <%= f.label 'Send message' %>
        <%= f.text_area :body %>
    
        <%= f.submit "Send" %>
      <% end %>
    </div>
    
  </div>
  
  <div class="right-column">
    <div class= "side-box-clear">
      <%= render @conversations %>
      <div class="small"><%= link_to_previous_page @conversations, 'Previous' %><%= link_to_next_page @conversations, 'Next' %></div>
    </div>
  </div>
</div>