<%= form_for [@topic] do |f| %>
    <% if @topic.errors.any? %>
        <div class="error_messages">
        <h3>Please correct the following errors.</h3>
        <ul>
            <% @topic.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row px-3 pb-1">
      <div class="col-12 justify-content-center">
        <div class="form-group">
          <%= f.text_field :title, required: true, class: "form-control input-lg", placeholder: "Subject" %>
        </div>
      </div>
    </div>
    
    <div class="row px-3 pb-1">
      <div class="col-12 justify-content-center">
        <form class="form-inline">
            <div class="form-group">
                <%= f.text_area :content, placeholder: "Topic content...", class: "form-control mr-2" %>
            </div>
        </form>
      </div>
    </div>
    
    <div class="form-group">
      <small><%= f.label :tag_list, "Genres (separated by commas)", class: "site-blue" %></small><br />
      <%= f.text_field :tag_list, class: "form-control", value: @genre %>
      <small id="titleHelp" class="form-text text-muted">Enter up to two genres.</small>
    </div>
    
    <div class="row px-3 pb-3">
      <div class="col-12 justify-content-center">
        <%= f.submit "Submit", class: "btn btn-danger"%>      
      </div>
    </div>

<% end %>