<title>Topics | Yarnn.FM</title>

 	<!-- Page Content -->
 	<section class="section-content bg padding-y-sm">
		<div class="container">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb mt-3 shadow-sm">
					    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
					    <li class="breadcrumb-item"><%= link_to "Genres", genres_path %></li>
					    <li class="breadcrumb-item active" aria-current="page">Topics</li>
				  </ol>
				</nav>
				<%= render 'shared/alert' %>
		    <div class="row mt-3">
		    	<div class="col-xl-2 rounded">
		    		<div class="row mb-2">
		    			<div class="col-12">
		    				<div class="card">
							  <div class="card-body shadow-sm">
							    <h4 class="card-title site-blue"></h4>
							    <h6 class="card-subtitle mb-2 text-muted">Need Help?</h6>
							    <%= link_to tag_path("support") do %>
							    <%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/banners/support-desk.jpg', title: "action", class: "image-full") %>
							    <small class="mt-1"><%= link_to "Visit Support", tag_path("support") %><br />
							    Ask questions, post about site errors, or request a feature.</small>
							    <% end %>
							  </div>
									
							</div>
		    			</div>
		    		</div>
		    	</div><!-- end left column -->
		    	
		    	<div class="col-xl-7">
				    <div class="row mb-2">
		    			<div class="col-12">
		    				<div class="card">
								<div class="card-body shadow-sm">
									<% if user_signed_in?  %>
	            						<%= render "topics/quick_form" %>
									<% else %>
										<div class="row px-3 pb-1">
	                    					<div class="col-12">
										    	<small><em>You must be <b><%= link_to "logged in", new_user_session_path %></b> to create new topics.</em></small>
										  	</div>
										</div>
									<% end %> 
								</div>
							</div>
		    			</div>
		    		</div>
		    		<div class="card mb-3">
						<div class="card-body shadow-sm">
						    <h4 class="card-title site-blue">Latest Topics</h4>
						    <h6 class="card-subtitle mb-2 text-muted">Main Genres</h6>
								  
					    	<% @topics.each do |topic| %>
					    	<div class="lightline mx-auto"></div>
			  		    		<div class="row p-2">
			  		    			<div class="col-2 col-md-1">
			  		    				<% topic.tags.map(&:name).each do |tag| %>
			  		    					<% @icon = tag.split.map(&:downcase).join('_') %>
				  		    				<% if lookup_context.template_exists?(@icon, "topics/icons", true) %>
				  		    					
											    <%= render partial: "topics/icons/#{@icon}" %>
											<% else %>
												<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/default-site-blue.png', width: 30, title: "#{@icon}", class: "pt-1") %>
											<% end %>
										<% end %>
			  		    			</div>
			                		<div class="col-10 col-md-11">
			                    		<%= link_to topic.title, topic_path(topic) %>
			                    		<% if @icon == "support" %>
			                    			<small>
				                			<% if topic.solved_status == "solved" %>
								        		(solved)
								        	<% else %>
								        		(unsolved)
								        	<% end %>
								        	</small>
			                			<% end %>
			                    		<br />
			                    		<% topic.tags.map(&:name).each do |tag| %>
			                			  	<div class="tags">
			                				  <%= link_to tag, tag_path(tag) %>
			                				</div>
			            			  	<% end %>
				                    	<small class="text-secondary"><i class="fas fa-comments site-blue mx-1" title="replies"></i><%= topic.comments.count %> replies |
				                    		<% if topic.comments.any? %>
				                    			last reply by <%= link_to topic.latest_comment.user.username, user_path(topic.latest_comment.user) %>
				                    			<%= time_ago_in_words(topic.latest_comment.created_at) %> ago
				                    		<% else %>
				                    		by <%= link_to topic.user.username, user_path(topic.user_id) %>
				                    			<%= time_ago_in_words(topic.created_at) %> ago 
				                    		<% end %>
				                  		</small>
				                	</div>
				              		
				              	</div>
				              	
				              	
			            	<% end %>
			            	<%= paginate @topics %>
		    			</div>
		    		</div><!-- end card -->	
		    		
		    	</div><!-- end middle column -->

		    	
		    	<div class="col-xl-3">
		    		<div class="row mb-2">
		    			<div class="col-12">
		    				<div class="card">
							  <div class="card-body shadow-sm">
							    <h6 class="card-subtitle mb-2 text-muted">Latest Topics</h6>
							    <small>
				  					<% if @topics.exists? %>
				                      <%= render 'tags/topics_simple' %>
				                      <%= paginate @topics %>
				                    <% else %>
				                      <p>There are no topics in this genre.</p>
				                    <% end %>
			                  </small>
							  </div>
							</div>
		    			</div>
		    		</div>
		    	<!-- end card -->

		    	</div><!-- end right column -->
		    </div><!-- end row -->
		    
		</div><!-- end container -->
	</section>