<div id="other_background_nocenter" style="overflow-y: auto;">
<%= render 'shared/alert' %>

<% if @genre == "Premium" && !user_signed_in? %>
<section class="section-content bg padding-y-sm">
	<div class="container">
		<div class="row m-3 justify-content-center">
			<div class="col-8 p-4 bg-white shadow-sm rounded ">
				<small><em>You must be <b><%= link_to "logged in", new_user_session_path %></b>.</em></small>
			</div>
		</div>
	</div>
</section>
<% elsif @genre == "Premium" && user_signed_in? && !current_user.stripe_subscription_id? %>
<section class="section-content bg padding-y-sm">
	<div class="container">
		<div class="row m-3 justify-content-center">
			<div class="col-8 p-4 bg-white shadow-sm rounded ">
				<div class="text-center"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/premium.png', width: 60, title: "premium", class: "pt-1") %></div>
				<h2 class="site-blue my-2">Premium Only Content</h2>
				<p>You are trying to access content reserved for our premium users. <%= link_to "Click here", pricing_index_path %> to go premium and access this content and more features!</p>
			</div>
		</div>
	</div>
</section>
<% else %>

  <section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">

            <div class="row mb-2">
		    			<div class="col-12">
		    				<div class="card">
							  <div class="card-body text-center shadow-sm">
					      	<% @topic.tags.map(&:name).each do |tag| %>
		  		    			<% @icon = tag.split.map(&:downcase).join('_') %>
				  		    	<% if lookup_context.template_exists?(@icon, "topics/icons", true) %>
				  		    		<%= render partial: "topics/icons/#{@icon}" %>
										<% else %>
											<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/default-site-blue.png', width: 30, title: "#{@icon}", class: "pt-1") %>
										<% end %>
									<% end %>
									<h4 class="card-title site-blue"><%= link_to @genre, tag_path(@tag) %></h4></td>
									<h6 class="card-subtitle mb-2 text-muted">Genre Info</h6></td>
							  </div>
									<ul class="list-group list-group-flush">
										<% unless @genre == "Support" || @genre == "Premium" %>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-headphones site-blue mr-2" title="tracks"></i> Tracks</small>
									    <span class="badge site-blue badge-pill"><%= @track_count %></span>
									  </li>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-shopping-cart site-blue mr-2" title="listings"></i> Products</small>
									    <span class="badge site-blue badge-pill"><%= @listing_count %></span>
									  </li>
									  <% end %>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-comment-alt site-blue mr-2" title="topics"></i> Topics</small>
									    <span class="badge site-blue badge-pill"><%= @topics_count %></span>
									  </li>
									</ul>
	
							  
							</div>
		    			</div>
		    		</div>
		    		
		    		<div class="row mb-2">
		    			<div class="col-12">
		    				<div class="card">
							  <div class="card-body">
							  	<div class="row">
										<div class="col-12">
											<h6 class="card-title float-left text-muted">Active <%= @genre %> Topics</h6> <h6 class="float-right site-red"><%= link_to "all topics", topics_path %></h6>
										</div>
									</div>
							    <small>
  							    <% if @topics.exists? %>
                      <%= render 'tags/topics_simple' %>
                      <div class="mt-2"><%= paginate @topics %></div>
                    <% else %>
                      <p>There are no topics in this genre.</p>
                    <% end %>
                  </small>
							  </div>
							</div>
		    			</div>
		    		</div>
      </div>
     
      <div class="col-md-9">
      
        <div class="blog_wrapper rounded crown-border p-3">
        	<% if @genre == "Support" && @topic.solved_status == "solved" %>
        		<h3 style="display:inline-block"><i class="fas fa-check site-blue mr-1" title="solved"></i></h3>
        	<% end %>
          <h1 style="display:inline-block"><%= @topic.title %></h1>
          <% if (user_signed_in? && current_user.role == "admin") %>
		        <div class="small ml-3 text-secondary" style="display:inline-block">#<%= @topic.id %></div>
		      <% end %>
          <div class="blog_info">
            <div class="blog_info_user_avatar">
								<% if @topic.user.image? %>
									<%= image_tag @topic.user.image.url(:thumb), width: 60, class: "rounded" %>
								<% else %>
									<%= image_tag('default_track.jpg', style: "width: 60px", class: "rounded") %>
								<% end %>								
							</div>
            <div class="blog_info_user_name"><h4><%= link_to @topic.user.username, user_path(@topic.user) %></h4></div> 
            <div class="blog_info_date">
              <%= time_ago_in_words(@topic.created_at) %> ago
              <% if @topic.user == current_user %>
                <i class="fas fa-cog site-red mr-1 ml-3"></i><%= link_to "edit", edit_topic_path(@topic) %>
              <% end %>
              <% if @genre == "Support" %>
	              <% if (user_signed_in? && current_user.role == "admin") or (@topic.user == current_user )%>
	              	<% if @topic.solved_status == "unsolved" %>
	              		<%= link_to toggle_status_topic_path(@topic), method: :get do %><i class="fas fa-times site-red mr-1 ml-3" title="mark this as solved"></i><% end %><h6 class="site-red" style="display:inline-block">Unsolved</h6>
						      <% else %>
						        <%= link_to toggle_status_topic_path(@topic), method: :get do %><i class="fas fa-check site-blue mr-1 ml-3" title="mark this as unsolved"></i><% end %><h6 class="site-blue" style="display:inline-block">Solved</h6>
						      <% end %>
							  <% end %>
							 <% end %>
            </div>
            <ul class="nav nav-text-tiny text-uppercase">
								<li class="nav-item site-blue nav-link">
									<i class="fas fa-headphones site-blue" title="tracks"></i> Tracks (<%= @topic.user.tracks.count %>)
								</li>
								<li class="nav-item site-blue nav-link">
									<i class="fas fa-compact-disc site-blue" title="albums"></i> Albums (<%= @topic.user.albums.count %>)
								</li>
								<li class="nav-item site-blue nav-link">
									<i class="fas fa-pen-nib site-blue" title="blog posts"></i> Blog Posts (<%= @topic.user.blogs.count %>)
								</li>
							</ul>
          </div>
          <div class="blog_content">
            <%= @topic.content.html_safe %>
          </div>
        </div>
        
            <div class="blog_wrapper mt-3 rounded crown-border">
    		      <div class="row p-4">
    		        <div class="col-12 mb-2">
      		        <% if user_signed_in? %>
                    <%= render "comments/form" %>
                  <% else %>
                    <small><em>You must be <b><%= link_to "logged in", new_user_session_path %></b> to comment.</em></small>
                  <% end %>
                </div>
                <div class="col-12">
                  <%= render 'comments/comments', :commentable => @topic %>
                </div>
              </div>
            </div>
          
        </div>
      </div>
    </div>
  </section>
<% end %>
</div>
