<div id="other_background_nocenter" style="overflow-y: auto;">
<%= render 'shared/alert' %>

<% if @genre == "Premium" && user_signed_in? && !current_user.stripe_subscription_id? %>
<section class="section-content bg padding-y-sm">
	<div class="container">
		<div class="row m-3 justify-content-center">
			<div class="col-8 p-4 bg-white shadow-sm rounded ">
				<div class="text-center"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/premium.png', width: 60, title: "premium", class: "pt-1") %></div>
				<h2 class="site-blue my-2">Premium Only Content</h2>
				<p>You are trying to access content reserved for our premium users. <%= link_to "Click here", pricing_index_path %> to go premium and access this content and more features!</p>
			</div>
		</div>
	</div>
</section>
<% else %>

  <section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">

            <div class="row mb-2">
		    			<div class="col-12">
		    				<div class="card">
							  <div class="card-body">
							    <h4 class="card-title site-blue"><%= link_to @genre, tag_path(@tag) %></h4>
							    <h6 class="card-subtitle mb-2 text-muted">Genre Info</h6>
							  </div>
									<ul class="list-group list-group-flush">
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-headphones site-blue mr-2" title="tracks"></i> Tracks</small>
									    <span class="badge site-blue badge-pill"><%= @track_count %></span>
									  </li>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-shopping-cart site-blue mr-2" title="listings"></i> Products</small>
									    <span class="badge site-blue badge-pill"><%= @listing_count %></span>
									  </li>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-comment-alt site-blue mr-2" title="topics"></i> Topics</small>
									    <span class="badge site-blue badge-pill"><%= @topics_count %></span>
									  </li>
									</ul>
	
							  
							</div>
		    			</div>
		    		</div>
		    		
		    		<div class="row mb-2">
		    			<div class="col-12">
		    				<div class="card">
							  <div class="card-body">
							  	<div class="row">
										<div class="col-12">
											<h6 class="card-title float-left text-muted">Latest <%= @genre %> Topics</h6> <h6 class="float-right site-red"><%= link_to "all topics", topics_path %></h6>
										</div>
									</div>
							    <small>
  							    <% if @topics.any? %>
                      <%= render 'tags/topics' %>
                      <%= paginate @topics %>
                    <% else %>
                      <p>There are no topics in this genre.</p>
                    <% end %>
                  </small>
							  </div>
							</div>
		    			</div>
		    		</div>
      </div>
     
      <div class="col-md-9">
      
        <div class="blog_wrapper rounded crown-border p-3">
          <h1><%= @topic.title %></h1>
          <div class="blog_info">
            <div class="blog_info_user_avatar">
								<% if @topic.user.image? %>
									<%= image_tag @topic.user.image.url(:thumb), width: 60 %>
								<% else %>
									<%= image_tag('default_track.jpg', style: "width: 60px") %>
								<% end %>								
							</div>
            <div class="blog_info_user_name"><%= link_to @topic.user.name, user_path(@topic.user) %></div> 
            <div class="blog_info_date">
              <%= time_ago_in_words(@topic.created_at) %> ago
              <% if @topic.user == current_user %>
                <i class="fas fa-cog site-red mr-1 ml-3"></i><%= link_to "edit", edit_topic_path(@topic) %>
              <% end %>
            </div>
            <ul class="nav nav-text-tiny text-uppercase">
								<li class="nav-item site-blue nav-link">
									<i class="fas fa-headphones site-blue" title="tracks"></i> Tracks (<%= @topic.user.tracks.count %>)
								</li>
								<li class="nav-item site-blue nav-link">
									<i class="fas fa-compact-disc site-blue" title="albums"></i> Albums (<%= @topic.user.albums.count %>)
								</li>
								<li class="nav-item site-blue nav-link">
									<i class="fas fa-pen-nib site-blue" title="blog posts"></i> Blog Posts (<%= @topic.user.blogs.count %>)
								</li>
							</ul>
          </div>
          <div class="blog_content">
            <%= @topic.content.html_safe %>
          </div>
        </div>
        
            <div class="blog_wrapper mt-3 rounded crown-border">
    		      <div class="row p-4">
    		        <div class="col-12 mb-2">
      		        <% if user_signed_in? %>
                    <%= render "comments/form" %>
                  <% else %>
                    <small><em>You must be <b><%= link_to "logged in", new_user_session_path %></b> to comment.</em></small>
                  <% end %>
                </div>
                <div class="col-12">
                  <%= render 'comments/comments', :commentable => @topic %>
                </div>
              </div>
            </div>
          
        </div>
      </div>
    </div>
  </section>
<% end %>
</div>
