<div class="tiny-table-cell" style="width: 58%;">
  <%= link_to User.find(notification.notified_by).username, user_path(notification.notified_by) %> 
  commented on 
  <% if notification.commentable_type == "Blog" %>
    <%= link_to Blog.find(notification.commentable_id).title, blog_path(notification.commentable_id) %>
  <% elsif notification.commentable_type == "Track" %>
    <%= link_to Track.find(notification.commentable_id).title, track_path(notification.commentable_id) %>
  <% elsif notification.commentable_type == "Topic" %>
    <%= link_to Topic.find(notification.commentable_id).title, topic_path(notification.commentable_id) %>
  <% end %>
</div>
<div class="tiny-table-cell" style="width: 22%;">
  <div class="small">
    <%= time_ago_in_words(notification.created_at) %> ago
  </div>                  
</div>
