<div id="album_show">
	<div id="banner" class="track_banner">
	  <%= render 'layouts/header' %>
	</div>
  
	<div id="breadcrumb">
	  <%= link_to current_user.username, user_path(current_user) %>
			<span>/</span>
		Notifications
	</div>
	
  <%= render 'shared/alert' %>
    
  <% if @notifications.count > 21 %>
    <div class ="pagination-container">
      <%= paginate @notifications %>
    </div>
  <% end %>    
  
    <div class="wrapper_wide">
      <div class="side-box">
        <div class="table">

          <% if @notifications.any? %>
            <% @notifications.each do |notification| %>
              <% if lookup_context.template_exists?(notification.notification_type, "notifications/types", true) %>
          
              <div class="table-row">
                <div class="tiny-table-cell" style="width: 10%;">
                  <% if notification.notified_by.image? %>
                    <%= image_tag User.find(notification.notified_by).image.url,  width: 40, class: "image", title: notification.notified_by.username %>
                  <% else %>
                    <%= image_tag('default_track.jpg', width: 40, class: "image", title: notification.notified_by.username) %>
                  <% end %>
                </div>
                    
                  <%= render partial: "notifications/types/#{notification.notification_type}", locals: {notification: notification} %>
                
                  <div class="tiny-table-cell" style="width: 20%;">
                    <div class="small">
                      <%= link_to 'mark as read', toggle_read_notification_path(notification) %>
                    </div>
                  </div>
                </div>
                
              <% end %>
              
            <% end %>
          <% else %>
            You have no notifications.
          <% end %>
          
        </div>
      </div>
    </div>
    
</div>