<div class="container">
  <nav aria-label="breadcrumb">
	  <ol class="breadcrumb mt-3 shadow-sm">
		    <li class="breadcrumb-item"><i class="fas fa-user-astronaut site-blue mx-2" title="user"></i><%= link_to current_user.username, user_path(current_user) %></li>
        <li class="breadcrumb-item">Notifications</li>
	  </ol>
	</nav>
  <%= render 'shared/alert' %>
    
    <div class="row justify-content-center">
      <div class="col-10">
        <%= paginate @notifications %>

              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"><h5>User</h5></th>
                    <th scope="col"><h5>Info</h5></th>
                    <th scope="col"><h5>When</h5></th>
                    <th scope="col"><h5>Mark</h5></th>
                  </tr>
                </thead>
                <tbody>
                <% if @notifications.any? %>
                  <% @notifications.each do |notification| %>
                    <% if lookup_context.template_exists?(notification.notifiable_type, "notifications/types", true) %>
                      <tr>
                        <th scope="row">
                          <% if User.find(notification.notified_by_id).image? %>
                            <%= image_tag User.find(notification.notified_by_id).image.url(:thumb),  width: 40, class: "rounded", title: User.find(notification.notified_by_id).username %>
                          <% else %>
                            <%= image_tag('default_track.jpg', width: 40, class: "rounded", title: User.find(notification.notified_by_id).username) %>
                          <% end %>
                        </th>
                        <td><%= render partial: "notifications/types/#{notification.notifiable_type}", locals: {notification: notification} %></td>
                        <td><small><%= time_ago_in_words(notification.created_at) %> ago</small></td>
                        <td><small>
                              <%= link_to 'mark as read', toggle_read_notification_path(notification) %>
                            </small>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                
            <% else %>
              You have no notifications.
            <% end %>
            </tbody>
          </table>
          <%= paginate @notifications %>
      </div>
    </div>
</div>