<div class="row">
  <div class="col-12 col-md-9 small">
    <% if item.user == current_user %>
      You
    <% else %>
    <%= link_to User.find(item.user_id).username, user_path(item.user_id) %> 
    <% end %>
    
    created the album <%= link_to Album.find(item.item_id).title, album_path(item.item_id) %> 
    which currently has <%= pluralize(Album.find(item.item_id).tracks.count, "track") %>.
    
    <div class="border mt-2 p-2">
      <%= truncate(Album.find(item.item_id).description, length: 200) %>
    </div>
    
  </div>
  
  <div class="col-12 col-md-3 small">
      <%= time_ago_in_words(item.created_at) %> ago
      <i class="fas fa-headphones site-blue"></i>
      <span class="ml-2"></span><%= pluralize(Album.find(item.item_id).tracks.count, 'Track' ) %>
  </div>
</div>