<div class="row">
  <div class="col-12 col-md-9 small">
    <% if item.user == current_user %>
      You
    <% else %>
    <%= link_to User.find(item.user_id).username, user_path(item.user_id) %> 
    <% end %>
    
    made the blog post  
    <i><%= link_to Blog.find(item.eventable_id).title, blog_path(item.eventable_id) %></i><br />
    <small><i class="fas fa-comments site-blue"></i>
      <span class="ml-1 text-secondary"><%= Blog.find(item.eventable_id).comments.count %></span></small>
    
    <div class="border border-secondary rounded mt-2 p-2">
      <small><%= truncate(strip_tags(Blog.find(item.eventable_id).body.to_s), length: 200)%></small>
    </div>
    
  </div>
  
  <div class="col-12 col-md-3 small text-center">
      <small><%= time_ago_in_words(item.created_at) %> ago</small>
  </div>
</div>
