<div class="row">
  <div class="col-12 col-md-9 small">
    <% if item.user == current_user %>
      You
    <% else %>
    <%= link_to User.find(item.user_id).username, user_path(item.user_id) %> 
    <% end %>
    
    made the blog post  
    <%= link_to Blog.find(item.item_id).title, blog_path(item.item_id) %>
    
    <div class="border mt-2 p-2">
      <%= truncate(strip_tags(Blog.find(item.item_id).content), length: 200) %>
    </div>
    
  </div>
  
  <div class="col-12 col-md-3 small">
      <%= time_ago_in_words(item.created_at) %> ago
      <i class="fas fa-comments text-muted ml-3"></i>
      <span class="ml-2 site-red"><%= Blog.find(item.item_id).comments.count %></span>
  </div>
</div>
