<div class="tiny-table-cell" style="width: 58%;">
  <%= link_to User.find(item.user).username, user_path(item.user) %> 
  commented on 
  <% if item.commentable_type == "Blog" %>
    <%= link_to Blog.find(item.parent_id).title, blog_path(item.parent_id) %>
  <% elsif item.commentable_type == "Track" %>
    <%= link_to Track.find(item.parent_id).title, track_path(item.parent_id) %>
  <% elsif item.commentable_type == "Topic" %>
    <%= link_to Topic.find(item.parent_id).title, topic_path(item.parent_id) %>
  <% end %>
</div>
<div class="tiny-table-cell" style="width: 22%;">
  <div class="small">
    <%= time_ago_in_words(item.created_at) %> ago
  </div>                  
</div>
