<div class="tiny-table-cell" style="width: 58%;">
  <% if item.user == current_user %>
    You
  <% else %>
  <%= link_to User.find(item.user_id).username, user_path(item.user_id) %> 
  <% end %>
  
  commented on 
  
    <% if item.commentable_type == "Blog" %>
      the blog post <%= link_to Blog.find(item.parent_id).title, blog_path(item.parent_id) %>
      
    <% elsif item.commentable_type == "Track" %>

        the track <%= link_to Track.find(item.parent_id).title, track_path(item.parent_id) %>

    <% elsif item.commentable_type == "Topic" %>
     the topic <%= link_to Topic.find(item.parent_id).title, topic_path(item.parent_id) %>
      
    <% end %>
    <br />
    <span style="display: block; margin: .3rem 2rem; font-style:normal"><%= truncate(Comment.find(item.item_id).content, length: 120) %></span>
</div>

<div class="tiny-table-cell" style="width: 22%">
  <div class="small">
    <%= time_ago_in_words(item.created_at) %> ago
  </div>                  
</div>
