<div class="row">
  <div class="col-12 col-md-9 small">
    <i class="fas fa-heart site-blue mr-1" title="favorite"></i>
     <% if item.user == current_user %>
      You
    <% else %>
    <%= link_to User.find(item.user_id).username, user_path(item.user_id) %> 
    <% end %>
    
    added 

    <i><%= link_to Track.find(item.eventable_id).title, track_path(item.eventable_id) %></i> 
    by 
    <% if Track.find(item.eventable_id).pseudonym_id? %>
			<%= link_to Track.find(item.eventable_id).pseudonym.name, user_path(Track.find(item.eventable_id).user) %>
		<% else %>
			<%= link_to Track.find(item.eventable_id).user.name, user_path(Track.find(item.eventable_id).user) %>
		<% end %> to 
    
    <% if item.user == current_user %>
      your station
    <% else %>
      their station
    <% end %>
  </div>
  <div class="col-12 col-md-3 small text-center">
      <small><%= time_ago_in_words(item.created_at) %> ago</small>
      <div class="row justify-content-center">
        <% Track.find(item.eventable_id).tags.map(&:name).each do |tag| %>
    			<% @icon = tag.split.map(&:downcase).join('_') %>
    			<% if lookup_context.template_exists?(@icon, "topics/icons", true) %>
    			    <%= render partial: "topics/icons/#{@icon}" %>
    			<% else %>
    				<%= image_tag('default_track.jpg', width: 30, title: "#{@icon}", class: "round pt-1") %>
    			<% end %>
    		<% end %>
    </div>
  </div>
</div>