<div class="row">
  <div class="col-12 col-md-9 small">
    <% if item.user == current_user %>
      You
    <% else %>
    <%= link_to User.find(item.user_id).username, user_path(item.user_id) %> 
    <% end %>
    
    purchased the <%= Listing.find(item.eventable_id).filetype %> 
    
    <i><%= link_to Listing.find(item.eventable_id).title, listing_path(item.eventable_id) %></i> by 
    <% if Listing.find(item.eventable_id).pseudonym_id? %>
			<%= link_to Listing.find(item.eventable_id).pseudonym.name, user_path(Listing.find(item.eventable_id).user) %>
		<% else %>
			<%= link_to Listing.find(item.eventable_id).user.name, user_path(Listing.find(item.eventable_id).user) %>
		<% end %><br />
    <small><i class="fas fa-highlighter site-blue" title="reviews"></i>
    <span class="ml-1 text-secondary"><%= Listing.find(item.eventable_id).reviews.count %></span></small>
    
    <div class="row">
      
        <div class="border border-secondary my-1 p-2 pb-2 rounded">
          <%= link_to listing_path(item.eventable_id) do %>
    				<%= image_tag Listing.find(item.eventable_id).image.url(:thumb), height: 100, class: "p-1 border border-secondary float-left mr-2" %>
    			<% end %>
          <small><%= truncate(Listing.find(item.eventable_id).description, length: 124) %></small>
          <br/><br />
          <div id="stars">
						<div class="star-rating" data-score=<%= Listing.find(item.eventable_id).avg_rating %> style="max-width: 10%;"></div>
					</div>
        </div>
      
    </div>
    
  </div>
  <div class="col-12 col-md-3 small text-center">
      <small><%= time_ago_in_words(item.created_at) %> ago<br /></small>
  </div>
</div>
  <div class="row">
    Tags 
  </div>
