<div class="row">
  <div class="col-12 col-md-9 small">
    <% if item.user == current_user %>
      You
    <% else %>
    <%= link_to User.find(item.user_id).username, user_path(item.user_id) %> 
    <% end %>
    
    purchased the <%= Listing.find(item.item_id).filetype %> 
    
    <%= link_to Listing.find(item.item_id).title, listing_path(item.item_id) %> by 
    <% if Listing.find(item.item_id).pseudonym_id? %>
			<%= link_to Listing.find(item.item_id).pseudonym.name, user_path(Listing.find(item.item_id).user) %>
		<% else %>
			<%= link_to Listing.find(item.item_id).user.name, user_path(Listing.find(item.item_id).user) %>
		<% end %>
    <% Listing.find(item.item_id).tag_list.map.each do |tag| %>
      <span class="badge badge-info py-1 px-2 site-link-white"><%= link_to tag, tag_path(tag) %></span></h6>
    <% end %>
                    
    <div class="grayline mt-2"></div>
    <div class="row align-items-center">
      <div class="col-4">
        <%= link_to listing_path(item.item_id) do %>
  				<%= image_tag Listing.find(item.item_id).image.url(:thumb), class: "image-full" %>
  			<% end %>
      </div>
      <div class="col-8">
        <div class="border mt-2 p-2">
          <%= truncate(Listing.find(item.item_id).description, length: 200) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 small">
      <%= time_ago_in_words(item.created_at) %> ago
  </div>
</div>