<div class="row">
  <div class="col-12 col-md-9 small">
    <% if item.user == current_user %>
      You
    <% else %>
    <%= link_to User.find(item.user_id).username, user_path(item.user_id) %> 
    <% end %>
    
    gave the <%= Listing.find(item.parent_id).filetype %> <i><%= link_to Listing.find(item.parent_id).title, listing_path(item.parent_id) %></i> 
    by 
    <% if Listing.find(item.parent_id).pseudonym_id? %>
			<%= link_to Listing.find(item.parent_id).pseudonym.name, user_path(Listing.find(item.parent_id).user) %>
		<% else %>
			<%= link_to Listing.find(item.parent_id).user.name, user_path(Listing.find(item.parent_id).user) %>
		<% end %>
    a 
    <div class="star-rating" style="display:inline-block" data-score= <%= Review.find(item.item_id).rating %> ></div> 
    rating
               
    <hr class="colorgraph">
    <div class="row">
      
        <div class="border border-secondary my-1 p-2 pb-2 rounded">
          <%= link_to listing_path(item.item_id) do %>
    				<%= image_tag Listing.find(item.parent_id).image.url(:thumb), height: 100, class: "p-1 border border-secondary float-left mr-2" %>
    			<% end %>
          <%= truncate(Listing.find(item.parent_id).description, length: 140) %>
          <br/>
          <div id="stars">
						<div class="star-rating" data-score=<%= Listing.find(item.parent_id).avg_rating %> style="max-width: 10%;"></div>
					</div>
        </div>
      
    </div>
  </div>
  <div class="col-12 col-md-3 small text-center">
    <small><%= time_ago_in_words(item.created_at) %> ago<br />
      <i class="fas fa-highlighter site-blue" title="reviews"></i>
      <span class="ml-1 site-red"><%= Listing.find(item.parent_id).reviews.count %></span>
    </small>
    <br />
    <br />
  <% Listing.find(item.parent_id).tag_list.map.each do |tag| %>
      <span class="badge badge-info py-1 px-2 site-link-white"><%= link_to tag, tag_path(tag) %></span></h6>
    <% end %>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3-us-west-2.amazonaws.com/yarnn/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>