<div class="row">
  <div class="col-12 col-md-9 small">
    <% if item.user == current_user %>
      You
    <% else %>
    <%= link_to User.find(item.user_id).username, user_path(item.user_id) %> 
    <% end %>
    
    gave the <%= Listing.find(item.parent_id).filetype %> <%= link_to Listing.find(item.parent_id).title, listing_path(item.parent_id) %> 
    by 
    <% if Listing.find(item.parent_id).pseudonym_id? %>
			<%= link_to Listing.find(item.parent_id).pseudonym.name, user_path(Listing.find(item.parent_id).user) %>
		<% else %>
			<%= link_to Listing.find(item.parent_id).user.name, user_path(Listing.find(item.parent_id).user) %>
		<% end %>
    a 
    <div class="star-rating" style="display:inline-block" data-score= <%= Review.find(item.item_id).rating %> ></div> 
    rating
               
    <div class="grayline mt-2"></div>
    <div class="row align-items-center">
      <div class="col-4">
        <%= link_to listing_path(item.parent_id) do %>
  				<%= image_tag Listing.find(item.parent_id).image.url(:thumb), class: "image-full" %>
  			<% end %>
      </div>
      <div class="col-8">
        <div class="border mt-2 p-2">
          <%= truncate(Review.find(item.item_id).content, length: 200) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 small">
      <%= time_ago_in_words(item.created_at) %> ago
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3-us-west-2.amazonaws.com/yarnn/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>