<div class="row">
  <div class="col-12 col-md-9 small">
    <% if item.user == current_user %>
      You
    <% else %>
      <%= link_to User.find(item.user_id).username, user_path(item.user_id) %> 
    <% end %>
    
    created the topic 
    <%= link_to Topic.find(item.item_id).title, topic_path(item.item_id) %><br />
    <small><i class="fas fa-comments site-blue" title="comments"></i>
      <span class="ml-1 text-secondary"><%= Topic.find(item.item_id).comments.count %></span></small>
    <div class="border border-secondary rounded my-1 mt-2 p-2">
      <small><%= truncate(Topic.find(item.item_id).content, length: 200) %></small>
    </div>
  </div>
  <div class="col-12 col-md-3 small text-center">
    <small>
      <%= time_ago_in_words(item.created_at) %> ago<br />
    </small>
  </div>
</div>
<div class="row">
    <% Topic.find(item.item_id).tag_list.map.each do |tag| %>
      <div class="tags"><%= link_to tag, tag_path(tag) %></div>
    <% end %>
</div>