<div class="row">
  <div class="col-12 col-md-9 small">
    <% if item.user == current_user %>
      You
    <% else %>
      <%= link_to User.find(item.user_id).username, user_path(item.user_id) %> 
    <% end %>
    
    created the topic 
    <%= link_to Topic.find(item.item_id).title, topic_path(item.item_id) %>
      
    <div class="border border-secondary rounded mt-2 p-2">
      <%= truncate(Topic.find(item.item_id).content, length: 200) %>
    </div>
  </div>
  <div class="col-12 col-md-3 small text-center">
    <small>
      <%= time_ago_in_words(item.created_at) %> ago<br />
      <i class="fas fa-comments site-blue" title="comments"></i>
      <span class="ml-1 site-red"><%= Topic.find(item.item_id).comments.count %></span>
    </small>
    <br />
    <br />
    <% Topic.find(item.item_id).tag_list.map.each do |tag| %>
      <span class="badge badge-info py-1 px-2 site-link-white"><%= link_to tag, tag_path(tag) %></span></h6>
    <% end %>
  </div>
</div>