<div class="row">
  <div class="col-12 col-md-9 small">
    <% if item.user == current_user %>
      You
    <% else %>
      <%= link_to User.find(item.user_id).username, user_path(item.user_id) %> 
    <% end %>
    
    created the topic 
    <%= link_to Topic.find(item.eventable_id).title, topic_path(item.eventable_id) %><br />
    <small><i class="fas fa-comments site-blue" title="comments"></i>
      <span class="ml-1 text-secondary"><%= Topic.find(item.eventable_id).comments.count %></span></small>
    <div class="border border-secondary rounded my-1 mt-2 p-2">
      <small><%= truncate(Topic.find(item.eventable_id).content, length: 200) %></small>
    </div>
  </div>
  <div class="col-12 col-md-3 small text-center">
    <small>
      <%= time_ago_in_words(item.created_at) %> ago<br />
    </small>
    <div class="row justify-content-center">
        <% Topic.find(item.eventable_id).tags.map(&:name).each do |tag| %>
    			<% @icon = tag.split.map(&:downcase).join('_') %>
    			<% if lookup_context.template_exists?(@icon, "topics/icons", true) %>
    			    <%= render partial: "topics/icons/#{@icon}" %>
    			<% else %>
    				<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/default-site-blue.png', width: 30, title: "#{@icon}", class: "pt-1") %>
    			<% end %>
    		<% end %>
    </div>
  </div>
  
</div>
