<div class="col-md-9 col-sm-8">
  <span class="font-weight-bold">            
  <% if item.user == current_user %>
      <span class="site-red">You</span>
  <% else %>
    <%= link_to User.find(item.user_id).username, user_path(item.user_id), class: "site-red" %> 
  <% end %>
  </span>
  
  uploaded a new track: <%= link_to Track.find(item.item_id).title, track_path(item.item_id), class: "site-blue font-weight-bold" %> in
  
  <% Track.find(item.item_id).tag_list.map.each do |tag| %>
    <span class="badge badge-info py-1 px-2 site-link-white"><%= link_to tag, tag_path(tag) %></span></h6>
  <% end %>                     
  
  <p class="mt-2 pb-4 border-bottom">
    <%= audio_tag(Track.find(item.item_id).audio, autoplay: false, controls: true) %>
    <br />
    <%= truncate(Track.find(item.item_id).description, length: 100) %>
  </p>
  
</div>

<div class="col-2">
  <div class="small text-secondary text-right"><%= time_ago_in_words(item.created_at) %> ago</div>
    <div class="float-right">
      <a href="#" class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
    </div>
</div>