<div id="tracks">
	<ul class="cf">
		<% @tracks.each do |track| %>
			<li class="cf">
				<div class="track_thumbnail">
					<% if track.image? %>
						<%= link_to image_tag(track.image.url(:thumb)), track_path(track), width: 100, title: track.title %>
					<% else %>
						<%= link_to image_tag(track.user.image.url(:thumb)), track_path(track), width: 100, title: track.title %>
					<% end %>
				</div>
				<div class="track_overview">
					<h2>
						<%= link_to track.title, track_path(track) %><% if track.explicit == "explicit" %>&nbsp;(explicit)<% end %>
						<% if track.album_id? %>
							/ <%= link_to track.album.title, album_path(track.album_id) %>
						<% end %>
					</h2>
					<p class="description"><%= truncate(track.description, length: 160) %></p>
					<div class="icons_container">
					  <div id="favorites">
					    <%= render 'albums/favorites', :track => track %>
					  </div>
				  </div>
				</div>
			</li>
		<% end %>
	</ul>
  <%= will_paginate @tracks, previous_label: "Previous", next_label: "Next" %>
</div>