<div class="main_avatar">
    <div class="ribbon_box">
      <div class="ribbon"><span>AUTHOR</span></div>
        <% if @user.image? %>
          <%= image_tag(@user.image.url(:thumb), title: @user.username) %>
        <% else %>
          <%= image_tag('default_track.jpg', width: 250, title: @user.username) %>
        <% end %>
    </div>
    
    <%= render 'shared/stats' %>
    <%= render 'users/follow_form' if user_signed_in? %>
    <div class="invisible_box">
      <div class="ib_content">
        <%= @user.bio %>
      </div>
    </div>
</div>
