<% @blogs.each do |blog| %>
<div class="lightline mx-auto"></div>
  	<div class="row p-2">
  	    <div class="col-3">
  	        <% if blog.image? %>
              <%= image_tag blog.image.url(:thumb), width: "100%", class: "mt-1 p-1 border" %>
            <% end %>
  	    </div>
		<div class="col-9">
    		<%= link_to blog.title, blog_path(blog) %><br />
        	<small class="text-secondary"><i class="fas fa-comments site-blue mx-1" title="replies"></i><%= blog.comments.count %> comments |
        		<%= time_ago_in_words(blog.created_at) %> ago by <%= link_to blog.user.username, user_path(blog.user_id) %>
      		</small>
    	</div>
  		
  	</div>
<% end %>