<% @user ||= current_user %>

<div class="user-stat-box">
    <span style="margin-right: .5rem"><%= link_to pluralize(user.following.count, "following"), following_user_path(user) %></span>

    <%= link_to pluralize(user.followers.count, "follower"), followers_user_path(user) %>

    <span style="margin-left: .5rem"><%= pluralize(user.tracks.count, "track") %></span>
    
    <span style="margin-left: .5rem"><%= pluralize(user.albums.count, "album") %></span>
    
    <span style="margin-left: .5rem"><%= pluralize(user.listings.count, "listing") %></span>
    
    <span style="margin-left: .5rem"><%= pluralize(user.blogs.count, "blog post") %></span>
    
    <span style="margin-left: .5rem"><%= image_tag('icons/station.svg', height: 11) %><span style="margin-left: .3rem"></span><%= link_to "Station", station_path(user) %></span>

    <span style="margin-left: .5rem"><%= image_tag('icons/heart_full.svg', width: 11) %> <%= pluralize(user.favorited_count, "time") %></span>
</div>