<%= render 'shared/alert' %>

<section>
	<div class="container">
		<div class="row mx-auto">
	    	<div class="col-md-8 bg-white px-3 mt-3 mb-5 text-correct rounded">
	          
	        	<div class="row py-3">
	            	<div class="col-12">
	                	<h5 class="site-blue">Latest Users</h5>
	            	</div>
	          	</div>
	          
	            <% @users.each do |user| %>
	            	<div class="grayline mx-auto" style="width: 94%;"></div>
	                <div class="row p-2 mx-auto">
	                	<div class="col-3 col-md-2">
			                
			                <% if user.image? %>
								<%= link_to image_tag(user.image.url(:thumb), class: "image-full rounded mb-2"), user_path(user), title: user.username %>
							<% else %>
								<%= image_tag('default_track.jpg', class: "image-full rounded mb-2", title: user.username) %>
							<% end %>
			
						    <% if user_signed_in? && current_user != user %>
			                    <%= render 'index_follow_form', :user => user %>
		                    <% end %>
                  		</div><!-- end col-4 -->
                  
                  		<div class="col-9 col-md-10">
                  			<h6 style="display: inline-block;"><%= link_to user.username, user_path(user) %> / <%= user.name %></h6>
							<% if (user_signed_in? && current_user.role == "admin") %>
						        <div class="small text-secondary" style="display:inline-block">#<%= user.id %> 
						        <%= user.email %></div>
						    <% end %>
	                		<br /><br />
			                <% if user.bio? %>
							  <p class="ellipses"><%= user.bio %></p><br />
							<% else %>
							  <p class="description">This user does not have a bio yet.</p><br />
							<% end %>
					
				    	
							<i class="fas fa-headphones site-blue" title="tracks"></i>
							<span class="ml-1 text-secondary"><%= user.tracks.count %></span>
							
							<i class="fas fa-comment site-blue ml-2" title="blog posts"></i>
							<span class="ml-1 text-secondary"><%= user.topics.count %></span>
							
							<i class="fas fa-user-astronaut site-blue ml-2" title="followers"></i>
							<span class="ml-1 text-secondary"><%= user.followers.count %></span>
							
							<i class="fas fa-shopping-cart site-blue ml-2" title="listings"></i>
							<span class="ml-1 text-secondary"><%= user.listings.count %></span>
							
							<%= link_to station_path(user) do %>
								<i class="fas fa-broadcast-tower ml-2 site-red" title="station"></i>
							<% end %>
					 
						</div><!-- end col5 -->
					
                    </div><!-- end row -->
            	<% end %>

	        	<%= paginate @users %>
	        </div><!-- end column -->
	      
	      	<div class="col-md-4">
		        <div class="bg-dark px-3 my-3 pb-5 text-correct trans-bg-3 rounded">
		        	<div class="row pt-3 rounded">
		            	<div class="col-12">
		                	<h5 class="site-blue"><i class="fas fa-fire site-blue" title="hot"></i>  Hot Right Now</h5>
		                </div>
		            </div>
		          
		            <div class="row p-2">
		            	<div class="col-12">
		                	<%= render 'popular' %>
		            	</div>
		            </div>
		        </div>
	    	</div><!-- end column -->
	    	
		</div><!-- end row -->
	</div><!-- end container -->
</section>