<div id="banner" class="albums_banner">
  <%= render 'layouts/header' %>
</div>
  <% if user_signed_in? %>
    <%= render 'layouts/subheader' %>
  <% end %>
<%= render 'shared/alert' %>

  <div class="wrapper_skinny_left">
    <%= render 'avatar' %>
    <% if @pseudonyms.any? %>
      <%= render 'pseudonyms' %>
    <% end %>
    <%= render 'followers' %>
    <%= render 'following' %>
  </div>
  
  <div class="wrapper_wide_right_right">
    <div id ="index-nav-container">
      <div class = "table-row">
        <div class="table-cell"><%= image_tag('icons/microphone.svg', height: 40) %><br />
          <%= link_to "audio tracks", user_path(@user) %></div>
        <div class="table-cell"><%= image_tag('icons/cassette.svg', height: 40) %><br />
          <%= link_to "albums", albums_user_path(@user) %></div>
        <div class="table-cell"><%= image_tag('icons/blog.svg', height: 30) %><br />
          <%= link_to "blog posts", blogs_user_path(@user) %></div>
        <div class="table-cell"><%= image_tag('icons/station.svg', height: 33) %><br />
          <%= link_to "station", station_path(@user) %></div>
      </div>
    </div>
  </div>

<div id="listings" class="cf">
  <% if @listings.any? %>
	<div class="wrapper_wide_right_right">
  		<ul class="cf">
  			<% @listings.each do |listing| %>
  					<li>
  						<%= link_to listing do %>
  							<%= image_tag listing.image.url(:thumb) %>
  						<% end %>
  						<div class="listing_overview">
  						  <p class="listing_type"><%= listing.filetype %></p>
  							<h2><%= link_to listing.title, listing_path(listing) %></h2>
  							<% if listing.pseudo_id? %>
  								<p class="listing_info"><%= link_to @pseudonym.name, user_path(listing.user) %></p>
  							<% else %>
  								<p class="listing_info"><%= link_to listing.user.name, user_path(listing.user) %></p>
  							<% end %>
  							<p class="listing_price"><b><%= number_to_currency(listing.price) %></b></p> 
  						</div>
  					</li>
  			<% end %>
  		</ul>

		<%= will_paginate @listings, previous_label: "Previous", next_label: "Next" %>
	</div>
	<% else %>
  <div class="wrapper_wide_right_right">
    <div class="side-box">
      <div class="side-content">
        <p>This user does not have any products listed yet.</p>
      </div>
     </div>
  </div>
  <% end %>
</div>

  <div class="wrapper_wide_right_right">
    <%= render 'shared/content_footer' %>
  </div>