<div id="other_background_nocenter" style="overflow-y: auto;">
<%= render 'shared/alert' %>

	<section>
	  <div class="container">
	    <div class="row mx-auto">
            <div class="col-12">
	            <div class="bg-dark px-3 my-3 pb-5 text-correct trans-bg-3 rounded">
	        	<div class="row pt-3 rounded">
	                <div class="col-5">
	                    <%= render 'avatar' %>
	                </div>
	                <div class="col-7">
	               <% if @pseudonyms.any? %>
                  <%= render 'pseudonyms' %>
                <% end %>
                <%= render 'followers' %>
                <%= render 'following' %>

	                </div>
	          </div>
	       
	        </div>
	      </div>
	      
	    </div>
	    <%= render 'users/audio' %>
	  </div>
	</section>
</div>