<title><%= @user.username %> | Yarnn.FM</title>
<body style="background-color: #e4e0e0;">
 	<!-- Page Content -->
 	<section class="section-content bg padding-y-sm">
		<div class="container">
	
		    <div class="row mt-3">
		    	<div class="col-xl-3 rounded">
		    		<div class="row mb-2">
		    			<div class="col-12">
		    				<div class="card">
								    <div class="ribbon_box">
								    	<% if @user.publisher_type == "publisher" %>
								        	<div class="ribbon"><span>PUBLISHER</span></div>
								    	<% end %>
								        <% if @user.image? %>
								        	
								        	<%= image_tag(@user.image.url(:thumb), class: "card-img-top rounded p-3", title: @user.username) %>
								        <% else %>
								        	<%= image_tag('default_track.jpg', class: "card-img-top rounded p-3", title: @user.username) %>
								        <% end %>
							    	</div>
							  
							  <div class="card-body">
							  	<div class="row">
								  	<div class="col-12">
								  		<h4 class="card-title float-left site-blue"><%= @user.username %></h4> 
								  		<% if @user == current_user %>
								  			<%= link_to edit_registration_path(current_user) do %>
								  			<h4 class="float-right site-red">
		    								    <i class="fas fa-cog" title="edit account"></i>
		    								</h4>
		    							    <% end %>
								  		<% end %>
	    						    </div>
    						    </div>
							    <p class="card-text">
							    	<% if @user.bio? %>
							    		<small><%= simple_format(@user.bio) %></small>
							    	<% else %>
							    		<small>This user has not added a bio yet.</small>
							    	<% end %>
							    </p>
							    <div class="row mb-2">
							    	<div class="col-6 border-right text-center text-muted">
							    		<small class="mb-1">Followers</small><br />
							    		<b><%= @user.followers.count %></b>
							    	</div>
							    	<div class="col-6 text-center text-muted">
							    		<small class="mb-1">Following</small><br/>
							    		<b><%= @user.following.count %></b>
							    	</div>
							    </div>
							    <div class="row mt-3">
							    	<div class="col-12 text-center">
							    		<%= render 'users/follow_form' if user_signed_in? %>
							    	</div>
							    </div>
							    
							  </div>
							</div>
			    			
					    </div>
		    		</div>
		    		<div class="row mb-2">
		    			<div class="col-12">
		    				<div class="card">
							  <div class="card-body">
							  	<div class="row">
							  		<div class="col-12">
								    	<h4 class="card-title site-blue float-left">Links</h4>
								    	<% if @user == current_user %>
										    <% if @user.link.present? %>
										  			<%= link_to edit_link_path(@user.link) do %>
										  				<h6 class="site-red float-right align-baseline">edit links</h6>
				    							    <% end %>
											<% else %>
												<%= link_to new_link_path(@user.link) do %>
									  				<h6 class="site-red float-right align-baseline">add links</h6>
			    							    <% end %>
										    <% end %>
									    <% end %>
							    	</div>
							    </div>
							    <h6 class="card-subtitle mb-2 text-muted"><%= @user.name %></h6>
								<% if @user.link.present? %>
							  		<% unless @link.website.blank? %>
										<%= link_to @link.website  do %>
											<small><i class="fas fa-globe site-blue mr-2"></i> <%= link_to @link.website, @link.website %></small><br />
										<% end %>
									<% end %>
									<% unless @link.facebook.blank? %>
										<%= link_to @link.facebook  do %>
											<small><i class="fab fa-facebook-f site-blue mr-2"></i></small>
										<% end %>
									<% end %>
									<% unless @link.twitter.blank? %>
										<%= link_to @link.twitter do %>
											<small><i class="fab fa-twitter site-blue mr-2"></i></small>
										<% end %>
									<% end %>
									<% unless @link.instagram.blank? %>
										<%= link_to @link.instagram do %>
											<small><i class="fab fa-instagram site-blue mr-2"></i></small>
										<% end %>
									<% end %>
									<% unless @link.youtube.blank? %>
										<%= link_to @link.youtube do %>
											<small><i class="fab fa-youtube site-blue mr-2"></i></small>
										<% end %>
									<% end %>
									<% unless @link.snapchat.blank? %>
										<%= link_to @link.snapchat do %>
											<small><i class="fab fa-snapchat-ghost site-blue mr-2"></i></small>
										<% end %>
									<% end %>
									<% unless @link.patreon.blank? %>
										<%= link_to @link.patreon do %>
											<small><i class="fab fa-patreon site-blue mr-2"></i></small>
										<% end %>
									<% end %>
									<% unless @link.amazon.blank? %>
										<%= link_to @link.amazon do %>
											<small><i class="fab fa-amazon site-blue mr-2"></i></small>
										<% end %>
									<% end %>
									<% unless @link.vimeo.blank? %>
										<%= link_to @link.vimeo do %>
											<small><i class="fab fa-vimeo-v site-blue mr-2"></i></small>
										<% end %>
									<% end %>
									<% unless @link.itunes.blank? %>
										<%= link_to @link.itunes do %>
											<small><i class="fab fa-itunes-note site-blue mr-2"></i></small>
										<% end %>
									<% end %>
									<% unless @link.stitcher.blank? %>
										<%= link_to @link.stitcher do %>
											<small><i class="fas fa-globe site-blue mr-2"></i></small>
										<% end %>
									<% end %>
									<% unless @link.soundcloud.blank? %>
										<%= link_to @link.soundcloud do %>
											<small><i class="fab fa-soundcloud site-blue"></i></small>
										<% end %>
									<% end %>
								<% end %>
							  </div>
							</div>
		    			</div>
		    		</div>
		    	</div><!-- end left column -->
		    	
		    	<div class="col-xl-6">
		    		<div class="row mt-2">
                      <div class="col-sm-12">
                         <div id="divInfo" class="alert alert-warning alert-dismissible fade show" role="alert">
                           
                                <div class="alert-heading mb-2"><i class="fas fa-bullhorn mr-3"></i><h5 style="display:inline-block"><%= @announcement.title %></h5></div> 
                             
                                <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true" class="float-right">&times;</span></button>
                      
                              <small>
                                <p class="mb-0"><%= @announcement.body %></p>
                              </small>
                     
                        </div>
                      </div>
                    </div>
		    		<div class="card mb-2 tab-card">
				        <div class="card-header tab-card-header">
				          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
				            <li class="nav-item">
				                <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true"><i class="fas fa-headphones site-blue mr-2" title="tracks"></i></a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false"><i class="fas fa-compact-disc site-blue mr-2" title="albums"></i></a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="false"><i class="fas fa-shopping-cart site-blue mr-2" title="products"></i></a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link" id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="Four" aria-selected="false"><i class="fas fa-pen-nib site-blue mr-2" title="blog posts"></i></a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link" id="five-tab" data-toggle="tab" href="#five" role="tab" aria-controls="Five" aria-selected="false"><i class="fas fa-comment-alt site-blue mr-2" title="topics"></i></a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link" id="six-tab" data-toggle="tab" href="#six" role="tab" aria-controls="Six" aria-selected="false"><i class="fas fa-highlighter site-blue mr-2" title="reviews"></i></a>
				            </li>
				          </ul>
				        </div>
				
				        <div class="tab-content" id="myTabContent">
				          <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
				            <div class="row">
								<div class="col-12">
									<h4 class="card-title site-blue">Tracks</h4>
								</div>
							</div>
							<% if @user.tracks.exists? %>
								<%= render 'users/tracks' %>
							<% else %>
								<p><%= @user.username %> hasn't uploaded any tracks yet.</p>
							<% end %>           
				          </div>
				          <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
				            <div class="row">
								<div class="col-12">
									<h4 class="card-title site-blue">Albums</h4>
								</div>
							</div>
							<% if @user.albums.exists? %>
								<%= render 'users/albums' %>
							<% else %>
								<p><%= @user.username %> hasn't created any albums yet.</p>
							<% end %>              
				          </div>
				          <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
				            <div class="row">
								<div class="col-12">
									<h4 class="card-title site-blue">Products</h4>
								</div>
							</div>
							<% if @user.listings.exists? %>
								<%= render 'users/listings' %>
							<% else %>
								<p><%= @user.username %> isn't currently selling anything in the marketplace.</p>
							<% end %>                
				          </div>
				          <div class="tab-pane fade p-3" id="four" role="tabpanel" aria-labelledby="four-tab">
				            <div class="row">
								<div class="col-12">
									<h4 class="card-title site-blue">Blog Posts</h4>
								</div>
							</div>
							<% if @user.blogs.exists? %>
								<%= render 'users/blogs' %>
							<% else %>
								<p><%= @user.username %> hasn't written any blog posts yet.</p>
							<% end %>               
				          </div>
				          <div class="tab-pane fade p-3" id="five" role="tabpanel" aria-labelledby="five-tab">
				            <div class="row">
								<div class="col-12">
									<h4 class="card-title site-blue">Topics</h4>
								</div>
							</div>
							<% if @user.topics.exists? %>
								<%= render 'users/topics' %>
							<% else %>
								<p><%= @user.username %> hasn't created any topics yet.</p>
							<% end %>               
				          </div>
				          <div class="tab-pane fade p-3" id="six" role="tabpanel" aria-labelledby="six-tab">
				            <div class="row">
								<div class="col-12">
									<h4 class="card-title site-blue">Reviews</h4>
								</div>
							</div>
							<% if @user.reviews.exists? %>
								<%= render 'users/reviews' %>
							<% else %>
								<p><%= @user.username %> hasn't written any reviews yet.</p>
							<% end %>               
				          </div>
				
				        </div>
				      </div><!-- end card -->
		    	</div><!-- end middle column -->
		    	
		    	<div class="col-xl-3">
		    		<div class="card mb-2">
						<div class="card-body">
							<div class="row">
								<div class="col-12">
									<h4 class="card-title float-left site-blue">Following</h4> <small class="float-right"><a href="#">view all</a></small>
								</div>
							</div>
						    
						    <% if @followed_users.exists? %>
								<div class="row">
									<div class="col-12 d-flex justify-content-between align-items-center">
										<% @followed_users.each do |followed_user| %>
							      			<%= link_to followed_user do %>
										        <% if followed_user.image? %>
										          <%= image_tag(followed_user.image.url(:thumb), width: 30, class: "rounded", title: followed_user.username) %>
										        <% else %>
										          <%= image_tag 'default_track.jpg', width: 30, class: "rounded", title: followed_user.username %> 
										        <% end %>
							      			<% end %>
										<% end %>
							   		</div>
								</div>
							<% else %>
							<small><%= @user.username %> isn't following anybody yet.</small>
							<% end %>
							
						</div>
					</div><!-- end card -->
						<div class="row mb-2">
		    			<div class="col-12">
		    				<div class="card">
							  <div class="card-body">
							    <h4 class="card-title site-blue">Content</h4>
							    <h6 class="card-subtitle mb-2 text-muted"><%= @user.name %></h6>
							  </div>
									<ul class="list-group list-group-flush">
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-headphones site-blue mr-2" title="tracks"></i> Tracks</small>
									    <span class="badge site-blue badge-pill"><%= @user.tracks.count %></span>
									  </li>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-compact-disc site-blue mr-2" title="albums"></i> Albums</small>
									    <span class="badge site-blue badge-pill"><%= @user.albums.count %></span>
									  </li>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-shopping-cart site-blue mr-2" title="listings"></i> Products</small>
									    <span class="badge site-blue badge-pill"><%= @user.listings.count %></span>
									  </li>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-user-astronaut site-blue mr-2"></i> Followers</small>
									    <span class="badge site-blue badge-pill"><%= @user.followers.count %></span>
									  </li>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-broadcast-tower site-blue mr-2"></i> Stations</small>
									    <span class="badge site-blue badge-pill"><%= @user.favorites.count %></span>
									  </li>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-pen-nib site-blue mr-2" title="blog posts"></i> Blog Posts</small>
									    <span class="badge site-blue badge-pill"><%= @user.blogs.count %></span>
									  </li>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-comment-alt site-blue mr-2" title="topics"></i> Topics</small>
									    <span class="badge site-blue badge-pill"><%= @user.topics.count %></span>
									  </li>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-highlighter site-blue mr-2" title="reviews"></i> Reviews</small>
									    <span class="badge site-blue badge-pill"><%= @user.reviews.count %></span>
									  </li>
									</ul>
	
							  
							</div>
		    			</div>
		    		</div>

		    	</div><!-- end right column -->
		    </div><!-- end row -->
		    <% if @user.tracks.exists? %>
		    	<%= render 'audio' %>
		    <% end %>
		</div><!-- end container -->
	</section>
    