<div class="footer">
  <ul>
    <li><%= link_to 'home', root_path %></li>
    <li><%= link_to 'about', about_path %></li>
    <li><%= link_to 'terms' %></li>
    <li><%= link_to 'privacy' %></li>
    <li><%= link_to 'blog' %></li>
    <li><%= link_to "help", help_path %></li>
    <li><%= link_to 'guidelines' %></li>
    <li><%= link_to "api" %></li>
    <li><%= link_to 'pro' %></li>
  </ul>
</div>