<% if current_page?(root_path) %>
<div id="footer2">
  <ul class="nav justify-content-center nav-text-tiny text-uppercase">
    <li class="nav-item site-blue nav-link site-stat">
      <i class="fas fa-headphones site-blue"></i>
      <span class="ml-2"></span><%= pluralize(@track_count, 'Track' ) %>
    </li>
    <li class="nav-item site-blue nav-link site-stat">
      <i class="fas fa-compact-disc site-blue"></i>
      <span class="ml-2"></span><%= pluralize(@album_count, 'Album' ) %>
    </li>
    <li class="nav-item site-blue nav-link site-stat">
      <i class="fas fa-user-astronaut site-blue"></i>
      <span class="ml-2"></span><%= pluralize(@user_count, 'User' ) %>
    </li>
    <li class="nav-item site-blue nav-link site-stat">
      <i class="fas fa-shopping-cart site-blue"></i>
      <span class="ml-2"></span><%= pluralize(@listing_count, 'Listing' ) %>
    </li>
  </ul>
  <hr class="my-1">
  <ul class="nav justify-content-center nav-text-tiny text-uppercase">
    <li class="nav-item">
      <%= link_to "Home", root_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'about', about_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'terms', root_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'privacy', root_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'blog', root_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "help", help_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "api", root_path, :class => "text-correct nav-link" %>
    </li>
  </ul>
</div>
<% else %>

<!----Footer Start---->
<div class="ms_footer_wrapper">
    <div class="ms_footer_inner">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer_box">
                    <h1 class="footer_title site-blue">Yarnn.FM</h1>
                    <p>Our primary mission is to provide users with quality audio short stories and poems.<br /><br />
                    We are here to help authors and poets get heard. Literally. </p>
                    <div class="foo_sharing">
                    <div class="share_title">follow us :</div>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f site-blue"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter site-blue"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube site-blue"></i></a></li>
                    </ul>
                </div>
                </div>
                
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer_box footer_app">
                    <h1 class="footer_title site-blue">Resources</h1>

                    <h1 class= "footer_links"><%= link_to "About", wiki_path(1) %></h1>
                    <h1 class= "footer_links"><%= link_to "Terms", terms_path %></h1>
                    <h1 class= "footer_links"><%= link_to "Privacy", privacy_path %></h1>
                    <h1 class= "footer_links"><%= link_to "Knowledge Base", wiki_path(1) %></h1>
                    <h1 class= "footer_links"><%= link_to "Help Forum", tag_path("support") %></h1>
                    <h1 class= "footer_links"><%= link_to "Go Premium", pricing_index_path %></h1>
                    <h1 class= "footer_links"><%= link_to "API", root_path %></h1>
                   
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer_box footer_app">
                    <h1 class="footer_title site-blue">Content</h1>
                    
                    <h1 class= "footer_links"><%= link_to "Albums", albums_path %></h1>
                    <h1 class= "footer_links"><%= link_to "Tracks", tracks_path %></h1>
                    <h1 class= "footer_links"><%= link_to "Products", listings_path %></h1>
                    <h1 class= "footer_links"><%= link_to "Topics", topics_path %></h1>
                    <h1 class= "footer_links"><%= link_to "Genres", genres_path %></h1>
                    <h1 class= "footer_links"><%= link_to "Blogs", blogs_path %></h1>
                   
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="footer_box footer_subscribe">
                  <h1 class="footer_title site-blue">subscribe</h1>
                  <p>Subscribe to our newsletter and get latest updates and offers.</p>
                  <form>
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Enter Your Name">
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Enter Your Email">
                      </div>
                      <div class="form-group">
                          <a href="#" class="ms_btn">sign me up</a>
                      </div>
                  </form>
              </div>
          </div>
        </div>
    </div>
    <!----Copyright---->
    <div class="col-lg-12">
        <div class="ms_copyright">
          <div class="grayline mx-auto" style="width: 50%"></div>
            <div class="footer_border"></div>
            <p>Copyright &copy; 2019 <%= link_to "Yarnn.FM", listings_path %>. All Rights Reserved.</p>
        </div>
    </div>
</div>
<% end %>
        