<% if current_page?(root_path) %>
<div id="footer2">
  <ul class="nav justify-content-center nav-text-tiny text-uppercase">
    <li class="nav-item site-blue nav-link site-stat">
      <i class="fas fa-headphones site-blue"></i>
      <span class="ml-2"></span><%= pluralize(@track_count, 'Track' ) %>
    </li>
    <li class="nav-item site-blue nav-link site-stat">
      <i class="fas fa-compact-disc site-blue"></i>
      <span class="ml-2"></span><%= pluralize(@album_count, 'Album' ) %>
    </li>
    <li class="nav-item site-blue nav-link site-stat">
      <i class="fas fa-user-astronaut site-blue"></i>
      <span class="ml-2"></span><%= pluralize(@user_count, 'User' ) %>
    </li>
    <li class="nav-item site-blue nav-link site-stat">
      <i class="fas fa-shopping-cart site-blue"></i>
      <span class="ml-2"></span><%= pluralize(@listing_count, 'Listing' ) %>
    </li>
  </ul>
  <hr class="my-1">
  <ul class="nav justify-content-center nav-text-tiny text-uppercase">
    <li class="nav-item">
      <%= link_to "Home", root_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'about', about_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'terms', root_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'privacy', root_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'blog', root_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "help", help_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "api", root_path, :class => "text-correct nav-link" %>
    </li>
  </ul>
</div>
<% else %>
  <footer class="page-footer font-small black">
    <hr class="my-1">
    <ul class="nav justify-content-center nav-text-tiny text-uppercase">
      <li class="nav-item">
        <%= link_to "Home", root_path, :class => "text-correct nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'about', wiki_path(1), :class => "text-correct nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'terms', root_path, :class => "text-correct nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'privacy', root_path, :class => "text-correct nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'blog', root_path, :class => "text-correct nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "help", wiki_path(1), :class => "text-correct nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "api", root_path, :class => "text-correct nav-link" %>
      </li>
    </ul>
  </footer>

<!----Footer Start---->
<div class="ms_footer_wrapper">
    <div class="ms_footer_inner">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer_box">
                    <h1 class="footer_title site-blue">Yarnn.FM</h1>
                    <p>Our primary mission is to provide users with quality audio short stories and poems. We are here to help authors and poets get heard. Literally. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer_box footer_app">
                    <h1 class="footer_title site-blue">Download our App</h1>
                    <p>Go Mobile with our app.<br> Listen to your favourite songs at just one click. Download Now !</p>
                    <a href="#" class="foo_app_btn"><img src="images/google_play.jpg" alt="" class="img-fluid"></a>
                    <a href="#" class="foo_app_btn"><img src="images/app_store.jpg" alt="" class="img-fluid"></a>
                    <a href="#" class="foo_app_btn"><img src="images/windows.jpg" alt="" class="img-fluid"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer_box footer_subscribe">
                    <h1 class="footer_title site-blue">subscribe</h1>
                    <p>Subscribe to our newsletter and get latest updates and offers.</p>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Your Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Your Email">
                        </div>
                        <div class="form-group">
                            <a href="#" class="ms_btn">sign me up</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer_box footer_contacts">
                    <h1 class="footer_title site-blue">contact us</h1>
                    <ul class="foo_con_info">
                        <li>
                            <div class="foo_con_icon">
                                <%= image_tag('default_track.jpg', width: 40) %>
                            </div>
                            <div class="foo_con_data">
                                <span class="con-title">Call us :</span>
                                <span>(+1) 202-555-0176, (+1) 2025-5501</span>
                            </div>
                        </li>
                        <li>
                            <div class="foo_con_icon">
                                <%= image_tag('default_track.jpg', width: 40) %>
                            </div>
                            <div class="foo_con_data">
                                <span class="con-title">email us :</span>
                                <span><a href="#">demo@mail.com </a>, <a href="#">dummy@mail.com</a></span>
                            </div>
                        </li>
                        <li>
                            <div class="foo_con_icon">
                                <%= image_tag('default_track.jpg', width: 40) %>
                            </div>
                            <div class="foo_con_data">
                                <span class="con-title">walk in :</span>
                                <span>598 Old House Drive, London</span>
                            </div>
                        </li>
                    </ul>
                    <div class="foo_sharing">
                        <div class="share_title">follow us :</div>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f site-blue"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter site-blue"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube site-blue"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----Copyright---->
    <div class="col-lg-12">
        <div class="ms_copyright">
            <div class="footer_border"></div>
            <p>Copyright &copy; 2019 <a href="#">Yarnn.FM</a>. All Rights Reserved.</p>
        </div>
    </div>
</div>
<% end %>
        