<% if current_page?(root_path) %>
<div id="footer2">
  <ul class="nav justify-content-center nav-text-tiny text-uppercase">
    <li class="nav-item site-blue nav-link site-stat">
      <i class="fas fa-headphones site-blue"></i>
      <span class="ml-2"></span><%= pluralize(@track_count, 'Track' ) %>
    </li>
    <li class="nav-item site-blue nav-link site-stat">
      <i class="fas fa-compact-disc site-blue"></i>
      <span class="ml-2"></span><%= pluralize(@album_count, 'Album' ) %>
    </li>
    <li class="nav-item site-blue nav-link site-stat">
      <i class="fas fa-user-astronaut site-blue"></i>
      <span class="ml-2"></span><%= pluralize(@user_count, 'User' ) %>
    </li>
    <li class="nav-item site-blue nav-link site-stat">
      <i class="fas fa-shopping-cart site-blue"></i>
      <span class="ml-2"></span><%= pluralize(@listing_count, 'Listing' ) %>
    </li>
  </ul>
  <hr class="my-1">
  <ul class="nav justify-content-center nav-text-tiny text-uppercase">
    <li class="nav-item">
      <%= link_to "Home", root_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'about', about_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'terms', root_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'privacy', root_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to 'blog', root_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "help", help_path, :class => "text-correct nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "api", root_path, :class => "text-correct nav-link" %>
    </li>
  </ul>
</div>
<% else %>

<!----Footer Start---->
<div class="ms_footer_wrapper">
    <div class="ms_footer_inner">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="footer_box footer_subscribe">
                    <h1 class="footer_title site-blue">Yarnn.FM</h1>
                    <p>Our primary mission is to provide users with quality audio short stories and poems.<br /><br />
                    We are here to help authors and poets get heard. Literally. </p>
                    <div class="foo_sharing">
                    <div class="share_title">follow us :</div>
                    <ul>
                        <li><a href="https://www.facebook.com/yarnnfm"><i class="fab fa-facebook-f site-blue"></i></a></li>
                        <li><a href="https://twitter.com/YarnnFM"><i class="fab fa-twitter site-blue"></i></a></li>
                        <li><a href="https://www.instagram.com/yarnnfm/"><i class="fab fa-instagram site-blue"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube site-blue"></i></a></li>
                    </ul>
                </div>
                </div>
                
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="footer_box footer_subscribe">
                  <div class="row">
                    <div class="col-6">
                      <h1 class="footer_title site-blue">Resources</h1>
  
                      <div class= "nav-text-footer text-uppercase"><%= link_to "About", wiki_path(1) %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Terms", terms_path %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Privacy", privacy_path %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Help Center", wiki_path(1) %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Help Forum", tag_path("support") %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Sellers", payout_method_path %></div>
                    </div> 
                    <div class="col-6">
                      <h1 class="footer_title site-blue">Content</h1>
                      
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Albums", albums_path %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Tracks", tracks_path %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Products", listings_path %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Topics", topics_path %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Genres", genres_path %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Blogs", blogs_path %></div>
                    </div>
                  </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="footer_box footer_subscribe">
                  <div class="row">
                    <div class="col-6">
                      <h1 class="footer_title site-blue">Top Fiction</h1>
  
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Thriller", tag_path("thriller") %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Fantasy", tag_path("fantasy") %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Young Adult", tag_path("young adult") %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Horror", tag_path("horror") %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Steampunk", tag_path("steampunk") %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Sci-Fi", tag_path("science fiction") %></div>
                    </div> 
                    <div class="col-6">
                      <h1 class="footer_title site-blue">Top Non-Fic</h1>
                      
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Business", tag_path("business") %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Religion", tag_path("religion") %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "History", tag_path("history") %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "True Crime", tag_path("true crime") %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Self-help", tag_path("self-help") %></div>
                      <div class= "nav-text-footer text-uppercase"><%= link_to "Finance", tag_path("financial") %></div>
                    </div>
                  </div>
                </div>
            </div>
    </div>
    <!----Copyright---->
    <div class="col-12">
      <div class="grayline-dark mx-auto" style="width: 80%"></div>
        <div class="ms_copyright">
            Copyright &copy; 2019 <%= link_to "Yarnn.FM", listings_path %> All Rights Reserved.
        </div>
    </div>
</div>
<% end %>
        