  <div id="albums" class="cf">
		<div class="wrapper" style="margin-bottom: 0;">
			<ul class="cf">
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Action Adventure", tag_path("action-adventure") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Apocalypse", tag_path("apocalypse") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Business", tag_path("business") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Children's", tag_path("childrens") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Crime", tag_path("crime") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Erotica", tag_path("erotica") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Fantasy", tag_path("fantasy") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Historical Fiction", tag_path("historical-fiction") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Horror", tag_path("horror") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Inspirational", tag_path("inspirational") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "International Thriller", tag_path("international-thriller") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "LGBTQ", tag_path("lgbtq") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Memoir", tag_path("memoir") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Military", tag_path("military") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Mystery", tag_path("mystery") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Nonfiction", tag_path("nonfiction") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Paranormal Romance", tag_path("paranormal-romance") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Poetry", tag_path("poetry") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Religion", tag_path("religion") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Romance", tag_path("romance") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Science Fiction", tag_path("science-fiction") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Self-help", tag_path("self-help") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Speculative Fiction", tag_path("speculative-fiction") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Thriller", tag_path("thriller") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "True Crime", tag_path("true-crime") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Western", tag_path("western") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Women's", tag_path("womens") %></h2>
					</div>
				</li>
				<li>
					<div class="album_overview">
						<h2 style="text-align:center"><%= link_to "Young Adult", tag_path("young-adult") %></h2>
					</div>
				</li>
			</ul>
		</div>
	</div>