<% @user ||= current_user %>

<div class="stat-box">
    <span style="margin-right: 6%"><b><%= @user.following.count %><a href="<%= following_user_path(@user) %>"></b> following</a></span>

    <b><div id="followers" style="display: inline;"><%= @user.followers.count %><a href="<%= followers_user_path(@user) %>"></div></b> followers</a>

    <span style="margin-left: 6%"><b><%= @user.tracks.count %><a href="<%= user_path(@user) %>"></b> tracks</a></span>
</div>