<div id="album_show">
	<div id="banner" class="track_banner">
	  <%= render 'layouts/header' %>
	</div>
  <% if user_signed_in? %>
    <%= render 'layouts/subheader' %>
  <% end %>
  
	<div id="breadcrumb">
	  <%= link_to current_user.username, user_path(current_user) %>
			<span>/</span>
		Activity
	</div>
	
  <%= render 'shared/alert' %>
    
  <% if @feed_items.count > 25 %>
    <div class ="pagination-container">
      <%= paginate @feed_items %>
    </div>
  <% end %>    
  
    <div class="wrapper_wide">
      <div class="side-box">
        <div class="table">

          <% if @feed_items.any? %>
            <% @feed_items.each do |item| %>
              <% if lookup_context.template_exists?(item.activity_type, "welcome/types", true) %>
          
              <div class="table-row">
                <div class="tiny-table-cell" style="width: 10%;">
                  <% if item.user.image? %>
                    <%= image_tag User.find(item.user).image.url,  width: 40, class: "image", title: item.user.username %>
                  <% else %>
                    <%= image_tag('default_track.jpg', width: 40, class: "image", title: item.user.username) %>
                  <% end %>
                </div>
                    
                  <%= render partial: "welcome/types/#{item.activity_type}", locals: {item: item} %>
                
                </div>
                
              <% end %>
              
            <% end %>
          <% else %>
            There is no activity in your feed. You should <%= link_to "follow someone", users_path %> or perhaps join a discussion.
          <% end %>
          
        </div>
      </div>
    </div>
    
</div>