<div id="album_show">
	<div id="banner" class="track_banner">
		<%= render 'layouts/header' %>
	</div>
  <% if user_signed_in? %>
    <%= render 'layouts/subheader' %>
  <% end %>
	<%= render 'shared/alert' %>
  <div class="wrapper_skinny_left">
  </div>
      
  <div class="wrapper_wide_right">
    
    <div id="tracks">
			<ul class="cf">
				<% @feed_items.each do |item| %>
					<li class="cf">
						<div class="track_thumbnail">
							<% if item.image? %>
								<%= link_to image_tag(item.image.url(:thumb)), track_path(item), width: 100, title: item.title %>
							<% else %>
								<%= link_to image_tag(item.user.image.url(:thumb)), track_path(item), width: 100, title: item.title %>
							<% end %>
						</div>
						<div class="track_overview">
							<h2>
								<%= link_to item.title, track_path(item) %><% if item.explicit == "explicit" %>&nbsp;(explicit)<% end %>
								<% if item.album_id? %>
									/ <%= link_to item.album.title, album_path(item.album_id) %>
								<% end %>
							</h2>
							<div class="icons">
							<%= link_to item.user.username, user_path(item.user) %> / <%= item.user.name %> / <i>Voiced by:</i> <%= item.vocals %>
							</div>
							<br /><br />
							<p class="description"><%= truncate(item.description, length: 160) %></p><br />
							<div class="icons_container">
							  <div id="favorites">
							    <%= render 'albums/favorites', :track => item %>
							  </div>
						  </div>
						</div>
					</li>
				<% end %>
			</ul>
    
    			<%= will_paginate @feed_items, previous_label: "Previous", next_label: "Next" %>
    	</div>
    
  </div>
</div>