<div id="welcome_background">
  <%= render 'layouts/header' %>
  <%= render 'shared/alert' %>
  <div class="wrapper_skinny">
    <h1>Entwine with amazing stories and poetry. <span class="responsive_break"></span></h1>
    <%= link_to "Create", new_album_path, class: "button button_highlight" %>
    <%= link_to "Explore", albums_path, class: "button button_white" %>
  </div>
  <%= render 'shared/footer' %>
</div>