<div class="icons">
  <% if user_signed_in? && current_user.favorited?(track) %>
    <%= link_to image_tag('icons/heart_full.svg', width: 20), track_unfavorite_path(track), 
    method: :post, remote: true %>&nbsp;<%= pluralize( track.favorites.count, 'favorite' ) %>
  <% else %>
    <%= link_to image_tag('icons/heart_empty.svg', width: 20), track_favorite_path(track), 
    method: :post, remote: true %>&nbsp;<%= pluralize( track.favorites.count, 'favorite' ) %>
  <% end %>
</div>
<div class="icons">
  <%= image_tag('icons/comments.svg', width: 20) %>&nbsp;51 comments
</div>
<div class="icons">
  <%= audio_tag track.audio.url, controls: true %>
</div>