<%= form_for(@album) do |f| %>
        <% if @album.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@album.errors.count, "error") %> prohibited this post from being saved:</h2>
      
            <ul>
            <% @album.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
      	<div class="field">
          <%= f.label :title, class: "title" %><br />
          <%= f.text_field :title, :autofocus => true, required: true %>
        </div>
        
        <div class="field">
          <div class="title">Do you want to make a new pseudonym for this?&nbsp;</div><%= link_to "Click here.", new_pseudonym_path, class: "title" %><br />
          <%= f.collection_select(:pseudo_id, current_user.pseudonyms, :id, :name, prompt: 'Select pseudonym if you want. Ignore to use real name.') %><br />
        </div>
  
        <div class="field">
          <%= f.label :description, class: "title" %><br />
          <%= f.text_area :description, autofocus: true, cols: 88, rows: 4 %>
        </div>
        
        <div class="field">
          <%= f.label :year, class: "title" %><br />
          <%= f.text_field :year, autofocus: true %>
        </div>
        
        <div class="field">
          <%= f.label "Album image", class: "title"  %><br />
          <%=  f.file_field :image %>
        </div>
  
        <div class="actions">
          <%= f.submit "Submit", class: "button button_highlight button_block" %>
        </div>
      <% end %>