<div id="banner" class="albums_banner">

  <%= render 'layouts/header' %>
  <h1>Check out these tracks.</h1>
</div>

<div id="albums" class="cf">
	<div class="wrapper">
		<ul class="cf">
			<% @albums.each do |album| %>
				<%= link_to album do %>
					<li>
						<%= image_tag album.thumbnail.url(:medium) %>
						<div class="album_overview">
							<h2><%= album.title %></h2>
							<p class="episode_count">1 Episode</p>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>

		<%= will_paginate @albums, previous_label: "Previous", next_label: "Next" %>
	</div>
</div>