<div id="banner" class="albums_banner">
  <%= render 'layouts/header' %>
</div>
<%= render 'shared/alert' %>
<div id="albums" class="cf">
	<div class="wrapper">
		<ul class="cf">
			<% @albums.each do |album| %>
					<li>
						<%= link_to album do %>
							<%= image_tag album.avatar.url(:large) %>
						<% end %>
						<div class="album_overview">
							<h2><%= link_to album.title, album_path(album) %></h2> 
							<p class="track_count"><%= link_to album.user.name, user_path(album.user) %> | <%= link_to album.user.username, user_path(album.user) %></p>
							<p class="track_count"><%= pluralize( album.tracks.count, 'Track' ) %> | <%= album.year %></p> 
							<p class="track_count">
								<% album.tag_list.map.each do |tag| %>
                  <span style="margin-right: .5rem"><i><%= link_to tag, tag_path(tag) %></span></i>
                <% end %>
              </p>
						</div>
					</li>
			<% end %>
		</ul>

		<%= will_paginate @albums, previous_label: "Previous", next_label: "Next" %>
	</div>
</div>