<div id="album_show">
	<div id="banner" class="track_banner">
	  <%= render 'layouts/header' %>
	</div>
  <% if user_signed_in? %>
    <%= render 'layouts/subheader' %>
  <% end %>
  <%= render 'shared/alert' %>

	<div id="albums" class="cf">
		<div class="wrapper">
			<ul class="cf">
				<% @albums.each do |album| %>
						<li>
							<%= link_to album do %>
								<%= image_tag album.image.url(:thumb) %>
							<% end %>
							<div class="album_overview">
								<h2><%= link_to album.title, album_path(album) %></h2> 
								<p class="track_count">@<%= link_to album.user.username, user_path(album.user) %> | 
								<% if album.pseudo_id? %>
									<%= @pseudo.name %></p>
								<% else %>
									<%= album.user.name %></p>
								<% end %>
								<p class="track_count"><%= pluralize( album.tracks.count, 'Track' ) %> | <%= album.year %></p> 
							</div>
						</li>
				<% end %>
			</ul>
	
			<%= will_paginate @albums, previous_label: "Previous", next_label: "Next" %>
		</div>
	</div>
</div>