<div id="other_background_nocenter" style="overflow-y: auto;">
<%= render 'shared/alert' %>

	<section>
	  <div class="container">
	    <div class="row mx-auto">
            <div class="col-md-4">
	        <div class="bg-dark px-3 my-3 pb-5 text-correct trans-bg-3 rounded">
	        	<div class="row pt-3 rounded">
	                <div class="col-12">
	                    <h5 class="site-blue"><i class="fas fa-fire site-blue" title="hot"></i>  Hot Serials</h5>
	                </div>
	            </div>
	            <div class="row p-2">
	                <div class="col-12">
	               <% @serials.each do |serial| %>
                        <div class="row p-2 mx-auto">
                              <div class="col-5">
                                <%= link_to serial do %>
    								<%= image_tag serial.image.url(:thumb), title: serial.title, class: "image-full" %>
    							<% end %>	
                              </div>
                            <div class="col-7">
                              <h5 class="site-red"><%= link_to truncate(serial.title, length: 24, separator: ' '), album_path(serial) %></h5>

							<% if serial.pseudonym_id? %>
								<small><%= link_to serial.pseudonym.name, user_path(serial.user) %></small>
							<% else %>
								<small><%= link_to serial.user.name, user_path(serial.user) %></small>
							<% end %>
							
						<div class="row small mt-3">
                    	    <div class="col-12">
                    	    	<i class="fas fa-headphones site-blue"></i>
    							<span class="ml-2"></span><%= serial.tracks.count %>
    							<i class="fas fa-calendar-alt site-blue ml-2"></i>
                    			<span class="ml-2"></span>
                    			<% if serial.year? %>
                    			    <%= serial.year %>
                    			<% else %>
                    			    unk.
                    			<% end %>
							</div>
                    	</div>
                            </div>
                        </div>    
                        
                        <div class="grayline-dark mx-auto mt-1" style="width: 94%;"></div>
                    
                     <% end %>
	                </div>
	            </div>
	        </div>
	      </div>
	      <div class="col-md-8 bg-dark px-3 mt-3 mb-5 pb-4 text-correct trans-bg-3 rounded">
	          <div class="row py-3">
	            <div class="col-12">
	              <h5 class="site-blue">Latest Albums</h5>
	            </div>
	          </div>
	          <div class="row">
	          	<% @albums.each do |album| %>
	          		<div class="col-xs-12 col-sm-6 col-lg-4 mx-auto">
                        <div>
                        	
                            <div class="bg-white px-2 pt-2 m-2 text-muted rounded crown-border">
    
                                <div class="text-center">
	                                <div class="ribbon_box">
							      		<% if album.serial == "serial" %>
							        		<div class="ribbon"><span>SERIAL</span></div>
							      		<% end %>
								        <%= link_to album do %>
											<%= image_tag album.image.url(:thumb), title: album.title, class: "image-full bordered" %>
										<% end %>
									</div>
                                </div>
                                
                                <div class="text-left p-2 mt-2">
									<h5 class="site-red"><%= link_to truncate(album.title, length: 24, separator: ' '), album_path(album) %></h5>

                                    <div class="row">
                                    	<div class="col-12 site-red small">
                                    		<% if album.user.image? %>
    											<%= image_tag(album.user.image.url(:tiny), style: "width: 20px !important; display: inline-block;  border: none; vertical-align:middle;", title: album.user.username) %>
    										<% else %>
    											<%= image_tag('default_track.jpg', style: "width: 20px !important; display: inline-block; border: none; vertical-align:middle;", title: album.user.username) %>
    										<% end %>
    										
    										<% if album.pseudonym_id? %>
    											<p class="ml-1" style="display:inline-block;"><%= link_to album.pseudonym.name, user_path(album.user) %></p>
    										<% else %>
    											<p class="ml-1" style="display:inline-block;"><%= link_to album.user.name, user_path(album.user) %></p>
    										<% end %>
                                    	</div>
                                    </div>
                                    <div class="grayline" style="width:94%"></div>
                                	<div class="row text-center small">
                                	    <div class="col-6">
                                	    	<i class="fas fa-headphones site-blue"></i>
                							<span class="ml-2"></span><%= pluralize( album.tracks.count, 'Track' ) %>
										</div>
										<div class="col-6">
		                                	<i class="fas fa-calendar-alt site-blue"></i>
                                			<span class="ml-2"></span>
                                			<% if album.year? %>
                                			    <%= album.year %>
                                			<% else %>
                                			    unk.
                                			<% end %>
										</div>
                                	</div>
                                	
                                </div>
                            </div>
                        </div>
                        
                    </div>
                <% end %>
            
	           <%= paginate @albums %>
	           </div>
	      </div>
	      
	    </div>
	  </div>
	</section>
</div>