<div id="album_show">
	<div id="banner" class="track_banner">
		<%= render 'layouts/header' %>
	</div>

	<div id="breadcrumb">
		<%= link_to albums_path do %>
			Albums
			<span>/</span>
			<%= @album.title %>
		<% end %>
	</div>
	
	<div class="wrapper_skinny">
	  <div id="album-image">
      <%= image_tag @album.avatar.url, width: 250 %>
    </div>
    	<%= @album.description %>
  </div>

	<div id="tracks">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @tracks.each do |track| %>
					<li class="cf">
						<div class="track_thumbnail">
							<% if track.avatar? %>
								<%= link_to image_tag(track.avatar.url), track_path(track), width: 100, title: track.title %>
							<% else %>
								<%= link_to image_tag(track.user.avatar.url), track_path(track), width: 100, title: track.title %>
							<% end %>
							<%= link_to track.user.username, user_path(track.user) %>
						</div>
						<div class="track_overview">
							<h2><%= link_to track.title, track_path(track) %><% if track.explicit == "explicit" %>&nbsp;(explicit)<% end %></h2>
							<p class="description"><%= truncate(track.description, length: 160) %></p>
							<div class="icons_container">
						  </div>
						</div>
					</li>
				<% end %>
			</ul>

			<%= will_paginate @tracks, previous_label: "Previous", next_label: "Next" %>
		</div>
	</div>
</div>