<div id="album_show">
	<div id="banner" class="track_banner">
		<%= render 'layouts/header' %>
	</div>

	<div id="breadcrumb">
		<%= link_to @album.user.username, user_path(@album.user) %>
			<span>/</span>
		<%= @album.user.name %>
			<span>/</span>
		<%= @album.title %>
	</div>
	
	<div class="wrapper_skinny">
	  <div id="album-image">
      <%= image_tag @album.image.url(:thumb) %>
    </div>
    	<%= @album.description %>
  </div>

	<div id="tracks">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @tracks.each do |track| %>
					<li class="cf">
						<div class="track_thumbnail">
							<% if track.image? %>
								<%= link_to image_tag(track.image.url(:thumb)), track_path(track), width: 100, title: track.title %>
							<% else %>
								<%= link_to image_tag(track.user.image.url(:thumb)), track_path(track), width: 100, title: track.title %>
							<% end %>
						</div>
						<div class="track_overview">
							<h2><%= link_to track.title, track_path(track) %><% if track.explicit == "explicit" %>&nbsp;(explicit)<% end %></h2>
							<p class="description"><%= truncate(track.description, length: 160) %></p>
							<div class="icons_container">
							  <div id="favorites">
							    <%= render 'albums/favorites', :track => track %>
							  </div>
						  </div>
						</div>
					</li>
				<% end %>
			</ul>

			<%= will_paginate @tracks, previous_label: "Previous", next_label: "Next" %>
		</div>
	</div>
</div>