<%= render 'shared/alert' %>
  	
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item site-red"><%= link_to @album.user.username, user_path(@album.user) %></li>
    <li class="breadcrumb-item">
        <% if @album.pseudonym_id? %>
  		  <%= @album.pseudonym.name %>
  		<% else %>
  		  <%= @album.user.name %>
  		<% end %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @album.title %></li>
    
    <% if @album.user == current_user %>
    <li class="breadcrumb-item site-red">
        <%= link_to edit_album_path(@album) do %>
    	    <i class="fas fa-cog site-red" style="font-size: 16px;"></i> Edit Album
        <% end %>
    </li>
    <% end %>
  </ol>
</nav>
  
<section>
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-md-4 col-sm-6 ">
                <div class="bg-white px-3 mt-md-3 mt-1 mb-md-3 mb-0 text-muted crown-border container-shadow">
                	<div class="row py-2 mb-3 bg-light border-bottom">
                        <div class="col-12">
                            <h3 class="site-red text-center text-lg-left"><%= @album.title %>
                                <% if @album.user == current_user %>
    							    <%= link_to edit_album_path(@album) do %>
    								    <i class="fas fa-cog site-red ml-2" style="font-size: 18px;"></i>
    							    <% end %>
    						    <% end %>
                            </h3>
                    		<div class="row">
                        		<div class="col-lg-6 col-md-12 text-center text-lg-left">
                            		<% if @album.user.image? %>
        								<%= image_tag(@album.user.image.url, style: "width: 20px !important; display: inline-block;  border: none; vertical-align:middle;", title: @album.user.username) %>
        							<% else %>
        								<%= image_tag('default_track.jpg', style: "width: 20px !important; display: inline-block; border: none; vertical-align:middle;", title: @album.user.username) %>
        							<% end %>
        							
        							<% if @album.pseudonym_id? %>
        								<p class="ml-1 site-red" style="display:inline-block;"><%= link_to @album.pseudonym.name, user_path(@album.user) %></p>
        							<% else %>
        								<p class="ml-1 site-red" style="display:inline-block;"><%= link_to @album.user.name, user_path(@album.user) %></p>
        							<% end %>
    							</div>
    							<div class="col-lg-6 col-md-12 text-center text-lg-right mb-lg-0 mb-2">
        							<% if user_signed_in? && current_user != @album.user %>
                                      <%= render 'follow_form' %>
                                    <% end %>
    							</div>
							</div>
							<% if @album.editor? %>
                                Editor: <%= @album.editor %>
                            <% end %>                            
                        
                            <div class="ribbon_box">
                          		<% if @album.serial == "serial" %>
                            		<div class="ribbon"><span>SERIAL</span></div>
                          		<% end %>
                    			<%= image_tag @album.image.url(:thumb), title: @album.title, class: "image-full" %>
                    		</div>
                    		
                    		<div class="row">
                            	<div class="col-12">
                                	<div class="row p-2">
                                	    <div class="col-12">
                                	    	<%= @album.description %>
        								</div>
                                	</div>
                                    <div class="grayline"></div>
                                	<div class="row text-center">
                                	    <div class="col-6">
                                	    	<i class="fas fa-headphones site-blue"></i>
                							<span class="ml-2"></span><%= pluralize( @album.tracks.count, 'Track' ) %>
        								</div>
        								<div class="col-6">
                                        	<i class="fas fa-calendar-alt site-blue"></i>
                                			<span class="ml-2"></span>
                                			<% if @album.year? %>
                                			    <%= @album.year %>
                                			<% else %>
                                			    date unk.
                                			<% end %>
        								</div>
                                	</div>
                            	</div>
                            </div>
                		</div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-6">
                <div class="bg-white px-3 mt-md-3 mt-1 mb-2 text-muted crown-border container-shadow">
                    <div class="row py-2 bg-light border-bottom">
                        <div class="col-12">
                            <h3 class="text-muted">Tracks</h3>
                        </div>
                    </div>
                </div>
            
				<div class="row">
				<% @tracks.each do |track| %>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div>
                            <div class="bg-white px-2 pt-2 m-2 text-muted crown-border container-shadow">
    
                                <div class="text-center">
									<%= link_to track do %>
										<%= image_tag track.image.url(:thumb), title: track.title, class: "image-full" %>
									<% end %>
                                </div>
                                
                                <div class="text-left p-2 mt-2">
                                    <h3 class="site-red"><%= link_to truncate(track.title, length: 24, separator: ' '), track_path(track) %></h3>
                                    
                                    <div class="row">
                                    	<div class="col-12 site-red small">
                                    		<% if track.user.image? %>
    											<%= image_tag(track.user.image.url, style: "width: 20px !important; display: inline-block;  border: none; vertical-align:middle;", title: track.user.username) %>
    										<% else %>
    											<%= image_tag('default_track.jpg', style: "width: 20px !important; display: inline-block; border: none; vertical-align:middle;", title: track.user.username) %>
    										<% end %>
    																		
    										<% if track.pseudonym_id? %>
    											<p class="ml-1" style="display:inline-block;"><%= link_to track.pseudonym.name, user_path(track.user) %></p>
    										<% else %>
    											<p class="ml-1" style="display:inline-block;"><%= link_to track.user.name, user_path(track.user) %></p>
    										<% end %>
                                    	</div>
                                    </div>
                                    <div class="grayline"></div>
                                	<div class="row text-center">
                                	    <div class="col-6">
	                            			<div id="favorites_<%= track.id %>">
                							    <%= render 'tracks/index_favorites', :track => track %>
                							</div>
										</div>
										<div class="col-6">
	                            			<%= link_to track do %>
		                                		<i class="fas fa-comments text-muted"></i>
		                                	<% end %>
                                			<span class="ml-2"></span><%= track.comments.count %>
										</div>
                                	</div>
                                	
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                </div>
              
            </div>
        </div>
        <%= will_paginate @tracks, previous_label: "Previous", next_label: "Next" %>
    </div>
    
</section>