<div id="album_show">
	<div id="banner" class="track_banner">
		<%= render 'layouts/header' %>
	</div>

	<div id="breadcrumb">
		<%= link_to albums_path do %>
			Anthologies
			<span>/</span>
			<%= @album.title %>
		<% end %>
	</div>
	
	<div class="wrapper_skinny">
	  <div id="album-image">
      <%= image_tag @album.avatar.url, width: 250 %>
    </div>
    	<%= @album.description %>
  </div>

	<div id="tracks">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @tracks.each do |track| %>
					<li class="cf">
						<div class="track_thumbnail">
							<a href="#">
								<% if track.avatar? %>
									<%= image_tag track.avatar.url, width: 100 %>
								<% else %>
									<%= image_tag 'default_track.jpg', width: 100, alt: 'default track image' %>
								<% end %>
							</a>
						</div>
						<div class="track_overview">
							<h2><%= link_to track.title, track_path(track) %><% if track.explicit == "explicit" %>&nbsp;(explicit)<% end %></h2>
							<p class="description"><%= truncate(track.description, length: 160) %></p>
							<%= audio_tag track.audio.url, controls: true %>
						</div>
					</li>
				<% end %>
			</ul>

			<%= will_paginate @tracks, previous_label: "Previous", next_label: "Next" %>
		</div>
	</div>
</div>

