<div class="wrapper_skinny_left" style="margin-left: 3rem">
  <div class="main_avatar">
	  <div id="album-image">
      <%= image_tag @track.image.url, width: 300 %>
    </div>
  </div>
</div>

<div class="wrapper_wide_right_right">
    <div id="form">
      <div id="new_transaction">
        
        <h2><span style="color: #00b8ac"><%= link_to @track.title, track_path(@track), style: "float:left" %></span>&nbsp;by 
          <% if @track.pseudonym_id? %>
            <%= @track.pseudonym.name %>
          <% else %>
            <%= @track.user.name %>
          <% end %>
        </h2>
        
        <p>You are about to sponsor this track. Your entire amount will go to the creator, minus Stripe's fees.<br />
           Yarnn does not take any part of your contribution. Once complete, your avatar and username will appear<br />
           on the Track page under the Sponsors section.</p>
        <br>  
        
        <%= form_for([@track, @sponsorship], id: "new_transaction") do |f| %>
            <% Sponsorship::CONTRIB_AMOUNTS.each do |amt| %>       
            <%= radio_button_tag "amount", amt %>
            <%= label_tag "amount_#{amt}", number_to_currency(amt, precision: 0), class: "mr-3" %>
            <% end %>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="Yarnn.fm"
              data-description="Creator Sponsorship"
              data-image="https://s3-us-west-2.amazonaws.com/yarnn/default_yarnn.jpg"
              data-locale="auto">
            </script>
        <% end %>
      
      </div>
    </div>
</div>