<div class="row">
	<% @listings.each do |listing| %>
        <div class="col-lg-3 col-6 mb-4">
            <div class="card h-100">
                <%= link_to listing do %>
					<%= image_tag listing.image.url(:thumb), title: listing.title, class: "card-img-top" %>
				<% end %>
                
                <div class="card-body">
                    <h5 class="card-title">
                        <%= link_to listing.title, listing_path(listing), class: "site-red" %>
                    </h5>
                    <h4><%= number_to_currency(listing.price) %></h4>
                    <div class="small"><%= listing.filetype %></div>
                </div>
                <div class="card-footer">
                    <div id="stars">
    					<div class="star-rating" data-score=<%= listing.avg_rating %> style="max-width: 10%;"></div>
    				</div>
                </div>
            </div>
        </div>  
    <% end %>
        
</div>
<%= paginate @listings %>
<!-- /.row -->

<script>
  $('.star-rating').raty({
    path: 'https://s3-us-west-2.amazonaws.com/yarnn/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>.