
    <div class="col-12">
        <div class="row my-1 text-center">
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/action.png', width: 30, title: "action", class: "pt-1") %>
                <h5><%= link_to "Action", tag_path("action") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/apocalypse.png', width: 30, title: "apocalypse", class: "pt-1") %>
                <h5><%= link_to "Apocalypse", tag_path("apocalypse") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/business.png', width: 30, title: "business", class: "pt-1") %>
                <h5><%= link_to "Business", tag_path("business") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/childrens.png', width: 30, title: "children's", class: "pt-1") %>
                <h5><%= link_to "Children's", tag_path("childrens") %></h5>
            </div>

    
        	<div class="col-6 col-md-3 my-2">
        		<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/classics.png', width: 30, title: "classics", class: "pt-1") %>
                <h5><%= link_to "Classics", tag_path("classics") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/comedy.png', width: 30, title: "comedy", class: "pt-1") %>
                <h5><%= link_to "Comedy", tag_path("comedy") %></h5>
    		</div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/crime.png', width: 30, title: "science fiction", class: "pt-1") %>
                <h5><%= link_to "Crime", tag_path("crime") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/erotica.png', width: 30, title: "erotica", class: "pt-1") %>
                <h5><%= link_to "Erotica", tag_path("erotica") %></h5>
            </div>
        
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/fantasy.png', width: 30, title: "fantasy", class: "pt-1") %>
                <h5><%= link_to "Fantasy", tag_path("fantasy") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/financial.png', width: 30, title: "financial", class: "pt-1") %>
                <h5><%= link_to "Financial", tag_path("financial") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/history.png', width: 30, title: "history", class: "pt-1") %>
                <h5><%= link_to "History", tag_path("history") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/historical_fiction.png', width: 30, title: "historical fiction", class: "pt-1") %>
                <h5><%= link_to "Historical Fic", tag_path("historical fiction") %></h5>
            </div>
       
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/horror.png', width: 30, title: "horror", class: "pt-1") %>
                <h5><%= link_to "Horror", tag_path("horror") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/inspirational.png', width: 30, title: "inspirational", class: "pt-1") %>
                <h5><%= link_to "Inspirational", tag_path("inspirational") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/lgbtq.png', width: 30, title: "lgbtq", class: "pt-1") %>
                <h5><%= link_to "LGBTQ", tag_path("lgbtq") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/memoir.png', width: 30, title: "memoir", class: "pt-1") %>
                <h5><%= link_to "Memoir", tag_path("memoir") %></h5>
            </div>
        
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/military.png', width: 30, title: "military", class: "pt-1") %>
                <h5><%= link_to "Military", tag_path("military") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/mystery.png', width: 30, title: "mystery", class: "pt-1") %>
                <h5><%= link_to "Mystery", tag_path("mystery") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/noir.png', width: 30, title: "noir", class: "pt-1") %>
                <h5><%= link_to "Noir", tag_path("noir") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/nonfiction.png', width: 30, title: "nonfiction", class: "pt-1") %>
                <h5><%= link_to "Nonfiction", tag_path("nonfiction") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/paranormal.png', width: 30, title: "paranormal", class: "pt-1") %>
                <h5><%= link_to "Paranormal", tag_path("paranormal") %></h5>
            </div>
        
        	<div class="col-6 col-md-3 my-2">
        		<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/philosophy.png', width: 30, title: "philosophy", class: "pt-1") %>
                <h5><%= link_to "Philosophy", tag_path("philosophy") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/poetry.png', width: 30, title: "poetry", class: "pt-1") %>
                <h5><%= link_to "Poetry", tag_path("poetry") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/religion.png', width: 30, title: "religion", class: "pt-1") %>
                <h5><%= link_to "Religion", tag_path("religion") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/romance.png', width: 30, title: "romance", class: "pt-1") %>
                <h5><%= link_to "Romance", tag_path("romance") %></h5>
            </div>
        
        	<div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/science_fiction.png', width: 30, title: "science fiction", class: "pt-1") %>
                <h5><%= link_to "Sci-Fi", tag_path("science fiction") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/self-help.png', width: 30, title: "self-help", class: "pt-1") %>
                <h5><%= link_to "Self-help", tag_path("self-help") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/spy_thriller.png', width: 30, title: "spy thriller", class: "pt-1") %>
                <h5><%= link_to "Spy Thriller", tag_path("spy thriller") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/steampunk.png', width: 30, title: "steampunk", class: "pt-1") %>
                <h5><%= link_to "Steampunk", tag_path("steampunk") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/thriller.png', width: 30, title: "thriller", class: "pt-1") %>
                <h5><%= link_to "Thriller", tag_path("thriller") %></h5>
            </div>
        
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/true_crime.png', width: 30, title: "true crime", class: "pt-1") %>
                <h5><%= link_to "True Crime", tag_path("true crime") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/western.png', width: 30, title: "western", class: "pt-1") %>
                <h5><%= link_to "Western", tag_path("western") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/womens.png', width: 30, title: "women's", class: "pt-1") %>
                <h5><%= link_to "Women's", tag_path("womens") %></h5>
            </div>
            <div class="col-6 col-md-3 my-2">
            	<%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/young_adult.png', width: 30, title: "ya", class: "pt-1") %>
                <h5><%= link_to "Young Adult", tag_path("young adult") %></h5>
            </div>
        </div>
    </div>