<div class="row p-2">
  <div class="col-12">
      <a data-target="#collapseExample" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">
        <h4 class="card-title inline-block site-blue"><i class="fas fa-plus-circle site-blue mr-2"></i> Create a New Topic for <%= @genre %></h4>
      </a>
  </div>
</div>

<div class="collapse" id="collapseExample">
    <%= form_for(@topic) do |f| %>
        <% if @topic.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>
      
            <ul>
            <% @topic.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
    
        <div class="row px-3 pb-1">
          <div class="col-12 justify-content-center">
            <div class="form-group">
              <%= f.text_field :title, required: true, class: "form-control input-lg", placeholder: "Subject" %>
            </div>
          </div>
        </div>
        
        <div class="row px-3 pb-1">
          <div class="col-12 justify-content-center">
              <div class="form-group">
                  <%= f.text_area :content, required: true, placeholder: "Topic content...", class: "form-control mr-2" %>
              </div>
              <%= f.hidden_field :tag_list, value: @genre_pre2 %>
          </div>
        </div>
        
        <div class="row px-3 pb-3">
          <div class="col-12 justify-content-center">
            <%= f.submit "Submit", class: "btn btn-danger" %>      
          </div>
        </div>
        
    <% end %>
</div>