<title><%= @genre %> | Yarnn.FM</title>

<% if lookup_context.template_exists?(@style, "tags/styles", true) %>
    <%= render partial: "tags/styles/#{@style}" %>
<% else %>
	<body style="background-color: #d9dada;">
<% end %>

<% if @genre == "Premium" && !user_signed_in? %>
<section class="section-content bg padding-y-sm">
	<div class="container">
		<div class="row m-3 justify-content-center">
			<div class="col-8 p-4 bg-white shadow-sm rounded ">
				<small><em>You must be <b><%= link_to "logged in", new_user_session_path %></b>.</em></small>
			</div>
		</div>
	</div>
</section>
<% elsif @genre == "Premium" && user_signed_in? && !current_user.stripe_subscription_id? %>
<section class="section-content bg padding-y-sm">
	<div class="container">
		<div class="row m-3 justify-content-center">
			<div class="col-8 p-4 bg-white shadow-sm rounded ">
				<div class="text-center"><%= image_tag('https://yarnn.s3-us-west-2.amazonaws.com/icons/premium.png', width: 60, title: "premium", class: "pt-1") %></div>
				<h2 class="site-blue my-2">Premium Only Content</h2>
				<p>You are trying to access content reserved for our premium users. <%= link_to "Click here", pricing_index_path %> to go premium and access this content and more features!</p>
			
			</div>
		</div>
	</div>
</section>
<% else %>
 	<!-- Page Content -->
 	<section class="section-content bg padding-y-sm">
		<div class="container">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb mt-3 shadow-sm">
					    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
					    <% unless @genre == "Support" || @genre == "Premium" %>
					    <li class="breadcrumb-item"><%= link_to "Genres", genres_path %></li>
					    <% end %>
					    <li class="breadcrumb-item active" aria-current="page"><%= @genre %> Portal</li>
				  </ol>
				</nav>
			
		    <div class="row mt-3">
		    	<div class="col-xl-3 rounded">
		    		<div class="row mb-2">
		    			<div class="col-12">
		    				<div class="card">
							  <div class="card-body card-body text-center shadow-sm">
				  		    	<% if lookup_context.template_exists?(@style, "topics/icons", true) %>
			  		    		<%= render partial: "topics/icons/#{@style}" %>
								<% end %>
							    <h4 class="card-title site-blue"><%= @genre %></h4>
							    <h6 class="card-subtitle mb-2 text-muted">Content Portal</h6>
							  </div>
									<ul class="list-group list-group-flush">
									<% unless @genre == "Support" || @genre == "Premium" %>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-headphones site-blue mr-2" title="tracks"></i> Tracks</small>
									    <span class="badge site-blue badge-pill"><%= @track_count %></span>
									  </li>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-shopping-cart site-blue mr-2" title="listings"></i> Products</small>
									    <span class="badge site-blue badge-pill"><%= @listing_count %></span>
									  </li>
									<% end %>
									  <li class="list-group-item d-flex justify-content-between align-items-center">
									    <small><i class="fas fa-comment-alt site-blue mr-2" title="topics"></i> Topics</small>
									    <span class="badge site-blue badge-pill"><%= @topics_count %></span>
									  </li>
									</ul>
	
							  
							</div>
		    			</div>
		    		</div>
		    		<div class="row mb-2">
		    			<div class="col-12">
		    				<div class="card">
							  <div class="card-body shadow-sm">
							  	<div class="row">
									<div class="col-12">
										<h6 class="card-title float-left site-blue">Latest Topics</h6> <h6 class="float-right site-red"><%= link_to "all topics", topics_path %></h6>
									</div>
								</div>
							    
							    <small>
				  					<% if @topics.exists? %>
				                      <%= render 'tags/topics_simple' %>
				                      <%= paginate @topics %>
				                    <% else %>
				                      <p>There are no topics in this genre.</p>
				                    <% end %>
			                  	</small>
			                  	
							  </div>
							</div>
		    			</div>
		    		</div>
		    	</div><!-- end left column -->

		    	
		    	<div class="col-xl-9">
		    		<div class="row mb-2">
		    			<div class="col-12">
		    				<div class="card">
							  <div class="card-body shadow-sm">
							    <% if user_signed_in?  %>
            						<%= render "tags/topics_form" %>
								<% else %>
									<div class="row px-3">
										<small><em>You must be <b><%= link_to "logged in", new_user_session_path %></b> to create new posts.</em></small>
									</div>
								<% end %> 
							  </div>
							</div>
		    			</div>
		    		</div>
		    		<div class="card mb-2 tab-card shadow-sm">
				        <div class="card-header tab-card-header">
				          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
				          <% unless @genre == "Support" || @genre == "Premium" %>
				            <li class="nav-item">
				                <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true"><i class="fas fa-headphones site-blue mr-2" title="tracks"></i> Tracks</a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false"><i class="fas fa-shopping-cart site-blue mr-2" title="products"></i> Products</a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="false"><i class="fas fa-comment-alt site-blue mr-2" title="topics"></i> Topics</a>
				            </li>
				          <% else %>
				          <i class="fas fa-comment-alt site-blue m-2" title="topics"></i>
				          <% end %>
				          </ul>
				        </div>
						<% unless @genre == "Support" || @genre == "Premium" %>
				        <div class="tab-content" id="myTabContent">
				        
				          <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
				            <div class="row">
								<div class="col-12">
									<h4 class="card-title site-blue">Tracks</h4>
								</div>
							</div>
							<% if @tracks.exists? %>
								<%= render 'tags/tracks' %>
							<% else %>
								<p>This genre doesn't have any tracks yet.</p>
							<% end %>           
				          </div>

				          <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
				            <div class="row">
								<div class="col-12">
									<h4 class="card-title site-blue">Products</h4>
								</div>
							</div>
							<% if @listings.exists? %>
								<%= render 'tags/listings' %>
							<% else %>
								<p>This genre doesn't have any products in the marketplace.</p>
							<% end %>                
				          </div>
				          
				          <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
				            <div class="row">
								<div class="col-12">
									<h4 class="card-title site-blue">Topics</h4>
								</div>
							</div>
							<% if @topics.exists? %>
								<%= render 'tags/topics' %>
							<% else %>
								<p>No one has created any topics yet.</p>
							<% end %>               
				          </div>
				        </div> 
				        <% else %>
				        <div class="card-body">
				            <div class="row">
								<div class="col-12">
									<h4 class="card-title site-blue">Topics</h4>
								</div>
							</div>
							<% if @topics.exists? %>
								<%= render 'tags/topics' %>
							<% else %>
								<p>No one has created any topics yet.</p>
							<% end %>               
				          </div>
				        <% end %>
				        
				        </div>
				      </div><!-- end card -->
				      
		    	</div><!-- end middle column -->

		    	
		    	
		    </div><!-- end row -->
		    <% if @tracks.exists? %>
		    	<%= render 'audio' %>
		    <% end %>
		</div><!-- end container -->
	</section>
<% end %>