<h1 class="site-blue">Knowledge Base</h1>
<div class="colorgraph my-2"></div>
<h4 class="text-secondary">Key Features</h4>
<h4 class="ml-3"><%= link_to "About", wiki_path(1) %></h4>
<h4 class="ml-3"><%= link_to "Tracks", wiki_path(2)%></h4>
<h4 class="ml-3"><%= link_to "Albums", wiki_path(3) %></h4>
<h4 class="ml-3"><%= link_to "Listings", wiki_path(4) %></h4>
<h4 class="ml-3"><%= link_to "Topics", wiki_path(5) %></h4>
<h4 class="ml-3"><%= link_to "Genres", wiki_path(6) %></h4>
<h4 class="ml-3"><%= link_to "Stations", wiki_path(7) %></h4>
<h4 class="ml-3"><%= link_to "Following Users", wiki_path(22) %></h4>
<h4 class="ml-3"><%= link_to "Activity Feed", wiki_path(23) %></h4>
<div class="colorgraph my-2"></div>
<h4 class="text-secondary">Marketplace</h4>
<h4 class="ml-3"><%= link_to "Selling", wiki_path(8) %></h4>
<h4 class="ml-3"><%= link_to "Accessing Sales", wiki_path(21) %></h4>
<h4 class="ml-3"><%= link_to "Product Digital Files", wiki_path(9) %></h4>
<h4 class="ml-3"><%= link_to "Accessing Downloads", wiki_path(10) %></h4>
<h4 class="ml-3"><%= link_to "Reviews", wiki_path(11) %></h4>
<div class="colorgraph my-2"></div>
<h4 class="text-secondary">Accounts</h4>
<h4 class="ml-3"><%= link_to "Standard Users", wiki_path(12) %></h4>
<h4 class="ml-3"><%= link_to "Pseudonyms", wiki_path(13) %></h4>
<h4 class="ml-3"><%= link_to "Publisher Accounts", wiki_path(14) %></h4>
<h4 class="ml-3"><%= link_to "Premium Membership", wiki_path(15) %></h4>
<h4 class="ml-5"><%= link_to "Blogs", wiki_path(16) %></h4>
<h4 class="ml-5"><%= link_to "Generators", wiki_path(17) %></h4>
<div class="colorgraph my-2"></div>
<h4 class="text-secondary">Community Standards</h4>
<h4 class="ml-3"><%= link_to "Copyright", wiki_path(18) %></h4>
<h4 class="ml-3"><%= link_to "Abuse and Harassment", wiki_path(19) %></h4>
<h4 class="ml-3"><%= link_to "Reporting Content", wiki_path(20) %></h4>