<div id="other_background_nocenter" style="overflow-y: auto;">
<%= render 'shared/alert' %>
  <div class="container full-form-container mt-2">
    <div class="row justify-content-center trans-bg p-3 mt-3 p-sm-4 mt-sm-5 rounded">
      <div class="col-11">
        
            <div class="text-center mb-1">
              <%= image_tag("yarnn-icon.png", size: "96x72") %>
              <h2 class="site-blue">You're about to go premium...</h2>
              <p class="site-blue">Chosen plan: <strong><%= params[:plan] %></strong></p>
              <p class="text-correct">By subscribing, you'll have access to tons of pro features. If you prefer to remain with a free account, you'll still be able to 
                upload new tracks, albums, listings, post topics and comments, leave reviews, follow other users, and add your favorite tracks to your 
                official station.</p>
                
              <%= form_tag subscription_path, id: "subscription-form" do %>
                <article>
                  <% if flash[:error].present? %>
                  <div id="error_explanation">
                    <p><%= flash[:error] %></p>
                  </div>
                  <% end %>
                  <label class="amount">
                  <h4 class="text-correct">Amount: $4.99</h4>
                  </label>
                </article>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Yarnn.FM Premium Subscription"
                  data-amount="499"
                  data-image="https://s3-us-west-2.amazonaws.com/yarnn/default_yarnn.jpg"
                  data-locale="auto"></script>
                <input type="hidden" name="stripeToken" />
              <% end %>
              
                <i class="fab fa-stripe site-blue" style="font-size: 36px;"></i> <br/>
                <small class="site-red">Your credit card info is never stored anywhere on our servers.<br />
                Everything happens securely through Stripe.</small>
            </div>
            
      </div>
    </div>
  </div>