<div id="background-other">
 <%= render 'layouts/header' %>
  
  <div class="wrapper_skinny">
    <div id="form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "title" %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>
    
          <div class="field">
            <%= f.label :password, class: "title" %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
    
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me, class: "title" %>
              <%= f.label :remember_me, class: "title" %>
            </div>
          <% end %>
          <br />
          <div class="actions">
            <%= f.submit "Log in", class: "button button_highlight button_block" %>
          </div>
        <% end %>
        <br />
        <%= render "devise/shared/links" %>
    </div>
  </div>

</div>