<div id="other_background_nocenter" style="overflow-y: auto;">
<%= render 'shared/alert' %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="bg-dark px-3 mt-3 mb-5 text-correct trans-bg-3 rounded-top">
          <div class="row py-3 rounded-top">
            <div class="col-12">
              <h5 class="site-blue">Latest Activity</h5>
            </div>
          </div>
          <% if @feed_items.any? %>
            <% @feed_items.each do |item| %>
              <% if lookup_context.template_exists?(item.activity_type, "dashboards/types", true) %>
                <div class="row p-2">
                  <div class="col-3 col-md-2">
                    <% if item.user.image? %>
                      <%= image_tag User.find(item.user).image.url(:thumb),  width: 40, title: item.user.username %>
                    <% else %>
                      <%= image_tag('default_track.jpg', width: 40, title: item.user.username) %>
                    <% end %>
                  </div>
                  <div class="col-9 col-md-10">
                    <%= render partial: "dashboards/types/#{item.activity_type}", locals: {item: item} %>
                  </div>
                </div>
                <div class="grayline" style="width: 94%;"></div>
              <% end %>
              
            <% end %>
            <%= will_paginate @feed_items, previous_label: "Previous", next_label: "Next" %>
          <% else %>
            There is no activity in your feed. You should <%= link_to "follow someone", users_path %> or perhaps join a discussion.
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="bg-dark px-3 mt-3 mb-5 text-correct trans-bg rounded-top">
        	<div class="row pt-3 rounded-top">
            <div class="col-12">
              <h5 class="site-blue">Your Content</h5>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-12">
              <%= render partial: "dashboards/content" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>