<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="bg-white px-3 mt-3 mb-5 text-muted crown-border container-shadow">
        	<div class="row py-3 mb-3 bg-light border-bottom">
            <div class="col-12">
              <h5 class="text-muted"><%= current_user.username %></h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="bg-white px-3 mt-3 mb-5 text-muted crown-border container-shadow">
          <div class="row py-3 bg-light border-bottom">
            <div class="col-12">
              <h5 class="text-muted">Latest Activity</h5>
            </div>
          </div>
          <% if @feed_items.any? %>
            <% @feed_items.each do |item| %>
              <% if lookup_context.template_exists?(item.activity_type, "dashboards/types", true) %>
                <div class="row p-2 border-bottom">
                  <div class="col-3 col-md-2">
                    <% if item.user.image? %>
                      <%= image_tag User.find(item.user).image.url(:thumb),  width: 40, title: item.user.username %>
                    <% else %>
                      <%= image_tag('default_track.jpg', width: 40, title: item.user.username) %>
                    <% end %>
                  </div>
                  <div class="col-9 col-md-10">
                    <%= render partial: "dashboards/types/#{item.activity_type}", locals: {item: item} %>
                  </div>
                </div>
              <% end %>
              
            <% end %>
          <% else %>
            There is no activity in your feed. You should <%= link_to "follow someone", users_path %> or perhaps join a discussion.
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>