<div id="album_show">
	<div id="banner" class="track_banner">
		<%= render 'layouts/header' %>
	</div>

  <div class="wrapper_skinny_left">
    <%= render 'users/avatar' %>
    <% if @pseudonyms.any? %>
      <%= render 'users/pseudonyms' %>
    <% end %>
    <%= render 'users/followers' %>
    <%= render 'users/following' %>
  </div>
      
  <div class="wrapper_wide_right_right">
    <div id ="index-nav-container">
      <div class = "table-row">
        <div class="table-cell"><%= image_tag('icons/microphone.svg', height: 40) %><br />
          <%= link_to "audio tracks", user_path(@user) %></div>
        <div class="table-cell"><%= image_tag('icons/cassette.svg', height: 40) %><br />
          <%= link_to "albums", albums_user_path(@user) %></div>
        <div class="table-cell"><%= image_tag('icons/blog.svg', height: 30) %><br />
          <%= link_to "blog posts", blogs_user_path(@user) %></div>
        <div class="table-cell"><%= image_tag('icons/station.svg', height: 33) %><br />
          <%= link_to "station", station_path(@user) %></div>
      </div>
    </div>
  </div>
</div>

  <div class="wrapper_wide_right_right">
    <%= render 'shared/content_footer' %>
  </div>
