<div class="wrapper_skinny_left" style="margin-left: 3rem">
  <div class="main_avatar">
	  <div id="album-image">
      <%= image_tag @listing.image.url, width: 300 %>
    </div>
  </div>
</div>

<div class="wrapper_wide_right_right">
  <% unless @purchased.empty? %>
  <div class="side-box">
    <div class="side-content">
      <p>You already purchased this item, silly. You can find it in your <%= link_to "Downloads", purchases_path %>.</p>
    </div>
  </div>
  <% else %>
  
    <div id="form">
      <div id="new_transaction">
        
        <h2><span style="color: #00b8ac"><%= link_to @listing.title, listing_path(@listing), style: "float:left" %></span>&nbsp;by 
          <% if @listing.pseudo_id? %>
            <%= @pseudo.name %>
          <% else %>
            <%= @listing.user.name %>
          <% end %>
        </h2>
        
        <div id="transaction_price">
          <%= number_to_currency(@listing.price) %>
        </div>
        
        <p>After you've placed your order, the product will appear in your downloads. It will be available to download forever unless the seller removes the listing.</p>
        <br>  
        
        <%= form_for([@listing, @transaction], id: "new_transaction") do |f| %>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-amount="<%= @price %>"
              data-name="Yarnn.fm"
              data-description="Payment"
              data-image="https://s3-us-west-2.amazonaws.com/yarnn/default_yarnn.jpg"
              data-locale="auto">
            </script>
        <% end %>
      
      </div>
    </div>
  <% end %>
</div>