<div id="album_show">
	<div id="banner" class="track_banner">
	  <%= render 'layouts/header' %>
	</div>
  <%= render 'shared/alert' %>
	<div id="breadcrumb">
	  <%= link_to current_user.username, user_path(current_user) %>
			<span>/</span>
		Purchase History
	</div>

  <div class="wrapper_wide">
    <div class="side-box">
      <div class="table">
        <div class="table-row">
          <div class="table-head" style="width: 25%">
            <h2 style="float:left">Title</h2>
          </div>
          <div class="table-head">
            <h2 style="float:left">Info</h2>
          </div>
          <div class="table-head">
            <h2 style="float:right">Download Link</h2>
          </div>
        </div>
      <% @transactions.each do |transaction| %>
          <div class="table-row">
            <div class="table-cell" style="width: 25%">
              <span style="float:left"><%= link_to transaction.listing.title, listing_path(transaction.listing) %></span>
            </div>
            <div class="table-cell">
              <p class="listing_info" style="float:left"><i><%= transaction.listing.filetype %></i> purchased on
      			  <%= transaction.created_at.strftime("%Y-%m-%d") %> for <%= number_to_currency(transaction.listing.price) %></p>
            </div>
            <div class="table-cell">
              <span style="float:right;"><%= link_to "Download", transaction.listing.file.url %></span>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>