<div class="container">
  <nav aria-label="breadcrumb">
	  <ol class="breadcrumb mt-3 shadow-sm">
		    <li class="breadcrumb-item"><i class="fas fa-user-astronaut site-blue mx-2" title="user"></i><%= link_to current_user.username, user_path(current_user) %></li>
        <li class="breadcrumb-item">Sales History</li>
	  </ol>
	</nav>
  <%= render 'shared/alert' %>
  
    <div class="row justify-content-center">
      <div class="col-10">
        <p style="margin-right: .5rem">You currently have <%= pluralize(current_user.listings.count, "listing") %> in the <%= link_to "marketplace", listings_path %>.
        -<span style="margin-left: .5rem"><a href="#">Manage Listings</a><span style="margin-left: .5rem"></span>-<span style="margin-left: .5rem"></span><%= link_to "Add a new listing", new_listing_path %></p>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-10">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col"><h5>Title</h5></th>
              <th scope="col"><h5>Info</h5></th>
              <th scope="col"><h5>Buyer</h5></th>
            </tr>
          </thead>
          <tbody>
          <% @transactions.each do |transaction| %>
              <tr>
                <th scope="row"><h5><%= link_to transaction.listing.title, listing_path(transaction.listing) %></h5></th>
                <td><p class="listing_info ml-1" style="float:left"><i><%= transaction.listing.filetype %></i> purchased on
            			  <%= transaction.created_at.strftime("%Y-%m-%d") %> for <%= number_to_currency(transaction.listing.price) %></p></td>
                <td><%= link_to transaction.buyer.username, user_path(transaction.buyer) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>