<div class="container">
  <%= render 'shared/alert' %>
    
    <div class="row justify-content-center">
      <div class="col-12">
        <%= paginate @logs %>

          <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col"><h5>Date</h5></th>
                  <th scope="col"><h5>Info</h5></th>
                </tr>
              </thead>
              
              <tbody>
                <% @logs.each do |log| %>
                <tr>
                  <td><%= time_ago_in_words(log.created_at) %> ago</td>
                  <td><%= log.body %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          
          
          <%= paginate @logs %>
      </div>
    </div>
</div>
