<h2>Add Author Or Pseudonym</h2>

<p>You can have an unlimited number of authors (publisher accounts) or pseudonyms attached to your account. This makes it easy to associate any of your content with the appropriate 
pseudonym or author. For example, if you upload a track under a pseudonym, your track's info will display the pseudonym instead of your real name, however, the 
link will always point back to your account*. This makes it easier for people to find your stuff all in one place. This also makes it so you don't have 
to create a new account for each different pseudonym (unless you really, positively, absolutely want to).</p><br>

*Materials uploaded via a publisher account will display the author info, same as a pseudonym, but will always link back to the publisher account. If you would 
rather have the material appear under the author's account, simply transfer ownership to the author (or vice-versa). 

<%= form_for(@pseudonym) do |f| %>
  <% if @pseudonym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pseudonym.errors.count, "error") %> prohibited this pseudonym from being saved:</h2>

      <ul>
      <% @pseudonym.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<div class="field">
    <div class="tooltip" style="float:right">more info
      <span class="tooltiptext">Pseudonyms/Authors added here will be available to you when you go to add new tracks, listings, topics, and blogs.</span>
    </div>
    <%= f.label "Author/Pseudonym", class: "title" %><br />
    <%= f.text_field :name, :autofocus => true, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "button button_highlight button_block" %>
  </div>
<% end %>

<%= link_to 'Cancel', 'javascript:history.back()' %><br />