<div id="album_show">
	<div id="banner" class="track_banner">
	  <%= render 'layouts/header' %>
	</div>
	
  <%= render 'shared/alert' %>

    <div class="form_wrapper_skinny">
      <div id="form">
        <% if @listing.user == current_user %>
          <div class="small" style="color: #fc0000;"><i><b>Sorry, you cannot review your own listings.</b></i></div><br>
          <%= link_to "Go back", listing_path(@listing) %><br>
        <% elsif current_user.reviewed?(@listing) %>
  				  <div class="small" style="color: #fc0000;"><i><b>You have already reviewed this listing.</b></i></div><br>
            <%= link_to "Go back", listing_path(@listing) %><br>
        <% else %>
          <h2>Reviewing <%= @listing.title %></h2>
          by 
          <% if @listing.pseudo_id? %>
  					<%= @pseudo.name %> 
  				<% else %>
  					<%= @listing.user.name %></p>
  				<% end %>
          <%= render "form", review: @review %>
        <% end %>
      </div>
    </div>
  </div>
</div>
