<div id="album_show">
	<div id="banner" class="track_banner">
	  <%= render 'layouts/header' %>
	</div>
  <% if user_signed_in? %>
    <%= render 'layouts/subheader' %>
  <% end %>
  <%= render 'shared/alert' %>

    <div class="form_wrapper_skinny">
      <div id="form">
          <div class="side-content">
        <% if @listing.user == current_user %>
          <div class="small" style="color: #fc0000;"><i>Sorry, you cannot review your own listings.</i></div><br>
          <%= link_to "Go back", listing_path(@listing) %><br>
        <% elsif current_user.reviewed?(@listing) %>
  				  <div class="small" style="color: #fc0000;"><i>You have already reviewed this listing.</i></div><br>
            <%= link_to "Go back", listing_path(@listing) %><br>
        <% elsif current_user.publisher_type == "publisher" %>
  				  <div class="small" style="color: #fc0000;"><i>Publisher account types cannot leave reviews.</i></div><br>
            <%= link_to "Go back", listing_path(@listing) %><br>
          </div>
        <% else %>
          <%= render "form", review: @review %>
        <% end %>
      </div>
    </div>
  </div>
</div>
