<div id="other_background_nocenter" style="overflow-y: auto;">

<div class="container full-form-container mt-2">
  <div class="row justify-content-center trans-bg p-3 mt-3 p-sm-4 mt-sm-5 rounded">
    <div class="col-11">
      
          <div class="text-center mb-1">
            <%= image_tag("yarnn-icon.png", size: "96x72") %>
            <h2 class="site-blue"><%= t "devise.invitations.new.header" %></h2>
          </div>
          <hr class="colorgraph">
          <span class="clearfix"></span>
            
          <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
              
            <% resource.class.invite_key_fields.each do |field| -%>
          
            <form>
              <div class="form-group">
                <%= f.label field, class: "small site-blue" %><br />
                <%= f.text_field field, class: "form-control", placeholder: "Email Address" %>
              </div>
              <hr class="colorgraph">
              <h3><%= f.button t("devise.invitations.new.submit_button"), class: "btn btn-lg btn-outline-secondary btn-block mb-2", data: {disable_with: "<i class= 'fa fa-spinner fa-spin'></i> Sending..." } %></h3>
            </form>
          
            <% end %>
          <% end %>

        
    </div>
  </div>
</div>
