<header id="header" class="cf">
	<div class="wrapper_wide">
		<%= link_to root_path do %>
	  		<%= image_tag 'yarnn-text-logo.png', width: 120, alt: 'Yarnn icon', id: "logo" %>
	  	<% end %>
		<nav>
			<ul>
				<% unless user_signed_in? %>
					<li><%= link_to "Explore", albums_path %></li>
					<li><%= link_to "Login", new_user_session_path %></li>
					<li><%= link_to "Register", new_user_registration_path %></li>
				<% else %>
					<li><i>Hello, <%= link_to current_user.username, user_path(current_user) %>!</i></li>
					<li><%= link_to edit_registration_path(current_user) do %>
								<%= image_tag'icons/gear_white.png', width: 12 %>
							<% end %>
					</li>
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
					<li><%= link_to "Explore", albums_path %></li>
					<li><%= link_to "Create", new_track_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>