<!-- header -->
<header>
  <!-- navbar -->
  <nav class="navbar navbar-expand-md fixed-top nav-menu navbar-top-image">
    <%= link_to root_path do %>
	  	<%= image_tag 'yarnn-text-logo.png', width: 120, alt: 'Yarnn icon', id: "logo" %>
	<% end %>
    <button class="navbar-toggler btn-outline-dark" type="button" data-toggle="collapse" data-target="#myNavbar">
      <span class="navbar-toggler-icon mt-2">
			   <i class="fa fa-bars text-danger"></i>
			</span>
    </button>
    <div class="collapse navbar-collapse justify-content-end text-uppercase nav-text scrollable" id="myNavbar">
      <ul class="navbar-nav">

      	<% unless user_signed_in? %>
	        
	        <% unless subscribed? %>
	        <li class="nav-item">
	        	<%= link_to pricing_index_path, :class => "nav-link text-correct m-2 menu-item" do %>
	        		<i class="fas fa-crown text-correct"></i> Go Premium
	        	<% end %>
	        </li>
	        <% end %>

	        <li class="nav-item">
	          <%= link_to "Login", new_user_session_path, :class => "nav-link text-correct m-2 menu-item" %>
	        </li>

	        <li class="nav-item">
	          <%= link_to "Register", new_user_registration_path, :class => "nav-link text-correct m-2 menu-item" %>
	        </li>
	      <% else %>

		      <div class="dropdown">
						  <button class="btn btn-outline-secondary dropdown-toggle text-correct nav-text text-uppercase m-2" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    <i class="fas fa-cog text-correct mr-2"></i><%= current_user.username %>
						    
						    <span class="caret"></span>
						  </button>
				  <ul class="dropdown-menu p-2 nav-text" aria-labelledby="dropdownMenu2">
				    <li class="dropdown-item navdrop-link"><%= link_to "Dashboard", dashboard_path %></li>
				    <li class="dropdown-item navdrop-link"><%= link_to "Profile", user_path(current_user) %></li>
				    <li class="dropdown-item navdrop-link"><%= link_to "Invite People", new_user_invitation_path %></li>
          			<li class="dropdown-item navdrop-link"><%= link_to "Edit Account", edit_registration_path(current_user) %></li>
          		  <div class="dropdown-divider"></div>
	                <li class="dropdown-item navdrop-link"><%= link_to "My Station", station_path(current_user) %></li>
	                <li class="dropdown-item navdrop-link"><%= link_to "My Downloads", purchases_path %></li>
	                <div class="dropdown-divider"></div>
	                <li class="dropdown-item navdrop-link"><%= link_to "Upload Track", new_track_path %></li>
				    <li class="dropdown-item navdrop-link"><%= link_to "Create Album", new_album_path %></li>
	              <div class="dropdown-divider"></div>

	            	<!--- Seller Stuff --->
					<% if current_user.uid? %>
						<li class="dropdown-item navdrop-link"><%= link_to "Sell Something", new_listing_path %></li>
						<li class="dropdown-item navdrop-link"><%= link_to "Sales", sales_path %></li>
		                <li class="dropdown-item navdrop-link"><%= link_to "Payout", payout_method_path %></li>
	            	<% else %>
	            		<li class="dropdown-item navdrop-link"><%= link_to "Become a Seller", payout_method_path %></li>
	            	<% end %>

	            	<div class="dropdown-divider"></div>
	            	<li class="dropdown-item navdrop-link current"><%= link_to destroy_user_session_path, method: :delete do %>
			        		<i class="fas fa-sign-out-alt text-light fa-lg"></i> Log Out
			          <% end %></li>
						  </ul>
						</div>

	        <li class="nav-item">
	        	<%= link_to notifications_path(current_user), :class => "nav-link text-light m-2" do %>
							<i class="fas fa-comments text-correct mr-1"></i>
							<% if @notifications.count > 0 %>
								<span class="site-blue"><%= @notifications.count %></span>
							<% end %>
						<% end %>
			</li>
	        
	        <% unless subscribed? %>
	        <li class="nav-item">
	        	<%= link_to pricing_index_path, :class => "nav-link text-correct m-2 menu-item" do %>
	        		<i class="fas fa-crown text-correct"></i> Go Premium
	        	<% end %>
	        </li>
	        <% else %>
		        <div class="dropdown">
				  <button class="btn btn-outline-secondary dropdown-toggle text-correct nav-text m-2" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    <i class="fas fa-crown text-correct"></i> PREMIUM
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu nav-text p-2" aria-labelledby="dropdownMenu1">
				  	<li class="dropdown-item navdrop-link"><%= link_to "Premium Forum", tag_path("premium") %></li>
				  	<li class="dropdown-item navdrop-link"><%= link_to "Write Blog Post", new_blog_path %></li>
		            <li class="dropdown-item navdrop-link"><%= link_to "Generators", generators_path %></li>
				  </ul>
				</div>
			<% end %>
			
	        <%= link_to  destroy_user_session_path, method: :delete, :class => "nav-link text-light m-2 menu-item" do %>
        		<i class="fas fa-sign-out-alt site-red fa-lg" title="logout"></i>
          <% end %>

	      <% end %>
	      <form class="form-inline" action="<%= search_path %>">
        	<div class="input-group">
          		<input name="q" class="form-control-sm" type="search" placeholder="Search" aria-label="Search">
          		<div class="input-group-append">
          			<button class="btn btn-sm btn-outline-secondary text-correct" type="submit"><i class="fa fa-search"></i></button>
          		</div>
          	</div>
        </form>
      </ul>
    </div>
  </nav>
  <!-- end of navbar -->
<div class="d-flex flex-column flex-md-row justify-content-center p-1 bg-white border-bottom shadow-sm">

  <ul class="nav justify-content-center nav-text-tiny text-uppercase">
    <li class="nav-item site-blue nav-link site-stat">
    	<%= link_to genres_path, :class => "nav-text text-dark m-2 menu-item" do %>
			<i class="fas fa-tags text-dark mobile-size-14" title="genres"></i> <div class="hide-mobile show-inline">GENRES</div>
		<% end %>	
	</li>
	<li class="nav-item site-blue nav-link site-stat">
    	<%= link_to albums_path, :class => "nav-text text-dark m-2 menu-item" do %>
			<i class="fas fa-compact-disc text-dark mobile-size-14" title="albums"></i> <div class="hide-mobile show-inline">ALBUMS</div>
		<% end %>
	</li>
	<li class="nav-item site-blue nav-link site-stat">
    	<%= link_to tracks_path, :class => "nav-text text-dark m-2 menu-item" do %>
			<i class="fas fa-headphones text-dark mobile-size-14" title="tracks"></i> <div class="hide-mobile show-inline">TRACKS</div>
		<% end %>
	</li>
	<li class="nav-item site-blue nav-link site-stat">
    	<%= link_to topics_path, :class => "nav-text text-dark m-2 menu-item" do %>
			<i class="fas fa-comment-alt text-dark mobile-size-14" title="topics"></i> <div class="hide-mobile show-inline">TOPICS</div>
		<% end %>
	</li>
	<li class="nav-item site-blue nav-link site-stat">
    	<%= link_to blogs_path, :class => "nav-text text-dark m-2 menu-item" do %>
			<i class="fas fa-pen-nib text-dark mobile-size-14" title="blogs"></i> <div class="hide-mobile show-inline">BLOGS</div>
		<% end %>
	</li>
	<li class="nav-item site-blue nav-link site-stat">
    	<%= link_to users_path, :class => "nav-text text-dark m-2 menu-item" do %>
			<i class="fas fa-user-astronaut text-dark mobile-size-14" title="users"></i> <div class="hide-mobile show-inline">USERS</div>
		<% end %>
	</li>
	<li class="nav-item site-blue nav-link site-stat">
		<%= link_to listings_path, :class => "nav-text text-dark m-2 menu-item" do %>
			<i class="fas fa-shopping-cart text-dark mobile-size-14" title="marketplace"></i> <div class="hide-mobile show-inline">Marketplace</div>
		<% end %>
	</li>
	</ul>
  </nav>
</div>
</header>
<!-- end of header -->
