<!DOCTYPE html>
<html>
<head>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway|Lato|Ovo|Teko|Vollkorn" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.raty.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://js.stripe.com/v2/' %>
  <%= javascript_pack_tag 'application' %> 
  <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => ENV["PUBLISHABLE_KEY"] %>
  
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
</head>

<% if current_page?(root_path) %>
<body class="no-margin">
<% else %>
<body>
<% end %>
  <%= render 'layouts/header' %>
  <%= yield %>
  
  <% unless current_page?(root_path) %>
    <%= render 'shared/footer' %>
  <% end %>
  
</body>
</html>
